mixin banner(data)
	section.banner
		.container
			.banner__content
				if data.timer
					atricle.banner__content-article
						.banner__content-article-txt
							h1 Future P2E project
							p Discover, collect, stake NFTs and win part of the Jackpot
						.banner__content-article-line
							span.banner__content-article-line-ttl Time until presale
							time.banner__content-article-line-time December 31, 2021, 00:00 (UTC)
						.banner__content-article-timer
							.banner__content-article-timer-col
								span.banner__content-article-timer-num 29
								span.banner__content-article-timer-txt Days
							.banner__content-article-timer-col
								span.banner__content-article-timer-num 12
								span.banner__content-article-timer-txt Hours
							.banner__content-article-timer-col
								span.banner__content-article-timer-num 54
								span.banner__content-article-timer-txt Minutes
							.banner__content-article-timer-col
								span.banner__content-article-timer-num 08
								span.banner__content-article-timer-txt Seconds
						button(type="button").button
							span Join Waitlist
				if data.collection 
					atricle.banner__content-article
						.banner__content-article-txt
							h1 Future P2E project
							p Collect NFTs, earn BPM, play games.
						ul.banner__content-article-list
							li.banner__content-article-list-item 
								.banner__content-article-list-item-icon
									+svg("icon-money-bag")
								.banner__content-article-list-item-info
									span.banner__content-article-list-item-info-ttl Total Supply
									span.banner__content-article-list-item-info-value 138 123 412 <sub>BPM</sub>
							li.banner__content-article-list-item 
								.banner__content-article-list-item-icon
									+svg("icon-reload-2")
								.banner__content-article-list-item-info
									span.banner__content-article-list-item-info-ttl Circulating Supply
									span.banner__content-article-list-item-info-value 412 412 <sub>BPM</sub>
							li.banner__content-article-list-item 
								.banner__content-article-list-item-icon
									+svg("icon-cards-simple")
								.banner__content-article-list-item-info
									span.banner__content-article-list-item-info-ttl Total Burned
									span.banner__content-article-list-item-info-value 12 412 <sub>BPM</sub>
							li.banner__content-article-list-item 
								.banner__content-article-list-item-icon
									+svg("icon-fool-moon")
								.banner__content-article-list-item-info
									span.banner__content-article-list-item-info-ttl Market Cap
									span.banner__content-article-list-item-info-value $1 000 000
							li.banner__content-article-list-item 
								.banner__content-article-list-item-icon
									+svg("icon-сapitolium")
								.banner__content-article-list-item-info
									span.banner__content-article-list-item-info-ttl NFT Bank
									span.banner__content-article-list-item-info-value 482 194 <sub>BPM</sub>
							li.banner__content-article-list-item 
								.banner__content-article-list-item-icon
									+svg("icon-cards-onfire")
								.banner__content-article-list-item-info
									span.banner__content-article-list-item-info-ttl NFT Burned
									span.banner__content-article-list-item-info-value 14 289

						.banner__content-article-bottom
							button(type="button").button
								span Buy BPM
							button(type="button").button
								span Open NFT egg

				.banner__content-picture
					.banner__content-pokemon
						img(src="s/images/useful/pikachu.svg", alt="pikachu")
					picture
						source(media='(min-width: 479px)' srcset='./s/images/useful/banner-img.svg')
						source(srcset='./s/images/useful/banner-img.svg' type='image/webp')
						img(src='./s/images/useful/banner-img.svg' alt='img')
