.banner {
    padding: 14.8rem 0 22.7rem;
    background-image: url("../images/useful/back_banner.png");
    background-size: cover;
    background-position: bottom;
    position: relative;
    min-height: calc(100vh - 8.7rem);
    display: flex;
    align-items: center;
    @media (max-width: $sw-sm-max) {
        padding: 0 0 4.8rem;
        background-image: initial;
        background-color: transparent;
    }
    @media (max-width: $sw-xx-max) {
        padding: 2rem 0 8rem;
    }
    &:after {
        content: " ";
    }
    
    &__content {
        display: flex;
        align-items: flex-start;
        position: relative;
        @media (max-width: $sw-sm-max) {
            flex-direction: column-reverse;
            align-items: center;
        }
        &-article {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @media (max-width: $sw-xx-max) {
                align-items: center;
            }
            &-txt {
                width: 100%;
                
                &:not(:last-child) {
                    margin-bottom: 4.8rem;
                    @media (max-width: $sw-xx-max) {
                        margin-bottom: 2.4rem;
                    }
                }
                h1 {
                    // font-family: "FredokaOne";
                    font-family: "Nunito";
                    font-weight: 900;
                    font-size: 6rem;
                    line-height: 1.33em;
                    color: #FCBE41;
                    margin-bottom: 1.6rem;
                    @media (max-width: $sw-xx-max) {
                        text-align: center;
                        font-size: 3.2rem;
                    }
                }
                p {
                    font-weight: 600;
                    font-size: 2rem;
                    line-height: 1.5em;
                    color: #C4C7D1;
                    margin-bottom: 0;
                    @media (max-width: $sw-xx-max) {
                        text-align: center;
                    }
                }
            }
            &-line {
                display: flex;
                align-items: center;
                width: 100%;
                @media (max-width: $sw-xx-max) {
                    flex-direction: column;
                }
                &:not(:last-child) {
                    margin-bottom: 1.6rem;
                }
                &-ttl {
                    font-weight: 700;
                    font-size: 2.4rem;
                    line-height: 1.5em;
                    color: #C4C7D1;
                    margin-right: 2.4rem;
                    @media (max-width: $sw-xx-max) {
                        margin-right: 0;
                        margin-bottom: 1.6rem;
                    }
                }
                &-time {
                    font-weight: 900;
                    font-size: 1.2rem;
                    line-height: 1.17em;
                    color: #C4C7D1;
                    border-radius: 8px;
                    border: 2px solid #5BACF2;
                    padding: 8px 1.2rem;
                }
            }
            &-timer {
                display: flex;
                align-items: flex-start;
                width: 100%;
                @media (max-width: $sw-xx-max) {
                    justify-content: center;
                }
                &:not(:last-child) {
                    margin-bottom: 4.8rem;
                    @media (max-width: $sw-xx-max) {
                        margin-bottom: 3.2rem;
                    }
                }
                &-col {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 6.5rem;
                    @media (max-width: $sw-xx-max) {
                        width: 4.4rem;
                    }
                    &:not(:last-child) {
                        margin-right: 7.4rem;
                        position: relative;
                        @media (max-width: $sw-xx-max) {
                            margin-right:  4.4rem;
                        }
                        &:after {
                            content: ":";
                            font-style: normal;
                            font-weight: normal;
                            font-size: 6rem;
                            line-height: 1.33em;
                            color: rgba(#FCBE41, .5);
                            font-family: "ReadexPro";
                            position: absolute;
                            top: -6px;
                            right: -4.6rem;
                            @media (max-width: $sw-xx-max) {
                                font-size: 3.2rem;
                                top: -3px;
                                right: -2.5rem;
                            }
                        }
                    }

                }
                &-num {
                    // font-family: "FredokaOne";
                    font-family: "Nunito";
                    font-weight: 900;
                    font-size: 6rem;
                    line-height: 1.33em;
                    color: #FCBE41;
                    margin-bottom: 4px;
                    @media (max-width: $sw-xx-max) {
                        font-size: 3.2rem;
                        margin-bottom: 6px;
                    }
                }
                &-txt {
                    font-weight: 600;
                    font-size: 1.6rem;
                    line-height: 1.5em;
                    color: #C4C7D1;
                }
            }
            &-list {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 100%;
                max-width: 64rem;
                padding-top: 1.2rem;
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                    max-width: 49rem;
                    margin: 0 auto;
                }
                &:not(:last-child) {
                    margin-bottom: 2rem;
                    @media (max-width: $sw-xx-max) {
                        margin-bottom: 0;
                    }
                }
                &-item {
                    width: calc(50% - 1.2rem);
                    display: flex;
                    align-items: center;
                    margin-bottom: 4rem;
                    @media (max-width: $sw-xx-max) {
                        // width: 100%;
                    }
                    &-icon {
                        width: 5.6rem;
                        height: 5.6rem;
                        background-color: #10202F;
                        box-shadow: 0px 32px 96px rgba(21, 26, 44, .32);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transform: rotate(45deg);
                        border-radius: 1.4rem;
                        overflow: hidden;
                        flex-shrink: 0;
                        margin-right: 1.6rem;
                        @media (max-width: $sw-xx-max) {
                            width: 4.8rem;
                            height: 4.8rem;
                            margin-right: 1.2rem;
                        }
                        .icon {
                            font-size: 3rem;
                            color: #FCBE41;
                            transform: rotate(-45deg);
                            @media (max-width: $sw-xx-max) {
                                font-size: 2.2rem;
                            }
                            &-cards-onfire {
                                font-size: 3.2rem;
                                @media (max-width: $sw-xx-max) {
                                    font-size: 2.4rem;
                                }
                            }
                        }
                    }
                    &-info {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        flex-grow: 1;
                        &-ttl {
                            font-family: 'Nunito';
                            font-weight: 800;
                            font-size: 1.6rem;
                            line-height: 1.5em;
                            color: #FFFFFF;
                            margin-bottom: 4px;
                            width: 100%;
                            @media (max-width: $sw-xx-max) {
                                font-size: 1rem;
                                margin-bottom: 0;
                            }
                        }
                        &-value {
                            font-family: 'Nunito';
                            font-weight: 800;
                            font-size: 2.4rem;
                            line-height: 1.5em;
                            color: #FCBE41;
                            width: 100%;
                            letter-spacing: -0.5px;
                            @media (max-width: $sw-xx-max) {
                                font-size: 1.4rem;
                                letter-spacing: -0.7px;
                            }
                            sub {
                                bottom: 0;
                                font-size: 65%;
                                font-weight: 600;
                                @media (max-width: $sw-xx-max) {
                                    font-size: 55%;
                                }
                            }
                        }
                    }
                }
            }
            &-bottom {
                display: flex;
                justify-content: space-between;
                width: 100%;
                max-width: 64rem;
                @media (max-width: $sw-xx-max) {
                    flex-wrap: wrap;
                }
                .button  {
                    width: calc(50% - 1.6rem);
                    @media (max-width: $sw-xx-max) {
                        width: 100%;
                    }
                    &:not(:last-child) {
                        @media (max-width: $sw-xx-max) {
                            margin-bottom: 1.6rem;
                        }
                    }
                }
            }
            & > .button {
                width: 100%;
                max-width: 49rem;
                flex-shrink: 0;
            }
        }
        &-picture {
            position: absolute;
            top: -22.8rem;
            right: -22.8rem;
            width: 69.7rem;
            @media (max-width: 1420px) {
                right: -12.8rem;
            }
            @media (max-width: $sw-sm-max) {
                position: relative;
                top: 0;
                right: 0;
                width: 48.4rem;
                margin: 0 auto;
            }
            @media (max-width: $sw-xx-max) {
                width: 100%;
                max-width: 35.4rem;
            }
            &:after {
                padding-bottom: 128.911359725%;
                display: block;
                visibility: hidden;
                content: " ";
            }
            & > picture {
                img {
                    display: block;
                    position: absolute;
                    margin: auto;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                }
            }
        }
        &-pokemon {
            display: flex;
            justify-content: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 43.3rem;
            z-index: 2;
            @media (max-width: $sw-sm-max) {
                width: 100%;
                max-width: 34rem;
            }
            img {
                animation: float 4s ease infinite;
                @media (max-width: $sw-sm-max) {
                    animation: floatMobile 4s ease infinite;
                }
            }
        }
    }
}

@keyframes float {
	0% {
        transform: translateY(0);
	}
    50% {
        transform: translateY(-9rem);
    }
	100% {
		transform: translateY(0);
	}
}

@keyframes floatMobile {
	0% {
        transform: translateY(0);
	}
    50% {
        transform: translateY(-7rem);
    }
	100% {
		transform: translateY(0);
	}
}