.carousel-section {
    padding: 8rem 0 3rem 0;
    position: relative;
    z-index: 2;
    margin-bottom: 12.2rem;
    @media (max-width: $sw-xs-max) {
        background-image: none;
        padding: 0 0 3rem 0;
        margin-bottom: 7rem;
    }
    @media (max-width: 575px) {
        padding: 0 0 3rem 0;
        margin-bottom: 4rem;
    }
    .container {
        padding: 0;
        @media (min-width: $sw-xs-min) {
            padding: 0 5px;
            max-width: 760px;
        }
        @media (min-width: $sw-sm-min) {
            padding: 0 1.5rem;
            max-width: 1000px;
        }
        @media (min-width: $sw-md-min) {
            max-width: 1180px;
        }
        @media (min-width: $sw-lg-min) {
            max-width: 1260px;
        }
    }
    &__container {
        margin-top: -2rem;
        padding: 2rem 6rem;
        @media (max-width: $sw-xs-max) {
            padding: 2rem 3rem;
        }
        @media (max-width: 575px) {
            padding: 2rem 1.5rem;
        }
    }
    &__slide {
        height: 48rem;
        background-color: $secondaryDark;
        box-shadow: 0px 9px 47px rgba(1, 14, 51, 0.32);
        border-radius: 3.6rem;
        @media (max-width: $sw-sm-max) {
            height: 32rem;
            border-radius: 2.4rem;
        }
        @media (max-width: $sw-xs-max) {
            border-radius: 1.5rem;
            height: 25rem;
            box-shadow: 0px 17px 20px rgba(1, 14, 51, 0.32);
        }
        @media (max-width: $sw-xx-max) {
            height: 24rem;
        }
        @media (max-width: 575px) {
            box-shadow: 0px 10px 16px rgba(1, 14, 51, 0.32);
        }
    }
    &__pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3.2rem;
        .swiper-pagination-bullet {
            width: 2rem;
            height: 2rem;
            margin: 0 1.3rem;
            opacity: 0.2;
            transition: opacity .3s ease;
            background-image: url('../../s/images/useful/svg/pokeball.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            cursor: pointer;
            &-active {
                opacity: 1;
            }
        }
    }
}