mixin carousel-section(data)
	.carousel-section
		.container
			.carousel-section__inner
				.swiper-container.carousel-section__container
					.swiper-wrapper
						.swiper-slide
							.carousel-section__slide(href="javascript:void(0)")
						.swiper-slide
							.carousel-section__slide(href="javascript:void(0)")
						.swiper-slide
							.carousel-section__slide(href="javascript:void(0)")
					.swiper-pagination.carousel-section__pagination