.roadmap {
    margin-bottom: 6rem;
    @media (max-width: $sw-sm-max) {
        margin-bottom: 10rem;
    }
    @media (max-width: $sw-xx-max) {
        margin-bottom: 8rem;
    }
    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        &:after {
            content: " ";
            width: 46.3rem;
            height: 59.8rem;
            background-image: url("../images/useful/stages/stage_decor.svg");
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            @media (max-width: $sw-sm-max) {
                width: 32.7rem;
                height: 42.2rem;
            }
            @media (max-width: $sw-xs-max) {
                top: 6rem;
                left: 21rem;
                right: initial;
                bottom: initial;
                margin: initial;
            }
            @media (max-width: 480px) {
                display: none;
            }
        }
        &-list {
            width: 35rem;
            @media (max-width: $sw-xs-max) {
                max-width: 21rem;
            }
            @media (max-width: 480px) {
                max-width: initial;
                width: 100%;
            }
        }
        &-col {
            width: 50%;
            flex-shrink: 0;
            display: flex;
            align-items: flex-start;
            margin-bottom: 8rem;
            position: relative;
            z-index: 1;

            @media (max-width: $sw-xs-max) {
                width: 100%;
                margin-bottom: 0;
            }
            &:nth-child(even) {
                justify-content: flex-end;
                .roadmap__content-li {
                    &:not(:first-child) {
                        justify-content: flex-end;
                        flex-direction: row-reverse;
                        @media (max-width: 480px) {
                            flex-direction: row;
                            justify-content: space-between;
                        }
                    }
                    .roadmap__content-icon {
                        margin-right: 1.6rem;
                        margin-left: 0;
                        @media (max-width: 480px) {
                            margin-right: 0;
                            margin-left: 1.6rem;
                        }
                    }
                }
            }
            &:nth-child(odd):last-child {
                @media (min-width: $sw-sm-min) {
                    justify-content: center;
                }
                .roadmap__content-li {
                    &:not(:first-child) {
                        justify-content: flex-end;
                        flex-direction: row-reverse;
                        @media (max-width: 480px) {
                            flex-direction: row;
                            justify-content: space-between;
                        }
                    }
                    .roadmap__content-icon {
                        margin-right: 1.6rem;
                        margin-left: 0;
                        @media (max-width: 480px) {
                            margin-right: 0;
                            margin-left: 1.6rem;
                        }
                    }
                }
            }
            &:not(:last-child) {
                @media (max-width: 480px) {
                    margin-bottom: 3.2rem;
                }
            }
        }
        &-li {

            &:first-child {
                span {
                    // font-family: "FredokaOne";
                    font-family: "Nunito";
                    font-weight: 900;
                    font-size: 3.2rem;
                    line-height: 1.25em;
                    color: #FCBE41;
                    @media (max-width: 480px) {
                        font-size: 2.4rem;
                    }
                }
            }
            &:not(:last-child) {
                margin-bottom: 1.8rem;
            }
            &:not(:first-child) {
                display: flex;
                align-items: center;
                justify-content: space-between;
                span {
                    font-size: 2rem;
                    font-weight: 600;
                    line-height: 1.25em;
                    color: #C4C7D1;
                }
            }
            &.content-li--active {
                .roadmap__content-icon {
                    opacity: 1;
                }
            }
        }
        &-icon {
            width: 3.2rem;
            height: 3.2rem;
            position: relative;
            opacity: .3;
            flex-shrink: 0;
            margin-left: 1.6rem;
            img {
                display: block;
                position: absolute;
                margin: auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
            }
        }
    }
}