mixin roadmap(data)
	section.roadmap
		.container
			.section-title.section-title--center
				h2.h2 Roadmap
			.roadmap__content
				.roadmap__content-col
					ul.roadmap__content-list 
						li.roadmap__content-li 
							span Stage 1
						li.roadmap__content-li.content-li--active 
							span Website
							.roadmap__content-icon
								img(src="./s/images/useful/stages/1.png" alt="icon")
						li.roadmap__content-li.content-li--active 
							span Social media channels
							.roadmap__content-icon
								img(src="./s/images/useful/stages/1.png" alt="icon")
						li.roadmap__content-li.content-li--active 
							span Start of promotion
							.roadmap__content-icon
								img(src="./s/images/useful/stages/1.png" alt="icon")
						li.roadmap__content-li  
							span Audit
							.roadmap__content-icon
								img(src="./s/images/useful/stages/1.png" alt="icon")
						li.roadmap__content-li  
							span Presale
							.roadmap__content-icon
								img(src="./s/images/useful/stages/1.png" alt="icon")
						li.roadmap__content-li  
							span Launch of token
							.roadmap__content-icon
								img(src="./s/images/useful/stages/1.png" alt="icon")
						li.roadmap__content-li  
							span Launch of boxes and NFTs
							.roadmap__content-icon
								img(src="./s/images/useful/stages/1.png" alt="icon")
						li.roadmap__content-li  
							span Ama
							.roadmap__content-icon
								img(src="./s/images/useful/stages/1.png" alt="icon")
				.roadmap__content-col
					ul.roadmap__content-list 
						li.roadmap__content-li 
							span Stage 2
						li.roadmap__content-li  
							span Launch of swap
							.roadmap__content-icon
								img(src="./s/images/useful/stages/2.png" alt="icon")
						li.roadmap__content-li  
							span Coinmarketcap listing
							.roadmap__content-icon
								img(src="./s/images/useful/stages/2.png" alt="icon")
						li.roadmap__content-li  
							span Coingecko listing
							.roadmap__content-icon
								img(src="./s/images/useful/stages/2.png" alt="icon")
						li.roadmap__content-li  
							span Other listing websites
							.roadmap__content-icon
								img(src="./s/images/useful/stages/2.png" alt="icon")
						li.roadmap__content-li  
							span Voting websites
							.roadmap__content-icon
								img(src="./s/images/useful/stages/2.png" alt="icon")
						li.roadmap__content-li  
							span Massive marketing company
							.roadmap__content-icon
								img(src="./s/images/useful/stages/2.png" alt="icon")
						li.roadmap__content-li  
							span Launch of staking
							.roadmap__content-icon
								img(src="./s/images/useful/stages/2.png" alt="icon")
				.roadmap__content-col
					ul.roadmap__content-list 
						li.roadmap__content-li 
							span Stage 3
						li.roadmap__content-li  
							span Referral system launch
							.roadmap__content-icon
								img(src="./s/images/useful/stages/3.png" alt="icon")
						li.roadmap__content-li  
							span Giveaways
							.roadmap__content-icon
								img(src="./s/images/useful/stages/3.png" alt="icon")
						li.roadmap__content-li  
							span Launch of upgrading
							.roadmap__content-icon
								img(src="./s/images/useful/stages/3.png" alt="icon")
						li.roadmap__content-li  
							span Launch of NFT swaps
							.roadmap__content-icon
								img(src="./s/images/useful/stages/3.png" alt="icon")
						li.roadmap__content-li  
							span Second audit
							.roadmap__content-icon
								img(src="./s/images/useful/stages/3.png" alt="icon")
				.roadmap__content-col
					ul.roadmap__content-list 
						li.roadmap__content-li 
							span Stage 4
						li.roadmap__content-li  
							span Listing on CEX
							.roadmap__content-icon
								img(src="./s/images/useful/stages/4.png" alt="icon")
						li.roadmap__content-li  
							span NFT marketplace
							.roadmap__content-icon
								img(src="./s/images/useful/stages/4.png" alt="icon")
						li.roadmap__content-li  
							span Custom merchandise
							.roadmap__content-icon
								img(src="./s/images/useful/stages/4.png" alt="icon")
						li.roadmap__content-li  
							span Alpha version of Game
							.roadmap__content-icon
								img(src="./s/images/useful/stages/4.png" alt="icon")
						li.roadmap__content-li  
							span Beta version of Game
							.roadmap__content-icon
								img(src="./s/images/useful/stages/4.png" alt="icon")
						li.roadmap__content-li  
							span Stress-test
							.roadmap__content-icon
								img(src="./s/images/useful/stages/4.png" alt="icon")
				.roadmap__content-col
					ul.roadmap__content-list 
						li.roadmap__content-li 
							span Stage 5
						li.roadmap__content-li.content-li--active
							span Launch of the Game
							.roadmap__content-icon
								img(src="./s/images/useful/stages/5.png" alt="icon")
