@mixin font-face ($fontname, $fontfile, $fontweight: normal, $fontstyle: normal) {
	@font-face {
		font-family: $fontname;
		src: url('../fonts/' + $fontfile + '/' + $fontfile + '.eot');
		src: url('../fonts/' + $fontfile + '/' + $fontfile + '.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/' + $fontfile + '/' + $fontfile + '.woff') format('woff'),
			 url('../fonts/' + $fontfile + '/' + $fontfile + '.ttf') format('truetype'),
			 url('../fonts/' + $fontfile + '/' + $fontfile + '.svg##{fontname}') format('svg');
		font-weight: $fontweight;
		font-style: $fontstyle;
	}
};

@include font-face('FredokaOne', FredokaOne-Regular, 400);

@include font-face('ReadexPro', ReadexPro-Regular, 400);
@include font-face('ReadexPro', ReadexPro-Medium, 500);
@include font-face('ReadexPro', ReadexPro-Bold, 700);

@include font-face('Gopher', Gopher-Regular, 400);
@include font-face('Gopher', Gopher-Italic, 400, italic);
@include font-face('Gopher', Gopher-Bold, 600);
@include font-face('Gopher', Gopher-BoldItalic, 600, italic);

@include font-face('Nunito', Nunito-ExtraLight, 200);
@include font-face('Nunito', Nunito-ExtraLightItalic, 200, italic);
@include font-face('Nunito', Nunito-Light, 300);
@include font-face('Nunito', Nunito-LightItalic, 300, italic);
@include font-face('Nunito', Nunito-Regular, 400);
@include font-face('Nunito', Nunito-Italic, 400, italic);
@include font-face('Nunito', Nunito-Medium, 500);
@include font-face('Nunito', Nunito-MediumItalic, 500, italic);
@include font-face('Nunito', Nunito-SemiBold, 600);
@include font-face('Nunito', Nunito-SemiBoldItalic, 600, italic);
@include font-face('Nunito', Nunito-Bold, 700);
@include font-face('Nunito', Nunito-BoldItalic, 700, italic);
@include font-face('Nunito', Nunito-ExtraBold, 800);
@include font-face('Nunito', Nunito-ExtraBoldItalic, 800, italic);
@include font-face('Nunito', Nunito-Black, 900);
@include font-face('Nunito', Nunito-BlackItalic, 900, italic);