.l-wrapper{
	position: relative;
	min-height: 100vh;
	overflow: hidden;
	&.menu-is-active {
		@media (max-width: $sw-xs-max) {
			overflow: hidden;
			&:after {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

main {
	position: relative;
	padding-top: 8.7rem;
	& > section {
		position: relative;
		z-index: 1;
	}
}

a {
	transition: color .3s ease;
	text-decoration: none;
	&[disabled] {
		cursor: auto !important;
		opacity: .5 !important;
		color: white !important;
	}
}

p {
	font-size: 1.6rem;
	line-height: 1.5em;
	color: $gray;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.desktop-text {
	@media (max-width: 575px) {
		display: none;
	}
}
.mobile-text {
	display: none;
	@media (max-width: 575px) {
		display: block;
	}
}

.hint-btn {
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 6px;
	&:hover {
		@media (min-width: $sw-xs-min) {
			.icon-question {
				color: $black;
			}
		}
	}
	.icon-question {
		font-size: 1.2rem;
		color: rgba($gray, 0.2);
		transition: color .3s ease;
	}
}

.container {
	@media (min-width: 576px) {
		padding-left: 33px;
		padding-right: 33px;
	}
	@media (min-width: $sw-xs-min) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.section-top {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 6rem;
	position: relative;
	z-index: 1;
	@media (max-width: 575px) {
		margin-bottom: 3.3rem;
	}
	&__title {
		width: 100%;
		h2 {
			font-family: $fredoka;
			font-size: 4.8rem;
			line-height: 1.15em;
			text-align: center;
			font-weight: 400;
			color: $black;
			position: relative;
			@media (max-width: 575px) {
				font-size: 3.2rem;
				line-height: 1.5em;
			}
		}
	}
	&__subtitle {
		margin-top: 3.2rem;
		text-align: center;
		width: 100%;
		max-width: 73rem;
		@media (max-width: $sw-xs-max) {
			max-width: 57rem;
		}
		@media (max-width: $sw-xx-max) {
			max-width: 51rem;
		}
		@media (max-width: 575px) {
			margin-top: 2.6rem;
		}
		p {
			margin-bottom: 0;
			font-size: 1.6rem;
			line-height: 1.5em;
			color: $gray;
		}
	}
}

.button {
	min-height: 7.2rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 2.4rem;
	border-radius: 2rem;
	position: relative;
	background: linear-gradient(93.37deg, #5BACF2 1.22%, #2872B2 100%);
	&[disabled] {
		cursor: default;
		background: linear-gradient(93.37deg, rgba(91, 172, 242, 0.2) 1.22%, rgba(40, 114, 178, 0.2) 100%);
		span:not(.header__content-nav-sup) {
			color: rgba(#C4C7D1, 0.5);
		}
	}
	span:not(.header__content-nav-sup) {
		// font-family: "FredokaOne";
		font-family: "Nunito";
		font-weight: 900;
		font-size: 2rem;
		line-height: 1.2em;
		color: #FAFCFE;
		text-align: center;
	}
	.icon {
		color: #FAFCFE;
		margin-right: 1rem;
		flex-shrink: 0;
		&-wallet {
			font-size: 2.2rem;
		}
		&-play-rounded {
			font-size: 2.4rem;
			margin-right: 8px;
		}
	}
	.header__content-nav-sup {
		top: -0.7rem;
	    right: -0.3rem;
		font-size: 1.1rem;
	}
	&.button--small {
		min-height: 5.6rem;
		padding: 1.6rem 2.4rem;
	}
	&.button--xs {
		min-height: 3.2rem;
		padding: 5px 1rem;
	}
}

.section-title {
	max-width: 72rem;
	margin: 0 auto;
	&:not(:last-child) {
		margin-bottom: 4.8rem;
		@media (max-width: 480px) {
			margin-bottom: 3.2rem;
		}
	}
	&--center {
		.h2, p {
			text-align: center;
		}
	}
}

.h2 {
	// font-family: "FredokaOne";
	font-family: "Nunito";
	font-weight: 900;
	font-size: 6rem;
	line-height: 1.33em;
	color: #FCBE41;
	margin-bottom: 0;
	@media (max-width: 480px) {
		font-size: 3.2rem;
	}
	&:not(:last-child) {
		margin-bottom: 8px;
		@media (max-width: 480px) {
			margin-bottom: 1.6rem;
		}
	}
	& + p {
		font-weight: 600;
		font-size: 2rem;
		line-height: 1.5em;
		color: #C4C7D1;
		margin-bottom: 0;
		@media (max-width: $sw-sm-max) {
			font-weight: 400;
		}
	}
}

.h2-sm {
	// font-family: "FredokaOne";
	font-family: "Nunito";
	font-weight: 900;
	font-size: 3.2rem;
	line-height: 1.25em;
	color: #FCBE41;
	margin-bottom: 0;
	@media (max-width: 480px) {
		font-size: 2.4rem;
	}
	&:not(:last-child) {
		margin-bottom: 4.8rem;
		@media (max-width: $sw-sm-max) {
			margin-bottom: 1.6rem;
		}
	}
}

.h3 {
	// font-family: "FredokaOne";
	font-family: "Nunito";
	font-weight: 900;
	font-size: 3.2rem;
	line-height: 1.25em;
	color: #FFFFFF;
	@media (max-width: $sw-sm-max) {
		font-size: 2.4rem;
	}
	&:not(:last-child) {
		margin-bottom: 1.6rem;
	}
	& + p {
		font-weight: 600;
		font-size: 2rem;
		line-height: 1.5em;
		color: #C4C7D1;
		margin-bottom: 0;
		@media (max-width: $sw-sm-max) {
			font-weight: 400;
		}
	}
}

.decor {
	&--type {
		&-orange {
			color: #FB7D3A;
			&.active {
				color: #FFFFFF;
				background-color: #FB7D3A;
			}
		}
		&-blue {
			color: #4695C0;
			&.active {
				color: #FFFFFF;
				background-color: #4695C0;
			}
		}
		&-green {
			color: #9AC35C;
			&.active {
				color: #FFFFFF;
				background-color: #9AC35C;
			}
		}
		&-yellow {
			color: #EFD151;
			&.active {
				color: #FFFFFF;
				background-color: #EFD151;
			}
		}
		&-gray {
			color: #9D9581;
			&.active {
				color: #FFFFFF;
				background: linear-gradient(101.17deg, #9D9581 0%, #746C57 100%);
			}
		}
		&-coach {
			color: #FFFFFF;
			&.active {
				color: #FFFFFF;
				background: #10202F;
			}
		}
	}
}

// UI page
.ui-wrapper {
	padding: 6rem 0;
	.col-sm-8 {
		margin-bottom: 5rem;
		text-align: center;
	}
}
.row-ui {
	display: flex;
	flex-wrap: wrap;
	.col {
		margin-bottom: 3rem;
		width: 20%;
	}
	&__icon {
		text-align: center;
		margin-bottom: 5px;
		min-height: 3rem;
		display: flex;
		align-items: center;
		justify-content: center;
		.icon {
			font-size: 3rem;
			color: $white;
			&-minus {
				font-size: 4px;
			}
		}
	}
	&__name {
		text-align: center;
		font-size: 1.4rem;
		color: $white;
	}
}


// TOOLTIP

.tooltip {
	&-container {
		position: relative;

		.icon-question, .icon-question-stroked {
			font-size: 1.6rem !important;
			color: #494149 !important;
			margin: 0 !important;
			transition: color .3s ease;
		}

		&:hover {
			.icon-question {
				color: white !important;
			}
			.tooltip-dropdown {
				visibility: visible;
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
	&-dropdown {
		visibility: hidden;
		opacity: 0;
		transform: translateY(10px);
		pointer-events: none;

		position: absolute;
		bottom: calc(100% + 10px);
		left: -35px;
		transition: all .3S ease;

		box-sizing: border-box;
		box-shadow: 0 6px 30px rgba(0, 0, 0, 0.08);
		background-color: #10202F;
		border-radius: 6px;
		text-align: left;
		padding: 12px;
		z-index: 500;

		width: 180px;
		display: block;

		.tooltip-container--leftDirection & {
			left: auto;
			right: -5px;
		}

		span {
			color: white;
			font-size: 14px !important;
			font-weight: 300;
			line-height: 1.2em;
			display: block;
		}
	}
}


.drop-custom {
	position: relative;
	&__btn {
		display: flex;
		align-items: center;
		border: 1px solid rgba(255, 255, 255, 0.2);
		box-sizing: border-box;
		border-radius: 1.2rem;
		min-height: 4.4rem;
		padding: 1.2rem 2rem 1.2rem 1.6rem;
		&:hover {
			& > span, .icon {
				color: #5BACF2;
			}
		}
		span {
			transition: all .3s ease;
			font-family: $nunito;
			font-weight: 800;
			font-size: 1.2rem;
			color: #FAFCFE;
			margin-right: 5px;
		}
		.icon-drop-arrow {
			font-size: 7px;
			display: flex;
			transition: all .3s ease;
			position: relative;
			bottom: 1px;
			color: white;
			transform: rotate(180deg);

			&:first-child {
				margin-right: 6px;
			}
			&:last-child {
				margin-left: 6px;
			}
		}
		.icon-flag {
			font-size: 1.6rem;
			flex-shrink: 0;
			display: flex;
			flex-shrink: 0;
			transition: all .3s ease;
			margin-right: 4px;
			.icon-flag-en {
				font-size: 1.2rem;
			}
		}

		&-desktop {
			display: flex;
			align-items: center;
			@media ( max-width: $sw-sm-max) {
				display: none;
			}
		}
	}
	&__content {
		position: absolute;
		top: 100%;
		right: 0;
		background: #080A0C;
		border-radius: 8px;
		border: 1px solid rgba(255, 255, 255, 0.2);
		box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
		padding: 8px 2px;
		z-index: 10;
		width: 100%;

		transform: translateY(-1rem);
		opacity: 0;
		visibility: hidden;
		transition: all .2s ease;
		&-link {
			display: flex;
			align-items: center;
			padding: 7px 1.2rem;
			border-radius: 8px;
			&:hover {
				span, .icon {
					color: #5BACF2;
				}
			}
			&.active {
				background: #10202F;
				span, .icon {
					color: white;
				}
			}
			.icon-flag {
				font-size: 1.6rem;
				flex-shrink: 0;
				display: flex;
				flex-shrink: 0;
				transition: all .3s ease;
				margin-right: 4px;
				flex-shrink: 0;
				.icon-flag-en {
					font-size: 1.2rem;
				}
			}
			& > span {
				transition: all .3s ease;
				font-weight: 800;
				font-size: 12px;
				color: #FAFCFE;
			}
			.flag-wrap {
				margin-right: 5px;
			}
		}
		&-sub-ttl {
			font-weight: 500;
			font-size: 1.4rem;
			display: block;
			margin-bottom: 1.5rem;
			color: #909090;
			// font-family: "FredokaOne";
			font-family: "Nunito";
			font-weight: 900;
		}
	}
	&.visible {
		.drop-custom__content {
			transform: translateY(0);
			opacity: 1;
			visibility: visible;
		}
		.icon-drop-arrow {
			transform: rotate(0);
		}
	}
}


.not-foud {
	&__decor {
		width: 43rem;
		height: 34.2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		bottom: 2rem;
		right: 0;
		@media ( max-width: $sw-xs-max) {
			bottom: 10rem;
		}
		@media ( max-width: $sw-xx-max) {
			width: 22.4rem;
			height: 17.8rem;
			bottom: initial;
			top: 1rem;
		}
	}
	&__centered {
		padding: 14rem 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		z-index: 1;
		@media ( max-width: $sw-xs-max) {
			padding: 8rem 0 50rem;
		}
		@media ( max-width: $sw-xx-max) {
			padding: 4.8rem 0 10rem;
		}
		&-icon {
			display: flex;
			margin-bottom: 8.4rem;
			width: 31rem;
			@media ( max-width: $sw-xx-max) {
				width: 16rem;
				margin-bottom: 2.6rem;
			}
		}
		&-ttl {
			font-weight: 900;
			font-size: 3.2rem;
			line-height: 1.25em;
			text-align: center;
			color: #FCBE41;
			text-align: center;
			margin-bottom: 2.4rem;
			br {
				@media ( min-width: 780px) {
					display: none;
				}
			}

		}
		&-txt {
			font-weight: 600;
			font-size: 2rem;
			line-height: 1.5em;
			text-align: center;
			color: #C4C7D1;
			margin-bottom: 3.2rem;
		}
		.button {
			width: 100%;
			max-width: 35rem;
			margin: 0 auto;
		}
		&-social {
			display: flex;
			flex-direction: column;
			align-items: center;
			&-ttl {
				font-weight: 600;
				font-size: 1rem;
				line-height: 1.2em;
				text-align: center;
				color: #C4C7D1;
				margin-bottom: 1.6rem;
				padding-top: 8rem;
				@media ( max-width: $sw-xx-max) {
					padding-top: 3.2rem;
				}
			}
			.footer__content-info-social-row a .icon {
				width: 4.8rem;
				font-size: 4.8rem;
			}
			.footer__content-info-social-row a:not(:last-child) {
				margin-right: 3.2rem;
			}
		}
	}
}



// rail slider 


.vue-slider-rail {
	background-color: #10202F !important;
	border-radius: 2px;
  }
  
  .vue-slider-process {
	background-color: #ffc107 !important;  
  }
  
  .vue-slider-dot-handle {
	background-color: #ffc107 !important;  
	outline: none !important;
	border: 5px solid white
  }
  
  .vue-slider-dot-handle:focus {
	outline: none !important;  
  }
  
  .vue-slider-dot-handle {
    box-shadow: none !important;  
  }
  
  
  
  .vue-slider-dot {
	outline: none !important;
  }
  
  .vue-slider-dot-tooltip-inner {
	 background-color: #ffc107 !important;
	 border-radius: 8px !important;
	 border-color: #ffc107 !important;
  }
  
  .vue-slider-dot-tooltip-text {
	font-weight: 600 !important;
	font-size: 12px !important;
	line-height: 16px !important;
  }
  
  .vue-slider-rail {
		border-radius: 20px !important;
  }

// rail slider end
  