.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
	&-sm-arr-down {
		width: 1.42857142857em;
	}
	&-menu-down {
		width: 1.42857142857em;
	}
	&-telegram {
		width: 1.2em;
	}
	&-reload {
		width: 0.974609375em;
	}
	&-exchange {
		width: 0.9501953125em;
	}
	&-arrow-down {
		width: 0.8287292817679558em;
	}
	&-check-mini {
		width: 1.36328125em;
	}
	&-dropdown {
		width: 1.5em;
	}
	&-more {
		width: 3.5458984375em;
	}
	&-flag {
		&-en {
			width: 1.41666666667em;
		}
	}
	&-flag {
		width: 1.75em;
	}
	&-cash {
		width: 0.962890625em;
	}
	&-cards {
		width: 1.0595703125em;
	}
	&-egg-opened {
		width: 0.6767578125em;
	}
	&-egg,
	&-egg-filled {
		width: 0.775390625em;
	}
	&-pokeball-rate {
		width: 0.7314453125em;
	}
	&-rate-level1 {
		width: 0.7314453125em;
	}
	  
	&-rate-level2 {
		width: 0.7314453125em;
	}
	  
	&-rate-level3 {
		width: 0.7314453125em;
	}
	&-play-video {
		width: .88888888888em;
	}
	&-joistick,
	&-joistick-filled {
		width: 1.0927734375em;
	}
	&-stake-ntf {
		width: 0.9365234375em;
	}
	&-exchange-ntf {
		width: 1.087890625em;
	}
	&-trophy {
		width: 0.8759765625em;
	}
	&-locked {
		width: 0.72463768115em;
	}
	&-crafting,
	&-crafting-filled {
		width: 1.24609375em;
	}
	&-earn,
	&-earn-filled {
		width: 0.9365234375em;
	}
	&-roadmap {
		width: 0.58333333333em;
	}
	&-chicken {
		width: 0.6455078125em;
	}
	&-samurai {
		width: 0.654296875em;
	}
	&-sm-arrow {
		width: 1.453125em;
	}
	&-liquidity {
		width: 0.830078125em;
	}
	&-arrow-bold {
		width: 0.6669921875em;
	}
	&-cards-onfire {
		width: .83333333333em;
	}
	&-money-bag{
		width: .96em;
	}
	&-capital {
		width: 1.05em;
	}
	&-refferal-stub {
		width: .68711656441em;
	}
}
