.achievements {
    padding: 8rem 0;
    @media (max-width: $sw-xs-max) {
        padding: 8rem 0 0 0;
    }
    @media (max-width: $sw-xx-max) {
        padding: 3.4rem 0 0 0;
    }
    .section-title {
        margin-bottom: 3.2rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 2.6rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 2.9rem;
        }
    }
    &__tabs {
        display: flex;
        justify-content: center;
        overflow: hidden;
        overflow-x: auto;
        width: calc(100% + 3rem);
        margin-bottom: 13.7rem;
        margin-left: -1.5rem;
        padding: 0 1.5rem;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 14.8rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 11.9rem;
        }
        @media (min-width: 576px) {
            width: calc(100% + 6.6rem);
            margin-left: -3.3rem;
        }
        &__inner {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 2rem;
        }
        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 5.6rem;
            min-width: 19.3rem;
            border-radius: 2rem;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            font-family: $fredoka;
            font-size: 2rem;
            line-height: 1em;
            text-align: center;
            color: $white;
            &.is-active {
                &:after {
                    opacity: 1;
                }
            }
            & > * {
                position: relative;
                z-index: 1;
            }
            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                transition: opacity .3s ease;
                background: linear-gradient(93.37deg, #5BACF2 1.22%, #2872B2 100%);
            }
            .sup-text {
                font-family: $nunito;
                font-weight: 600;
                font-size: 1rem;
                line-height: 1.2em;
                text-align: center;
                text-transform: uppercase;
                color: rgba(255, 255, 255, .5);
                position: absolute;
                bottom: 3px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    &__inner {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        @media (max-width: $sw-xx-max) {
            margin-left: 0;
            margin-right: 0;
        }
    }
    &__col {
        margin-bottom: 15.7rem;
        width: calc(100% / 3);
        padding: 0 1.5rem;
        @media (max-width: $sw-xs-max) {
            width: 50%;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 13.8rem;
            width: 100%;
            padding: 0;
        }
    }
    &__item {
        width: 100%;
        background: linear-gradient(180deg, #080A0C 0%, rgba(8, 10, 12, 0) 75.52%, rgba(8, 10, 12, 0) 100%);
        filter: drop-shadow(0px 40px 80px #000000);
        border-radius: 3.6rem 3.6rem 0 0;
        padding-top: 1px;
        position: relative;
        @media (max-width: $sw-xx-max) {
            max-width: 33rem;
            margin: 0 auto;
        }
        &--active {
            box-shadow: 0px 20px 40px #4f96d5;
            @media (max-width: $sw-xx-max) {
                box-shadow: 0px 0 25px #4f96d5;
            }
        }
        &__icon {
            width: 18.2rem;
            height: 18.2rem;
            border-radius: 50%;
            margin: -8.6rem auto 3.2rem auto;
            border: 12px solid #10202F;
            border-radius: 50%;
            background-color: #080A0C;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            @media (max-width: $sw-xs-max) {
                margin: -8.6rem auto 2.8rem auto;
            }
            .icon {
                font-size: 9rem;
                color: #57595C;
            }
            img {
                max-height: 9.1rem;
            }
            .swiper-container {
                width: calc(100% - 3.2rem);
                position: relative;
                z-index: 10;
            }
            .swiper-slide {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__nav {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                .icon {
                    font-size: 1.3rem;
                    color: #FFB018;
                }
            }
            &__prev {
                left: -4.5rem;
            }
            &__next {
                right: -4.5rem;
                .icon {
                    transform: rotate(180deg);
                }
            }
            &__pagination {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 1rem;
                z-index: 10;
                display: flex;
                align-items: center;
                justify-content: center;
                .swiper-pagination-bullet {
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: #FFB018;
                    margin: 0 3px;
                    opacity: 0.4;
                    transform: scale(1);
                    transition: opacity .3s ease, transform .3s ease;
                    &-active {
                        transform: scale(1.6);
                        opacity: 1;
                    }
                }
            }
            &.achievements__item__icon--filled {
                position: relative;
                img {
                    display: block;
                    position: absolute;
                    margin: auto;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
        &__progress {
            --p:20;
            
            width: 18.2rem;
            aspect-ratio:1;
            position:absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            display:inline-grid;
            place-content:center;
            font-size:25px;
            font-weight:bold;
            font-family:sans-serif;

            &--empty {
                &:before,
                &:after {
                    opacity: 0;
                }
            }

            &:before,
            &:after {
                content:"";
                position:absolute;
                border-radius:50%;
            }

            &:before {
                inset:0;
                background:
                  radial-gradient(farthest-side, #3480c1 98%,transparent) top/1.2rem 1.2rem no-repeat,
                  conic-gradient( #3480c1 calc(var(--p)*1%),transparent 0);
                -webkit-mask:radial-gradient(farthest-side,transparent calc(99% - 1.2rem),#000 calc(100% - 1.2rem));
                        mask:radial-gradient(farthest-side,transparent calc(99% - 1.2rem),#000 calc(100% - 1.2rem));
            }

            &:after {
                inset:calc(50% - 1.2rem/2);
                background: #3480c1;
                transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - 18.2rem/2));
            }

            &.animate {
                animation: progress-animate 1s .5s both;
            }
              
        }
        &__top {
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            padding: 0 2.4rem 2.4rem 2.4rem;
        }
        &__title {
            font-weight: 700;
            display: block;
            width: 100%;
            text-align: center;
            font-size: 2.4rem;
            line-height: 1.5em;
            text-align: center;
            color: #FCBE41;
            margin-bottom: 1.6rem;
        }
        &__subtitle {
            display: block;
            width: 100%;
            text-align: center;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 1.5em;
            color: $white;
        }
        &__content {
            padding: 2.4rem 2.4rem 3.2rem 2.4rem;
            &__title {
                display: block;
                width: 100%;
                font-weight: 700;
                font-size: 1.4rem;
                line-height: 1.4em;
                text-align: center;
                color: $white;
                margin-bottom: 8px;
            }
        }
        &__reward {
            display: block;
            width: 100%;
            text-align: center;
            font-size: 2.4rem;
            line-height: 1.66em;
            color: #FCBE41;
            font-family: $fredoka;
            margin-bottom: 1.6rem;
            &--silver {
                color: #C4C7D1;
            }
            .reward--lg {
                font-size: 3.2rem;
            }
        }
        &__image {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__info {
            background: rgba(#9FCC8D, 0.1);
            border-radius: 2rem;
            padding: 1.2rem;
            margin-bottom: 2.4rem;
            p {
                text-align: center;
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 1.5em;
                color: #9FCC8D;
                margin-bottom: 0;
            }
        }
        &__share {
            display: flex;
            align-items: center;
            justify-content: center;
            .button {
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: auto;
                height: 4.8rem;
                border-radius: 1.6rem;
                .icon {
                    flex-shrink: 0;
                    font-size: 1.6rem;
                    margin-right: 1.1rem;
                    color: $white;
                }
            }
        }
        &__claim {
            display: flex;
            align-items: center;
            justify-content: center;
            .button {
                min-height: auto;
                height: 7.2rem;
                min-width: auto;
                width: 100%;
            }
        }
        &__stars {
            position: absolute;
            top: -13.7rem;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            &__icon {
                position: relative;
                width: 4.2rem;
                height: 4.2rem;
                margin: 0 1rem;
                &:nth-child(1):not(:last-child) {
                    transform:
                    rotate( -32deg) 
                    translate(-3px, 15px);
                }
                &:nth-child(3):last-child {
                    transform:
                    rotate( 32deg) 
                    translate(3px, 15px);
                }
                &:nth-child(2):last-child {
                    transform:
                    rotate( 15deg) 
                    translate(-2px, 9px);
                }
                &:nth-last-child(2):not(:last-child):first-child  {
                    transform:
                    rotate( -15deg) 
                    translate(2px, 9px);
                }
                img {
                    display: block;
                    position: absolute;
                    margin: auto;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
    }
    &.achievements-all {
        padding: 25rem 0;
    }
}

@property --p{
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

@keyframes progress-animate {
    from{--p: 0}
}