mixin achievements(data)
	section.achievements
		.container
			.section-title.section-title--center
				h2.h2 Achievements
			.achievements__tabs
				.achievements__tabs__inner
					button.achievements__tabs__item(type="button")
						span Season 1
					button.achievements__tabs__item(type="button")
						span Season 2
					button.achievements__tabs__item.is-active(type="button")
						span Season 3
					button.achievements__tabs__item(type="button")
						span Season 4
						span.sup-text Starts in 3 d 23 h
			.achievements__inner
				.achievements__col
					.achievements__item
						.achievements__item__icon
							.achievements__item__progress.animate(style="--p: 20;")
							button.achievements__item__icon__nav.achievements__item__icon__prev(type="button")
								+svg('icon-sm-arrow')
							button.achievements__item__icon__nav.achievements__item__icon__next(type="button")
								+svg('icon-sm-arrow')
							.achievements__item__icon__pagination
							.swiper-container.js-achievement-carousel
								.swiper-wrapper
									.swiper-slide
										+svg('icon-chicken')
									.swiper-slide
										+svg('icon-samurai')
									.swiper-slide
										+svg('icon-chicken')
									.swiper-slide
										+svg('icon-samurai')
						.achievements__item__top
							span.achievements__item__title Thrifty Chicken
							span.achievements__item__subtitle Opened 2/10 eggs
						.achievements__item__content
							span.achievements__item__content__title Reward
							span.achievements__item__reward #[span.reward--lg 10 000] BPM
							.achievements__item__image
								img(src="s/images/useful/achievements/pokeball.png", alt="img")
				.achievements__col
					.achievements__item
						.achievements__item__icon
							.achievements__item__progress.animate(style="--p: 100;")
							img(src="s/images/useful/achievements/shogun.png", alt="img")
						.achievements__item__top
							span.achievements__item__title Prosperous Shogun
							span.achievements__item__subtitle Opened 5/5 NTF Evolution 2
						.achievements__item__content
							span.achievements__item__content__title Reward
							span.achievements__item__reward.achievements__item__reward--silver NFT Evolution 2
							.achievements__item__info
								p Achievement received #[br] February 14, 2022, 23:32
							.achievements__item__share
								button.button.button--blue(type="button")
									+svg('icon-share-arrow')
									span Share
				.achievements__col
					.achievements__item
						.achievements__item__icon
							.achievements__item__progress.achievements__item__progress--empty.animate(style="--p: 0;")
							+svg('icon-samurai')
						.achievements__item__top
							span.achievements__item__title Warrior Samurai
							span.achievements__item__subtitle Played 0/25 Games
						.achievements__item__content
							span.achievements__item__content__title Reward
							span.achievements__item__reward Wartortle x1
							.achievements__item__image
								img(src="s/images/useful/achievements/wartortle.png", alt="img")
				.achievements__col
					.achievements__item.achievements__item--active
						.achievements__item__icon
							.achievements__item__progress.animate(style="--p: 100;")
							+svg('icon-chicken')
						.achievements__item__top
							span.achievements__item__title Purposeful blacksmith
							span.achievements__item__subtitle Opened 2/10 eggs
						.achievements__item__content
							span.achievements__item__content__title Reward
							span.achievements__item__reward #[span.reward--lg 10 000] BPM
							.achievements__item__claim
								button.button.button--blue(type="button")
									span Claim!
				.achievements__col
					.achievements__item
						.achievements__item__icon
							.achievements__item__progress.animate(style="--p: 90;")
							+svg('icon-samurai')
						.achievements__item__top
							span.achievements__item__title Warrior Samurai
							span.achievements__item__subtitle Opened 907/1000 eggs
						.achievements__item__content
							span.achievements__item__content__title Reward
							span.achievements__item__reward iPhone 13
							.achievements__item__image
								img(src="s/images/useful/achievements/iphone.png", alt="img")

mixin achievements-item(data)
	.achievements__col
		.achievements__item
			.achievements__item__stars
				if data.items
					each item in data.items
						.achievements__item__stars__icon
							img(src= item.star, alt="img")
				
				
			.achievements__item__icon(class= data.cls ? data.cls : null)
				.achievements__item__progress.animate(style="--p: 100;")
				img(src= data.src, alt="img")
			.achievements__item__top
				span.achievements__item__title Prosperous Shogun
				span.achievements__item__subtitle Opened 5/5 NTF Evolution 2
			.achievements__item__content
				span.achievements__item__content__title Reward
				span.achievements__item__reward.achievements__item__reward--silver NFT Evolution 2
				.achievements__item__share
					button.button.button--blue(type="button")
						+svg('icon-share-arrow')
						span Share

mixin achievements-all(data)
	section.achievements.achievements-all
		.container
			.achievements__inner
				+achievements-item({
					src: "s/images/useful/achievements/types/cards.svg"
				})
				+achievements-item({
					src: "s/images/useful/achievements/types/cards-a.svg",
					cls: "achievements__item__icon--filled",
					items:
						[{star: "s/images/useful/achievements/star.svg"}]
				})
				+achievements-item({
					src: "s/images/useful/achievements/types/cards-a.svg",
					cls: "achievements__item__icon--filled",
					items:
						[{star: "s/images/useful/achievements/star.svg"},
						{star: "s/images/useful/achievements/star.svg"}]
				})

				+achievements-item({
					src: "s/images/useful/achievements/types/goblet.svg"
				})
				+achievements-item({
					src: "s/images/useful/achievements/types/goblet-a.svg",
					cls: "achievements__item__icon--filled",
					items:
						[{star: "s/images/useful/achievements/star.svg"}]
				})
				+achievements-item({
					src: "s/images/useful/achievements/types/goblet-a.svg",
					cls: "achievements__item__icon--filled",
					items:
						[{star: "s/images/useful/achievements/star.svg"},
						{star: "s/images/useful/achievements/star.svg"},
						{star: "s/images/useful/achievements/star.svg"}]
				})

				+achievements-item({
					src: "s/images/useful/achievements/types/lightning.svg"
				})
				+achievements-item({
					src: "s/images/useful/achievements/types/lightning-a.svg",
					cls: "achievements__item__icon--filled",
					items:
						[{star: "s/images/useful/achievements/star.svg"}]
				})
				+achievements-item({
					src: "s/images/useful/achievements/types/lightning-a.svg",
					cls: "achievements__item__icon--filled",
					items:
						[{star: "s/images/useful/achievements/star.svg"},
						{star: "s/images/useful/achievements/star.svg"},
						{star: "s/images/useful/achievements/star.svg"}]
				})

				+achievements-item({
					src: "s/images/useful/achievements/types/grass.svg"
				})
				+achievements-item({
					src: "s/images/useful/achievements/types/grass-a.svg",
					cls: "achievements__item__icon--filled",
					items:
						[{star: "s/images/useful/achievements/star.svg"},
						{star: "s/images/useful/achievements/star.svg"}]
				})
				+achievements-item({
					src: "s/images/useful/achievements/types/grass-a.svg",
					cls: "achievements__item__icon--filled",
					items:
						[{star: "s/images/useful/achievements/star.svg"},
						{star: "s/images/useful/achievements/star.svg"},
						{star: "s/images/useful/achievements/star.svg"}]
				})

				+achievements-item({
					src: "s/images/useful/achievements/types/drop.svg"
				})
				+achievements-item({
					src: "s/images/useful/achievements/types/drop-a.svg",
					cls: "achievements__item__icon--filled",
					items:
						[{star: "s/images/useful/achievements/star.svg"},
						{star: "s/images/useful/achievements/star.svg"}]
				})
				+achievements-item({
					src: "s/images/useful/achievements/types/drop-a.svg",
					cls: "achievements__item__icon--filled",
					items:
						[{star: "s/images/useful/achievements/star.svg"},
						{star: "s/images/useful/achievements/star.svg"},
						{star: "s/images/useful/achievements/star.svg"}]
				})

				+achievements-item({
					src: "s/images/useful/achievements/types/fire.svg"
				})
				+achievements-item({
					src: "s/images/useful/achievements/types/fire-a.svg",
					cls: "achievements__item__icon--filled",
					items:
						[{star: "s/images/useful/achievements/star.svg"},
						{star: "s/images/useful/achievements/star.svg"}]
				})
				+achievements-item({
					src: "s/images/useful/achievements/types/fire-a.svg",
					cls: "achievements__item__icon--filled",
					items:
						[{star: "s/images/useful/achievements/star.svg"},
						{star: "s/images/useful/achievements/star.svg"},
						{star: "s/images/useful/achievements/star.svg"}]
				})

				+achievements-item({
					src: "s/images/useful/achievements/types/wave.svg"
				})
				+achievements-item({
					src: "s/images/useful/achievements/types/wave-a1.svg",
					cls: "achievements__item__icon--filled",
					items:
						[{star: "s/images/useful/achievements/star.svg"}]
				})
				+achievements-item({
					src: "s/images/useful/achievements/types/wave-a2.svg",
					cls: "achievements__item__icon--filled",
					items:
						[{star: "s/images/useful/achievements/star.svg"},
						{star: "s/images/useful/achievements/star.svg"}]
				})
				+achievements-item({
					src: "s/images/useful/achievements/types/wave-a3.svg",
					cls: "achievements__item__icon--filled",
					items:
						[{star: "s/images/useful/achievements/star.svg"},
						{star: "s/images/useful/achievements/star.svg"},
						{star: "s/images/useful/achievements/star.svg"}]
				})

				+achievements-item({
					src: "s/images/useful/achievements/types/game.svg",
				})
				+achievements-item({
					src: "s/images/useful/achievements/types/game-a.svg",
					cls: "achievements__item__icon--filled",
					items:
						[{star: "s/images/useful/achievements/star.svg"},
						{star: "s/images/useful/achievements/star.svg"},
						{star: "s/images/useful/achievements/star.svg"}]
				})

				+achievements-item({
					src: "s/images/useful/achievements/types/crown.svg"
				})
				+achievements-item({
					src: "s/images/useful/achievements/types/crown-a.svg",
					cls: "achievements__item__icon--filled",
					items:
						[{star: "s/images/useful/achievements/star.svg"},
						{star: "s/images/useful/achievements/star.svg"}]
				})
				+achievements-item({
					src: "s/images/useful/achievements/types/crown-a.svg",
					cls: "achievements__item__icon--filled",
					items:
						[{star: "s/images/useful/achievements/star.svg"},
						{star: "s/images/useful/achievements/star.svg"},
						{star: "s/images/useful/achievements/star.svg"}]
				})

				+achievements-item({
					src: "s/images/useful/achievements/types/hammer.svg"
				})
				+achievements-item({
					src: "s/images/useful/achievements/types/hammer-a.svg",
					cls: "achievements__item__icon--filled",
					items:
						[{star: "s/images/useful/achievements/star.svg"},
						{star: "s/images/useful/achievements/star.svg"}]
				})
				+achievements-item({
					src: "s/images/useful/achievements/types/hammer-a.svg",
					cls: "achievements__item__icon--filled",
					items:
						[{star: "s/images/useful/achievements/star.svg"},
						{star: "s/images/useful/achievements/star.svg"},
						{star: "s/images/useful/achievements/star.svg"}]
				})

				+achievements-item({
					src: "s/images/useful/achievements/types/egg.svg"
				})
				+achievements-item({
					src: "s/images/useful/achievements/types/egg-a.svg",
					cls: "achievements__item__icon--filled",
					items:
						[{star: "s/images/useful/achievements/star.svg"},
						{star: "s/images/useful/achievements/star.svg"}]
				})
				+achievements-item({
					src: "s/images/useful/achievements/types/egg-a.svg",
					cls: "achievements__item__icon--filled",
					items:
						[{star: "s/images/useful/achievements/star.svg"},
						{star: "s/images/useful/achievements/star.svg"},
						{star: "s/images/useful/achievements/star.svg"}]
				})

				+achievements-item({
					src: "s/images/useful/achievements/types/people.svg"
				})
				+achievements-item({
					src: "s/images/useful/achievements/types/people-a.svg",
					cls: "achievements__item__icon--filled",
					items:
						[{star: "s/images/useful/achievements/star.svg"},
						{star: "s/images/useful/achievements/star.svg"}]
				})
				+achievements-item({
					src: "s/images/useful/achievements/types/people-a.svg",
					cls: "achievements__item__icon--filled",
					items:
						[{star: "s/images/useful/achievements/star.svg"},
						{star: "s/images/useful/achievements/star.svg"},
						{star: "s/images/useful/achievements/star.svg"}]
				})