mixin earn(data)
	section.earn
		.container
			.section-title.section-title--center
				h2.h2 NFT Earn
				p Every NFT in our New Year collection has its own rarity. The better rarity it has - the better and bigger reward you will get if you own one of the NFTS. Here you can see the estimated size of the reward for each rarity.
			.earn__content
				.earn__content-col
					+earn-item({
						img: "./s/images/useful/earn/1.svg",
						ttl: "Evolution 1"
					})
				.earn__content-col
					+earn-item({
						img: "./s/images/useful/earn/1.svg",
						ttl: "Evolution 2"
					})
				.earn__content-col
					+earn-item-btns({
						img: "./s/images/useful/earn/1.svg",
						ttl: "Evolution 3"
					})
			
mixin earn-item(data)
	.earn-item
		.earn-item__img
			img(src= data.img alt="icon")
		.earn-item__info
			span.earn-item__info-ttl= data.ttl 
			ul.earn-item__info-list
				li.earn-item__info-list-li
					span.earn-item__info-list-txt APR
					.earn-item__info-list-line
						+svg("icon-calc")
						strong.earn-item__info-list-strong 20 173.51%
				li.earn-item__info-list-li
					span.earn-item__info-list-txt Earn
					.earn-item__info-list-line
						+svg("icon-usdt")
						strong.earn-item__info-list-strong USDT
				li.earn-item__info-list-li
					.earn-item__info-list-line
						span.earn-item__info-list-txt Multiplier
						button(type='button').tooltip-container
							+svg('icon-question')
							span.tooltip-dropdown
								span Every NFT in our New Year collection has its own rarity. 
					strong.earn-item__info-list-strong 24x
				li.earn-item__info-list-li
					.earn-item__info-list-col
						span.earn-item__info-list-sub Earned
						span.earn-item__info-list-txt 0 PKM
						span.earn-item__info-list-sub (〜 $0.0000)
					button(type="button" disabled).button.button--small
						span Harvest
				li.earn-item__info-list-li
					.earn-item__info-list-col
						span.earn-item__info-list-sub PKM LP STAKED
						span.earn-item__info-list-txt 0.000
						span.earn-item__info-list-sub (〜 $0.0000)
					button(type="button").button.button--small
						span Stake LP
			.earn-item__info-bottom.is-opened
				button(type="button").earn-item__info-bottom-details
					span Details
					+svg("icon-sm-arr-down")
				.earn-item__info-bottom__inner
					.earn-item__info-bottom__content
						.earn-item__info-bottom__line
							span.earn-item__info-bottom__line__title Total staked
							span.earn-item__info-bottom__line__descr 100 NFTs

mixin earn-item-btns(data)
	.earn-item
		.earn-item__img
			img(src= data.img alt="icon")
		.earn-item__info
			span.earn-item__info-ttl= data.ttl 
			ul.earn-item__info-list
				li.earn-item__info-list-li
					span.earn-item__info-list-txt APR
					.earn-item__info-list-line
						+svg("icon-calc")
						strong.earn-item__info-list-strong 20 173.51%
				li.earn-item__info-list-li
					span.earn-item__info-list-txt Earn
					.earn-item__info-list-line
						+svg("icon-usdt")
						strong.earn-item__info-list-strong USDT
				li.earn-item__info-list-li
					.earn-item__info-list-line
						span.earn-item__info-list-txt Multiplier
						button(type='button').tooltip-container
							+svg('icon-question')
							span.tooltip-dropdown
								span Every NFT in our New Year collection has its own rarity. 
					strong.earn-item__info-list-strong 24x
				li.earn-item__info-list-li
					.earn-item__info-list-col
						span.earn-item__info-list-sub Earned
						span.earn-item__info-list-txt 0 PKM
						span.earn-item__info-list-sub (〜 $0.0000)
					button(type="button" disabled).button.button--small
						span Harvest
				li.earn-item__info-list-li
					.earn-item__info-list-col
						span.earn-item__info-list-sub PKM LP STAKED
						span.earn-item__info-list-txt 0.000
						span.earn-item__info-list-sub (〜 $0.0000)
				li.earn-item__info-list-li.row
					button(type="button").button.button--small
						span Deposit
					button(type="button").button.button--small
						span Withdraw
			.earn-item__info-bottom.is-opened
				button(type="button").earn-item__info-bottom-details
					span Details
					+svg("icon-sm-arr-down")
				.earn-item__info-bottom__inner
					.earn-item__info-bottom__content
						.earn-item__info-bottom__line
							span.earn-item__info-bottom__line__title Total staked
							span.earn-item__info-bottom__line__descr 100 NFTs



mixin earn-simple(data)
	section.earn-simple
		.container
			.earn-simple__content
				article.earn-simple__content-article
					.earn-simple__content-article-inner
						h2.h2 NFT Earn
						p Every NFT in our New Year collection has its own rarity. The better rarity it has - the better and bigger reward you will get if you own one of the NFTS. Here you can see the estimated size of the reward for each rarity.
					button(type="button").button
						span Stake NFT!
				.earn-simple__content-picture
					.h-object-fit
						picture
							source(media='(min-width: 479px)' srcset="./s/images/useful/earn/simple/1.png")
							source(srcset="./s/images/useful/earn/simple/1.png" type='image/webp')
							img(src="./s/images/useful/earn/simple/1.png" alt='img')