.earn {
    margin-bottom: 14rem;
    @media (max-width: $sw-sm-max) {
        margin-bottom: 10rem;
    }
    @media (max-width: $sw-xx-max) {
        margin-bottom: 8rem;
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        &-col {
            padding: 0 1.5rem;
            width: 33.33333%;
            position: relative;
            @media (max-width: $sw-xs-max) {
                width: 100%;
            }
            &:not(:last-child) {
                @media (max-width: $sw-xs-max) {
                    margin-bottom: 4.8rem;
                }
                @media (max-width: 480px) {
                    margin-bottom: 3.2rem;
                }
            }
        }
    }

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: $sw-xs-max) {
            max-width: 45rem;
            margin: 0 auto;
        }
        &__img {
            width: 28.3rem;
            height: 30.6rem;
            position: relative;
            margin-bottom: 1.2rem;
            img {
                display: block;
                position: absolute;
                margin: auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
            }
        }
        &__info {
            padding-top: 12rem;
            margin-top: -15.4rem;
            width: 100%;
            box-shadow: 0px, 40px, 80px, #000000;
            border-radius: 36px 36px 0px 0px;
            background: linear-gradient(180deg, #080A0C 0%, rgba(8, 10, 12, 0) 75.52%, rgba(8, 10, 12, 0) 100%);
            &-inner {
                padding: 0 2.4rem;
                @media (max-width: $sw-xx-max) {
                    padding: 0 1.5rem;
                }
            }
            &-top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 2.4rem;
            }
            &-base {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 2.4rem;
                .earn-item__info-ttl {
                    text-align: left;
                }
            }
            &-price {
                font-family: 'FredokaOne';
                color: #FCBE41;
                font-size: 3.2rem;
                line-height: 1.25em;
                margin-bottom: 4px;
                @media (max-width: $sw-xx-max) {
                    font-size: 2.8rem;
                }
                &__currency {
                    font-size: 2.4rem;
                    line-height: 1.65em;
                    @media (max-width: $sw-xx-max) {
                        font-size: 2.2rem;
                    }
                }
            }
            &-sub {
                font-style: normal;
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 1.5em;
                color: #FCBE41;
            }
            &-ttl {
                font-family: "Nunito";
                font-weight: 700;
                display: block;
                color: $white;
                font-size: 2.4rem;
                line-height: 1.5em;     
                margin-bottom: 8px;           
                text-align: center;
                &.ttl--sm {
                    font-size: 2.4rem;
                }
            }
            &-list {
                padding: 2.4rem;
                &-li {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    &:not(:last-child) {
                        margin-bottom: 2.4rem;
                    }
                    &.row {
                        margin-left: 0;
                        margin-right: 0;
                        @media (max-width: $sw-xx-max) {
                            flex-wrap: wrap;
                        }
                        .button {
                            padding: 1rem;
                            width: calc(50% - 5px);
                            @media (max-width: $sw-xx-max) {
                                width: 100%;
                            }
                            span {
                                font-size: 1.8rem;
                            }
                            & + .button {
                                @media (max-width: $sw-xx-max) {
                                    margin-top: 1rem;
                                }
                            }
                        }
                    }
                }
                &-txt {
                    font-weight: 600;
                    font-size: 1.6rem;
                    line-height: 1.5em;
                    color: #C4C7D1;
                    word-break: break-all;
                }
                &-strong {
                    font-weight: 800;
                    font-size: 1.6rem;
                    line-height: 1.5em;
                    color: #F0F0FA;
                }
                &-sub {
                    font-weight: 600;
                    font-size: 1rem;
                    line-height: 1.2em;
                    text-transform: uppercase;
                    color: #C4C7D1;
                }
                &-line {
                    display: flex;
                    align-items: center;
                    .icon {
                        flex-shrink: 0;
                        font-size: 1.8rem;
                        &:first-child {
                            margin-right: 4px;
                        }
                        &:last-child {
                            margin-left: 4px;
                        }
                    }
                    .tooltip-container {
                        &:first-child {
                            margin-right: 4px;
                        }
                        &:last-child {
                            margin-left: 4px;
                        }
                    }
                    .button {
                        flex-shrink: 0;
                    }
                }
                &-col {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-right: 8px;
                    span, strong {
                        &:not(:last-child) {
                            margin-bottom: 2px;
                        }
                    }
                }
            }
            &-bottom {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                border-top: 1px solid rgba(255, 255, 255, 0.1);
                &.is-opened {
                    .earn-item__info-bottom-details {
                        .icon {
                            transform: rotate(180deg);
                        }
                    }
                }
                &-details {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 2.4rem;
                    width: 100%;
                    span {
                        // font-family: "FredokaOne";
                        font-family: "Nunito";
                        font-weight: 900;
                        font-size: 2rem;
                        line-height: 1.2em;
                        color: #FAFCFE;
                    }
                    .icon {
                        font-size: 8px;
                        flex-shrink: 0;
                        transition: transform .3s ease;
                        &:first-child {
                            margin-right: 1.2rem;
                        }
                        &:last-child {
                            margin-left: 1.2rem;
                        }
                    }
                }
                &__inner {
                    display: block;
                    width: 100%;
                    // .is-opened & {
                    //     display: block;
                    // }
                }
                &__content {
                    padding: 0 2.4rem 2.4rem 2.4rem;
                }
                &__line {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    & + .earn-item__info-bottom__line {
                        margin-top: 1rem;
                    }
                    &__title {
                        font-weight: 600;
                        font-size: 1.6rem;
                        line-height: 1.5em;
                        color: #C4C7D1;
                        margin-right: 1rem;
                    }
                    &__descr {
                        font-weight: 800;
                        font-size: 1.6rem;
                        line-height: 1.5em;
                        color: #F0F0FA;
                    }
                }
            }
        }
        &__count {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1.6rem;
            @media (max-width: $sw-xx-max) {
                margin-bottom: 2rem;
            }
            &__image {
                width: 7.2rem;
                height: 7.2rem;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                flex-shrink: 0;
                @media (max-width: $sw-xx-max) {
                    width: 5.6rem;
                    height: 5.6rem;
                }
                &--disabled {
                    opacity: 0.3;
                }
                img {
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            &__block {
                display: flex;
                align-items: center;
                justify-content: space-between;
                min-width: 14.6rem;
                &__btn {
                    width: 2.4rem;
                    &[disabled] {
                        cursor: default;
                        path {
                            opacity: 0.3;
                        }
                    }
                }
                &__middle {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 8px;
                    input {
                        border: none;
                        box-shadow: none;
                        outline: none;
                        font-weight: 600;
                        font-size: 2rem;
                        line-height: 1em;
                        text-align: right;
                        color: $white;
                        background-color: transparent;
                        width: 4rem;
                        @media (max-width: $sw-xx-max) {
                            font-size: 1.6rem;
                            padding: 0;
                        }
                        &:focus {
                            border: none;
                            box-shadow: none;
                            outline: none;
                        }
                    }
                }
            }
            &__val {
                font-weight: 600;
                font-size: 2rem;
                line-height: 1.5em;
                text-align: left;
                color: #C4C7D1;
                width: 4rem;
                @media (max-width: $sw-xx-max) {
                    font-size: 1.6rem;
                }
            }
            &__btn {
                .button {
                    min-height: auto;
                    height: 3rem;
                    padding: 0 3px;
                    width: 4.5rem;
                    border-radius: 1rem;
                    flex-shrink: 0;
                    span:not(.header__content-nav-sup) {
                        font-size: 1.6rem;
                        line-height: 1em;
                    }
                }
            }
        }
        &__sell {
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            padding: 2.4rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 5px;
            &__title {
                font-weight: 600;
                font-size: 1rem;
                line-height: 1.2em;
                text-transform: uppercase;
                color: #C4C7D1;
                margin-bottom: 2px;
            }
            &__price {
                font-weight: 600;
                font-size: 2rem;
                line-height: 1.5em;
                color: #FCBE41;
                &:not(:last-child) {
                    margin-bottom: 4px;
                }
            }
            &__info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                margin-right: 1rem;
            }
            &__sub {
                font-weight: 600;
                font-size: 1rem;
                line-height: 1.2em;
                text-transform: uppercase;
                color: #C4C7D1;
            }
            &__action {
                .button {
                    padding: 1rem 2.2rem;
                    min-height: 5.6rem;
                    @media (max-width: $sw-xx-max) {
                        font-size: 1.8rem;
                        padding: 1rem 1.5rem;
                    }
                }
            }
        }

        // &.earn-item--green {
        //     .earn-item__info-ttl {
        //         color: #2ED67A; 
        //     }
        // }
        // &.earn-item--blue {
        //     .earn-item__info-ttl {
        //         color: #2872B2; 
        //     }
        // }
        // &.earn-item--red {
        //     .earn-item__info-ttl {
        //         color: #E35534; 
        //     }
        // }
    }

    &-simple {
        margin-bottom: 14rem;
        min-height: 60rem;
        display: flex;
        align-items: center;
        @media (max-width: $sw-sm-max) {
            margin-bottom: 10rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 8rem;
        } 
        &__content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            @media (max-width: $sw-sm-max) {
                flex-direction: column;
                align-items: center;
            }
            &-article {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                max-width: 54rem;
                margin-right: 3rem;
                @media (max-width: $sw-sm-max) {
                    align-items: center;
                    max-width: 72rem;
                    margin: 0 auto 3rem;
                }
                &-inner {
                    &:not(:last-child) {
                        margin-bottom: 3.2rem;
                    }
                    .h2 {
                        @media (max-width: $sw-sm-max) {
                            text-align: center;
                        }
                        &:not(:last-child) {
                            margin-bottom: 1.4rem;
                        }
                    }
                    p {
                        @media (max-width: $sw-sm-max) {
                            text-align: center;
                        }
                    }
                }
                .button {
                    min-width: 24rem;
                }
            }
            &-picture {
                @media (min-width: 1565px) {
                    width: 79.8rem;
                    position: absolute;
                    top: 56%;
                    right: -26rem;
                    transform: translateY(-50%);
                }
                flex-shrink: 0;
                position: relative;
                width: 64rem;
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                }
                &:after {
                    padding-bottom: 80.087756%;
                    display: block;
                    visibility: hidden;
                    content: " ";
                }
                .h-object-fit {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}