//-----------   INCLUDES   --------------

//- helpers
include ../helpers/paths
include ../helpers/_mixins

//- components
include ../components/head/head
include ../components/header/header
include ../components/footer/footer
include ../components/mobile-navigation/mobile-navigation

//-----------   INCLUDES END  --------------

doctype html
html(lang='en')
	block head
		+head({'title':'Hello'})
	body
		.l-wrapper
			block header
			main
				block content
			block footer
				+footer()
		+mobile-navigation()
		.l-modals
			block modals
			
		script(src=route.js + "main.js")