.form-control {
	width: 100%;
	height: 5.6rem;
	background-color: $secondaryDark;
	border-radius: 1.8rem;
	padding: 0 2.4rem;
	color: $gray;
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 1em;
	outline: none;
	box-shadow: none;
	border: none;
	&:focus {
		outline: none;
		box-shadow: none;
		border: none;
		@include placeholder {
			opacity: 0;
		}
	}
	@include placeholder {
		opacity: 1;
		transition: opacity .3s ease;
		font-weight: 600;
		color: $gray;
		font-weight: 700;
		font-size: 2.4rem;
	}
}