.hiw {
    margin-bottom: 14rem;
    @media (max-width: $sw-sm-max) {
        margin-bottom: 10rem;
    }
    @media (max-width: $sw-xx-max) {
        margin-bottom: 8rem;
    }
    &__row {
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        display: flex;
        flex-wrap: wrap;
        counter-reset: list; 
        @media (max-width: $sw-xs-max) {
            margin-left: -2rem;
            margin-right: -2rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-left: -1.5rem;
            margin-right: -1.5rem;
            padding: 0 1.5rem;
        }
    }
    &__col {
        padding: 18.4rem 1.5rem 0 1.5rem;
        width: calc(100% / 3);
        position: relative;
        margin-bottom: 2rem;
        @media (max-width: $sw-xs-max) {
            width: 50%;
            margin-bottom: 4.4rem;
            padding: 18.4rem 2rem 0;
        }
        @media (max-width: $sw-xx-max) {
            width: 100%;
            margin-bottom: 3.2rem;
            padding: 15.5rem 1.5rem 0;
        }
        &:first-child {
            @media (max-width: $sw-xs-max) {
                padding: 17.4rem 2rem 0;
            }
            @media (max-width: $sw-xx-max) {
                padding-top: 0;
            }
        }
        &__elipse {
            position: absolute;
            left: 14.3rem;
            top: 10rem;
            height: 1rem;
            width: 24rem;
            @media (max-width: $sw-sm-max) {
                width: 18.4rem;
            }
            @media (max-width: $sw-xs-max) {
                display: none;
            }
        }
        .h3 {
            color: #FCBE41;
            margin-bottom: 2rem;
        }
        p {
            font-weight: 600;
            font-size: 2rem;
            line-height: 1.5em;
            color: #C4C7D1;
            margin-bottom: 0;
            @media (max-width: $sw-sm-max) {
                font-weight: 400;
            }
            & + p {
                margin-top: 2rem;
            }
        }
    }
    &__icon {
        width: 10rem;
        height: 10rem;
        background-color: #10202F;
        box-shadow: 0px 32px 96px rgba(21, 26, 44, 0.32);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        transform: rotate(45deg);
        top: 5rem;
        left: 2.5rem;
        border-radius: 2.5rem;
        @media (max-width: $sw-xs-max) {
            left: 2rem;
        }
        @media (max-width: $sw-xx-max) {
            left: 1.5rem;
            top: 2.5rem;
        }
        .icon {
            color: #FCBE41;
            transform: rotate(-45deg);
            &-egg {
                font-size: 5.4rem;
            }
            &-egg-opened {
                font-size: 6.1rem;
            }
            &-cards {
                font-size: 6rem;
            }
            &-cash {
                font-size: 6rem;
            }
            &-stake-ntf {
                font-size: 6.6rem;
            }
            &-exchange-ntf {
                font-size: 4.1rem;
            }
        }
        &:after {
            counter-increment: list;
            content: counter(list);
            display: block;
            font-family: "FredokaOne";
            font-size: 32px;
            line-height: 40px;
            color: #FCBE41;
            position: absolute;
            top: 3.4rem;
            left: -6px;
            transform: rotate(-45deg);
        }
    }
}