mixin hiw(data)
	section.hiw
		.container
			ul.hiw__row
				li.hiw__col
					h2.h2 How #[br] it works?
				li.hiw__col
					.hiw__col__elipse
						img(src="s/images/useful/svg/hiw-elipse.svg", alt="elipse")
					.hiw__icon
						+svg('icon-egg')
					h3.h3 Buy NFT egg
					p First of all you need to buy NFT egg. This is “magic case” with NFTs. To open it, you need to pay any available currency through our interface. 
				li.hiw__col
					.hiw__icon
						+svg('icon-egg-opened')
					h3.h3 Open NFT EGG
					p Each NFT has different chance of drop. Higher evolution of NFT = lower chance of drop. There are total of 3 evolutions, evolution 3 is the highest and counted as legendary(or ultra-rare). Higher evolution = higher reward in the NFT staking.
				li.hiw__col
					.hiw__col__elipse
						img(src="s/images/useful/svg/hiw-elipse.svg", alt="elipse")
					.hiw__icon
						+svg('icon-cards')
					h3.h3 Collect all NFTs!
					p There are a total of 12 different unique NFTs. Collect them all and get legendary NFT + limited money bonus. (for full information, please wait until announcement)
				li.hiw__col
					.hiw__col__elipse
						img(src="s/images/useful/svg/hiw-elipse-reverse.svg", alt="elipse")
					.hiw__icon
						+svg('icon-stake-ntf')
					h3.h3 Stake NFTs
					p You can not only collect our NFTs (unlike other projects!) but also stake them in the specific pools and earn BPM-USDT LP! Each pool represents a certain evolution. You can stake any amount of NFTs in each pool.
				li.hiw__col
					.hiw__icon
						+svg('icon-exchange-ntf')
					h3.h3 Exchange NFTs
					p We implemented a unique system called “NFT” buyback. With every purchase of egg with NFT, you top up the buyback fund. After you bought NFT you can #[br] 1) Stake NFT and earn BPM-USDT LP #[br] 2) Collect NFT #[br] 3) Exchange NFT.
					p We implemented a unique system called “NFT” buyback. With every purchase of egg with NFT, you top up the buyback fund. After you bought NFT you can #[br] 1) Stake NFT and earn BPM-USDT LP #[br] 2) Collect NFT #[br] 3) Exchange NFT. 