include ../head-of-tails/head-of-tails

mixin evolution(data)
	section.evolution
		.container
			.section-title.section-title--center
				h2.h2 Evolution
				p Every NFT in our New Year collection has its own rarity. The better rarity it has - the better and bigger reward you will get if you own one of the NFTS. Here you can see the estimated size of the reward for each rarity.
			.evolution__line
				ul.evolution__nav
					li 
						a(href="#").decor--type-orange Fire
					li 
						a(href="#").decor--type-blue Water
					li 
						a(href="#").decor--type-green Grass
					li 
						a(href="#").decor--type-gray Normal
					li 
						a(href="#").decor--type-coach.active Coach
				.evolution__select
					+select-custom({})

			.evolution__row
				.evolution__col
					+evolution-item({
						class_mod: 'evolution-item--yellow',
						img: './s/images/useful/evolution/pichu.png',
						ttl: 'Pichu',
						type: 'Electric',
						items: [
							{icon: 'icon-rate-level1'}
						]
					})

				.evolution__col
					+evolution-item({
						class_mod: 'evolution-item--yellow',
						img: './s/images/useful/evolution/pikachu.png',
						ttl: 'Pikachu',
						type: 'Electric',
						items: [
							{icon: 'icon-rate-level2'}
						]
					})

				.evolution__col
					+evolution-item({
						class_mod: 'evolution-item--yellow',
						img: './s/images/useful/evolution/raichu.png',
						ttl: 'Raichu',
						type: 'Electric',
						items: [
							{icon: 'icon-rate-level3'}
						]
					})


mixin evolution-item(data)
	.evolution-item(class= data.class_mod ? data.class_mod : null)
		.evolution-item__img
			picture
				source(media='(min-width: 479px)' srcset= data.img)
				source(srcset= data.img type='image/webp')
				img(src= data.img alt='img')
		.evolution-item__info
			span.evolution-item__info-ttl= data.ttl
			.evolution-item__info-line
				.evolution-item__info-rate
					each item in data.items
						+svg(item.icon)
				span.evolution-item__info-type= data.type
		if data.tag
			.evolution-item__tag= data.tag