.evolution {
    margin-bottom: 14rem;
    @media (max-width: $sw-sm-max) {
        margin-bottom: 10rem;
    }
    @media (max-width: $sw-xx-max) {
        margin-bottom: 8rem;
    }
    &__nav {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        &:not(:last-child) {
            margin-bottom: 4.8rem;
        }
        a, button {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 5.6rem;
            padding: 1.6rem;
            min-width: 16rem;
            margin: 2px;
            border-radius: 2rem;
            // font-family: "FredokaOne";
            font-family: "Nunito";
            font-weight: 900;
            font-size: 2rem;
            line-height: 1.2em;
            text-align: center;
            @media (max-width: $sw-xs-max) {
                min-width: 14rem;
            }
            @media (max-width: $sw-xx-max) {
                min-width: initial;
                font-size: 1.2rem;
                padding: 1.2rem 6px;
                min-height: 4.8rem;
                min-width: 8.2rem;
            }
        }
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }
    &__col {
        padding: 0 1.5rem;
        width: 33.33333%;
        position: relative;
        @media (max-width: $sw-xs-max) {
            width: 100%;
        }
        &.next-evo {
            &:after {
                position: absolute;
                top: 0;
                right: -6rem;
                bottom: 0;
                margin: auto 0;
                content: " ";
                background-image: url("../images/useful/evolution/evolution_arrow.svg");
                background-size: contain;
                background-repeat: no-repeat;
                width: 12rem;
                height: 12rem;
                // box-shadow: 0px 32px 96px rgba(21, 26, 44, 0.32);
                z-index: 4;
                @media (max-width: $sw-xs-max) {
                    top: initial;
                    bottom: -14.4rem;
                    right: 0;
                    left: 0;
                    margin: 0 auto;
                    transform-origin: center;
                    transform: rotate(90deg);
                }
                @media (max-width: $sw-xx-max) {
                    width: 6rem;
                    height: 6rem;
                    bottom: -7.6rem;
                }
            }
            @media (max-width: $sw-xs-max) {
                margin-bottom: 16.8rem;
                @media (max-width: $sw-xx-max) {
                    margin-bottom: 9rem;
                }
            }
        }
    }
    &__line {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @media (max-width: $sw-sm-max) {
            flex-direction: column;
            align-items: center;
        }
        &:not(:last-child) {
            margin-bottom: 4.8rem;
        }
        .evolution__nav {
            justify-content: flex-start;
            @media (max-width: $sw-sm-max) {
                justify-content: center;
            }
            &:not(:last-child) {
                margin-bottom: 0;
                margin-right: 2.4rem;
                @media (max-width: $sw-sm-max) {
                    margin-right: 0;
                    margin-bottom: 2.4rem;
                }
            }
        }
    }
    &__select {
        display: flex;
        @media (max-width: 480px) {
            width: 100%;
        }
        .select-group__btn {
            height: 5.6rem;
            // background: #080A0C;
            @media (max-width: $sw-sm-max) {
                height: 4.8rem;
            }
        }
        .select-group__dropdown-btn {
            padding: 1.6rem;
            @media (max-width: $sw-sm-max) {
                padding: 1.2rem 1.6rem;
            }
        }
        .select-group__dropdown {
            // background: #080A0C;
            &-li {
                &:not(:last-child) {
                    // border-bottom: 1px solid #10202F;
                }
            }
        }
    }
    &-item {
        // background: #080A0C;
        // box-shadow: 0px 40px 80px #000000;
        border-radius: 3.6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        // padding: 5.5rem 2.4rem 3.2rem;
        padding: 8px;
        position: relative;
        @media (max-width: $sw-xs-max) {
            max-width: 45rem;
            margin: 0 auto;
        }
        &--yellow {
            background: linear-gradient(109.11deg, #FDC14D 0%, #FFA800 100%);
            box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.4);
        }
        &--orange {
            background: linear-gradient(109.11deg, #FB902F 0%, #D41A1A 100%);
            box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.4);
        }
        &--blue {
            background: linear-gradient(109.11deg, #1BCEFB 0%, #0093F8 100%);
            box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.4);
        }
        &--green {
            background: linear-gradient(109.11deg, #9FCC8D 0%, #B0D850 100%);
            box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.4);
        }
        &--gray {
            background: linear-gradient(101.17deg, #9D9581 0%, #746C57 100%);
            box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.4);
        }
        &--coach {
            background: linear-gradient(188.45deg, #FB902F 7.32%, #FDC14D 36.98%, #1BCEFB 64.82%, #9FCC8D 90.95%);
            border-radius: 19.8rem 19.8rem 3.6rem 3.6rem;
            border: 8px solid #10202F;
            padding: 8px 8px 0;
            position: relative;
            overflow: hidden;
            max-width: 35rem;
            margin: 0 auto;

            .evolution-item__img {
                width: 24rem;
                height: 24rem;
                padding: 0;
                position: relative;
                z-index: 1;
                
                picture, img {
                    display: block;
                    position: absolute;
                    margin: auto;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                }
            }
            .evolution-item__info {
                background-color: transparent;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1.6rem 1.6rem 0;
            }
            .evolution-item__info-ttl {
                color: #080A0C;
                position: relative;
                z-index: 1;
                margin-bottom: 2.4rem;
            }
            .evolution-item__info-type {
                border-radius: 1.2rem 1.2rem 0px 0px;
                padding: 4px 8px 0;
                position: relative;
                z-index: 1;
            }
            .evolution-item__img {
                margin-bottom: 1rem;
            }
            .evolution-item__tag {
                top: 9.6rem;
                right: 1.8rem;
            }
            &:after {
                position: absolute;
                top: -1.4rem;
                left: 0;
                width: 100%;
                height: 50%;
                display: block;
                content: " ";
                background-image: url("../images/useful/evolution/coach-lines-top.svg ");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                @media (max-width: $sw-md-max) {
                    top: -3.2rem;
                }
                @media (max-width: 768px) {
                    top: -1.4rem;
                }
                @media (max-width: $sw-xx-max) {
                    top: -2rem;
                }
            }
            &:before {
                position: absolute;
                bottom: -1.4rem;
                left: 0;
                width: 100%;
                height: 50%;
                display: block;
                content: " ";
                background-image: url("../images/useful/evolution/coach-lines-bottom.svg ");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                @media (max-width: $sw-md-max) {
                    bottom: -3.2rem;
                }
                @media (max-width: 768px) {
                    bottom: -1.4rem;
                }
                @media (max-width: $sw-xx-max) {
                    bottom: -2rem;
                }
            }
        }
        // &:before {
        //     content: " ";
        //     background: #00152C;
        //     box-shadow: 0px 32px 64px rgba(239, 59, 48, .1);
        //     border-radius: 36px 36px 0px 0px;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 20.6rem;
        //     display: block;
        // }
        // &:after {
        //     content: " ";
        //     width: 20.1rem;
        //     height: 20.3rem;
        //     position: absolute;
        //     background-image: url("../images/useful/evolution/evolution_back.png");
        //     background-size: contain;
        //     background-repeat: no-repeat;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        //     margin: 0 auto;
        // }
        &__img {
            // width: 21rem;
            // height: 19rem;
            width: 100%;
            flex-grow: 1;
            height: 24.2rem;
            // margin-bottom: 4.8rem;
            position: relative;
            z-index: 3;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            margin-bottom: 2rem;
            padding-left: 3rem;
            &:after {
                content: '';
                display: block;
                position: absolute;
                height: 18rem;
                width: 14rem;
                right: 1rem;
                top: 3.9rem;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
            picture, img {
                position: relative;
                z-index: 1;
            }
            // img {
            //     display: block;
            //     position: absolute;
            //     margin: auto;
            //     top: 0;
            //     left: 0;
            //     right: 0;
            //     bottom: 0;
            //     max-width: 100%;
            //     max-height: 100%;
            //     width: auto;
            //     height: auto;
            // }
            .evolution-item--yellow & {
                &:after {
                    background-image: url('../../s/images/useful/svg/lightning.svg');
                }
            }
            .evolution-item--orange & {
                &:after {
                    background-image: url('../../s/images/useful/svg/fire.svg');
                }
            }
            .evolution-item--blue & {
                &:after {
                    background-image: url('../../s/images/useful/svg/water.svg');
                }
            }
            .evolution-item--green & {
                &:after {
                    background-image: url('../../s/images/useful/svg/grass.svg');
                }
            }
            .evolution-item--gray & {
                &:after {
                    background-image: url('../../s/images/useful/svg/union.svg');
                }
            }
        }
        &__info {
            width: 100%;
            background-color: #080A0C;
            border-radius: 2.8rem;
            padding: 1.6rem;
            &-ttl {
                // font-family: "FredokaOne";
                font-family: "Nunito";
                font-weight: 900;
                font-size: 3.2rem;
                line-height: 1.55em;
                color: #FFFFFF;
                margin-bottom: 1.2rem;
                display: block;
            }
            &-line {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            &-rate {
                display: flex;
                align-items: center;
                .icon {
                    font-size: 3.2rem;
                    color: #8F00FF;
                    &:not(:last-child) {
                        margin-right: 1.2rem;
                    }
                }
            }
            &-type {
                border-radius: 1.2rem;
                font-weight: 800;
                font-size: 1.6rem;
                line-height: 1.5em;
                color: #FFFFFF;
                padding: 4px 8px;
                display: flex;
                .evolution-item--yellow & {
                    // background-color: #EFD151;
                    background: linear-gradient(109.11deg, #FDC14D 0%, #FFA800 100%);
                }
                .evolution-item--orange & {
                    // background-color: #FB7D3A;
                    background: linear-gradient(109.11deg, #FB902F 0%, #D41A1A 100%);
                }
                .evolution-item--blue & {
                    // background-color: #4695C0;
                    background: linear-gradient(109.11deg, #1BCEFB 0%, #0093F8 100%);
                }
                .evolution-item--green & {
                    // background-color: #9AC35C;
                    background: linear-gradient(109.11deg, #9FCC8D 0%, #B0D850 100%);
                }
                .evolution-item--gray & {
                    // background-color: #9AC35C;
                    background: linear-gradient(101.17deg, #9D9581 0%, #746C57 100%);
                }
                .evolution-item--coach & {
                    background: #10202F;
                }
            }
        }
        &__tag {
            position: absolute;
            top: 1.8rem;
            right: 1.8rem;
            box-shadow: 0px 32px 96px rgba(21, 26, 44, 0.32);
            font-family: "Gopher";
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 1.5em;
            text-align: center;
            color: #FFFFFF;
            width: 4.4rem;
            z-index: 4;
            height: 4.4rem;
            position: absolute;
            // background-image: url("../images/useful/evolution/tag.svg");
            background-color: #080A0C;
            box-shadow: 0px 32px 96px rgba(21, 26, 44, 0.32);
            background-size: contain;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 1.2rem;
            span {
                position: relative;
                z-index: 1;
            }
        }
    }
}