.crafting {
    margin-bottom: 14rem;
    @media (max-width: $sw-sm-max) {
        margin-bottom: 10rem;
    }
    @media (max-width: $sw-xx-max) {
        margin-bottom: 8rem;
    }
    &__content {
        display: flex;
        align-items: center;
        @media (max-width: $sw-xs-max) {
            flex-direction: column;
            align-items: flex-start;
        }
        &-picture {
            width: 54rem;
            position: relative;
            flex-shrink: 0;
            margin-right: 12.5rem;
            box-shadow: 0px 32px 96px rgba(21, 26, 44, 0.32);
            background: #080A0C;
            border-radius: 3.6rem;
            overflow: hidden;
            @media (max-width: $sw-sm-max) {
                margin-right: 6.4rem;
                width: 48rem;
            }
            @media (max-width: $sw-xs-max) {
                margin-right: 0;
                width: 100%;
                max-width: 57rem;
                margin: 0 auto 4.8rem;
            }
            &:after {
                content: " ";
                padding-bottom: 88.7037037037%;
                display: block;
                visibility: hidden;
                @media (max-width: 480px) {
                    padding-bottom: 100%;
                }
            }
            .h-object-fit {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
                border-radius: 3.6rem;
                overflow: hidden;
            }
        }
        &-article {
            flex-grow: 1;
            @media (max-width: $sw-xs-max) {
                width: 100%;
                max-width: 57rem;
                margin: 0 auto;
            }
            .button {
                margin-top: 4.8rem;
                @media (max-width: 480px) {
                    margin-top: 2.4rem;
                }
            }
        }
    }
    &-evolution {
        padding-top: 5rem;
        margin-bottom: 14rem;
        @media (max-width: $sw-sm-max) {
            margin-bottom: 10rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 8rem;
            padding-top: 3.5rem;
        }
        &__steps {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.6rem 0;
            &-item {
                font-family: "Nunito";
                font-weight: 800;
                font-size: 1.6rem;
                line-height: 1.5em;
                color: white;
                text-align: center;
                display: flex;
                border-radius: 20px;
                transition: .3s ease;
                padding: 8px 1.6rem;
                &:not(:last-child) {
                    margin-right: 1rem;
                }
                &.active {
                    background: #2ED67A;
                }
            }
        }
    }
    &-item {
        background: #080A0C;
        box-shadow: 0px 32px 96px rgba(21, 26, 44, 0.32);
        border-radius: 3.6rem;
        display: flex;
        width: 100%;
        padding: 4.8rem;
        @media (max-width: $sw-xs-max) {
            padding: 2rem 2rem 6.4rem;
            flex-direction: column;
            position: relative;
        }
        @media (max-width: $sw-xx-max) {
            padding: 1rem 1rem 7.2rem;
        }
        &:not(:last-child) {
            margin-bottom: 2.4rem;
        }
        &__row {
            flex-grow: 1;
            display: flex;
            align-items: center;
            margin-right: 4.6rem;
            position: relative;
            @media (max-width: $sw-sm-max) {
                margin-right: 3rem;
            }
            @media (max-width: $sw-xs-max) {
                margin-right: 0;
                margin-bottom: 2rem;
                flex-direction: column;
                position: static;
            }
            &-select {
                position: absolute;
                top: 0;
                left: 0;
                @media (max-width: $sw-xs-max) {
                    position: static;
                    margin-bottom: 2.4rem;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                }
                .select-group {
                    @media (max-width: $sw-xs-max) {
                        max-width: 32rem;
                    }
                    @media (max-width: 480px) {
                        max-width: initial;
                    }
                }
            }
            &-rule {
                position: absolute;
                bottom: 0;
                left: 7px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                @media (max-width: $sw-sm-max) {
                    bottom: 4px;
                }
                @media (max-width: $sw-xs-max) {
                    align-items: center;
                    left: 0;
                    bottom: 2rem;
                    right: 0;
                    margin: 0 auto;
                }
                &-ttl {
                    font-family: 'Nunito';
                    font-weight: 700;
                    font-size: 1rem;
                    line-height: 1.2em;
                    text-transform: uppercase;
                    color: #AAA9B0;
                    margin-bottom: 8px;
                    @media (max-width: $sw-sm-max) {
                        margin-bottom: 4px;
                    }
                    @media (max-width: $sw-xs-max) {
                        text-align: center;
                    }
                    @media (max-width: $sw-xx-max) {
                        margin-bottom: 0;
                    }
                }
                &-txt {
                    font-family: 'Nunito';
                    font-weight: 600;
                    font-size: 1.6rem;
                    line-height: 1.5em;
                    color: #C4C7D1;
                    letter-spacing: 0;
                    @media (max-width: $sw-sm-max) {
                        font-size: 1.2rem;
                    }
                    @media (max-width: $sw-xs-max) {
                        text-align: center;
                    }
                    @media (max-width: $sw-xx-max) {
                        font-size: 1rem;
                    }
                }
            }
        }
        &__btns {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-right: 4.6rem;
            @media (max-width: $sw-sm-max) {
                flex-wrap: wrap;
                margin-right: 3rem;
            }
            @media (max-width: $sw-xs-max) {
                width: 100%;
                margin-right: 0;
                margin-bottom: 2rem;
            }
            &__item {
                width: 9.8rem;
                @media (max-width: $sw-sm-max) {
                    width: calc(50% - 3rem);
                    margin: 1.5rem;
                }
                @media (max-width: $sw-xs-max) {
                    width: calc(50% - 2rem);
                    margin: 1rem 1rem 2rem 1rem;
                }
                &:not(:last-child) {
                    @media (min-width: $sw-md-min) {
                        margin-right: 3rem;
                    }
                }
                &__image {
                    position: relative;
                    width: 100%;
                    height: 8rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 2rem;
                    img {
                        width: auto;
                        height: auto;
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                &__count {
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 1;
                    width: 3.2rem;
                    height: 3.2rem;
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 8px;
                    line-height: 1em;
                    text-align: center;
                    text-transform: uppercase;
                    color: $white;
                    &:after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 100%;
                        z-index: 0;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%) rotate(45deg);
                        border-radius: 1rem;
                        background-color: #10202F;
                        box-shadow: 0px 32px 96px rgba(21, 26, 44, 0.32);
                    }
                    span {
                        position: relative;
                        z-index: 1;
                    }
                }
                &__action {
                    width: 100%;
                    .button {
                        width: 100%;
                        background: #FCBE41;
                        span {
                            font-size: 1.6rem;
                            line-height: 1em;
                        }
                        &[disabled] {
                            pointer-events: none;
                            background: #10202F;
                        }
                    }
                }
            }
        }
        &__chance {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 12rem;
            &__block {
                width: 10rem;
                height: 10rem;
                background-color: #10202F;
                box-shadow: 0px 32px 96px rgba(21,26,44, .32);
                display: flex;
                align-items: center;
                justify-content: center;
                transform: rotate(45deg);
                border-radius: 2.5rem;
                overflow: hidden;
                img {
                    transform: rotate(-45deg) translateZ(0);
                    position: relative;
                    z-index: 2;
                }
            }
            &__progress {
                background-color: #2ED67A;
                height: 12rem;
                position: absolute;
                margin-left: -4.2rem;
                margin-top: 4.2rem;
                transition: width .3s ease;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
            &__text {
                margin-top: 2rem;
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 1.5em;
                text-align: center;
                color: #C4C7D1;
            }
        }
        &__box {
            width: 32rem;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @media (max-width: $sw-xs-max) {
                margin: 0 auto;
            }
            @media (max-width: 374px) {
                width: 100%;
                max-width: 32rem;
            }
            &-main {
                width: 100%;
                height: 32rem;
                padding: 8px;
                position: relative;
                background: #10202F;
                border-radius: 2.4rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                &--yellow {
                    background: linear-gradient(109.11deg, #FDC14D 0%, #FFA800 100%);
                    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.4);
                }
                &--red {
                    background: linear-gradient(109.11deg, #FB902F 0%, #D41A1A 100%);
                }
                &--blue {
                    background: linear-gradient(109.11deg, #1BCEFB 0%, #0093F8 100%);
                }
                &--green {
                    background: linear-gradient(109.11deg, #9FCC8D 0%, #B0D850 100%);
                }
                &--gray {
                    background: linear-gradient(101.17deg, #9D9581 0%, #746C57 100%);
                }
                &:not(:last-child) {
                    margin-bottom: 2.4rem;
                }
                & > picture {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                }
                &-cell {
                    width: calc(33.333333% - 4px);
                    max-width: 9.6rem;
                    height: 9.6rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: rgba(255, 255, 255, .05);
                    border-radius: 1.6rem;
                    position: relative;
                    &:nth-child(n + 4) {
                        margin-top: 8px;
                    }
                    .cell-lost__text {
                        display: none;
                    }
                    span {
                        font-weight: 800;
                        font-size: 1.9rem;
                        line-height: 1.33em;
                        text-align: center;
                        color: #FFFFFF;
                        @media (max-width: $sw-xx-max) {
                            font-size: 1.6rem;
                        }
                    }
                    &.crafting-item__box-main-cell--yellow {
                        background: linear-gradient(109.11deg, #FDC14D 0%, #FFA800 100%);
                    }
                    &.crafting-item__box-main-cell--red {
                        background: linear-gradient(109.11deg, #FB902F 0%, #D41A1A 100%);
                    }
                    &.crafting-item__box-main-cell--blue {
                        background: linear-gradient(109.11deg, #1BCEFB 0%, #0093F8 100%);
                    }
                    &.crafting-item__box-main-cell--green {
                        background: linear-gradient(109.11deg, #9FCC8D 0%, #B0D850 100%);
                    }
                    &.crafting-item__box-main-cell--gray {
                        background: linear-gradient(101.17deg, #9D9581 0%, #746C57 100%);
                    }
                    &.cell-lost {
                        &:after {
                            content: '';
                            display: block;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(#E35534, 0.9);
                            z-index: 5;
                            position: absolute;
                            top: 0;
                            left: 0;
                            border-radius: 1.6rem;
                        }
                        .cell-lost__text {
                            display: block;
                            width: 100%;
                            text-align: center;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 10;
                            span {
                                font-weight: 800;
                                font-size: 1.6rem;
                                line-height: 1.5em;
                                color: $white;
                            }
                        }
                    }
                }
                &-img {
                    width: 7.2rem;
                    height: 7.2rem;
                    position: relative;
                    img {
                        display: block;
                        position: absolute;
                        margin: auto;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        max-width: 100%;
                        max-height: 100%;
                        width: auto;
                        height: auto;
                    }
                }
                &-delete {
                    color: white;
                    position: absolute;
                    top: 8px;
                    right: 8px;
                    font-size: 1.2rem;
                    display: flex;
                    z-index: 1;
                }
            }
            &-txt {
                width: 100%;
                font-family: 'Nunito';
                text-align: center;
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 1.5em;
                color: #C4C7D1;

            }
            .button {
                width: 100%;
                &:not(:last-child) {
                    margin-bottom: 1.6rem;
                }
            }
        }
    } 
}



