include ../head-of-tails/head-of-tails

mixin crafting(data)
	section.crafting
		.container
			.section-title.section-title--center
				h2.h2 Crafting
			.crafting__content
				.crafting__content-picture
					.h-object-fit
						picture
							source(media='(min-width: 479px)' srcset='./s/images/useful/crafting-3.png')
							source(srcset='./s/images/useful/crafting-3.png' type='image/webp')
							img(src='./s/images/useful/crafting-3.png' alt='img')
				article.crafting__content-article
					h3.h3 Upgrading cards
					p There are several features of our NYTs this one of them. It's time to use your New Year Tokens! Create LP out of NYT and BUSD (our liquidity pair) and stake it in our farm. Through this farming, you will get ice shards, which you could use to buy Magic boxes. You will also get passive income as LP creator on pancakeswap
					button(type="button", disabled).button.button--small
						span Collect Cards
						span.header__content-nav-sup soon


mixin crafting-blocks(data)
	section.crafting-evolution
		.container
			.section-title.section-title--center
				h2.h2 Crafting
				.crafting-evolution__steps
					button.crafting-evolution__steps-item.active(type="button") Evolution 2
					button.crafting-evolution__steps-item(type="button") Evolution 3
			.crafting-evolution__content
				+crafting-item({
					type_1: true
				})
				+crafting-item({
					type_2: true
				})
				+crafting-item({
					type_3: true
				})
				+crafting-item({
					type_4: true
				})


mixin crafting-item(data)
	.crafting-item
		.crafting-item__row
			.crafting-item__row-select
				+select-custom({})
			if data.type_1
				.crafting-item__btns
					.crafting-item__btns__item
						.crafting-item__btns__item__image
							img(src="s/images/useful/crafting/pichu-sm.png", alt="pichu-sm")
							.crafting-item__btns__item__count
								span x11
						.crafting-item__btns__item__action
							button.button.button--xs(type="button")
								span Add
					.crafting-item__btns__item
						.crafting-item__btns__item__image
							img(src="s/images/useful/crafting/chermonder-sm.png", alt="chermonder-sm")
							.crafting-item__btns__item__count
								span x16
						.crafting-item__btns__item__action
							button.button.button--xs(type="button")
								span Add
					.crafting-item__btns__item
						.crafting-item__btns__item__image
							img(src="s/images/useful/crafting/squirtle-sm.png", alt="squirtle-sm")
							.crafting-item__btns__item__count
								span x0
						.crafting-item__btns__item__action
							button.button.button--xs(type="button", disabled)
								span Add
					.crafting-item__btns__item
						.crafting-item__btns__item__image
							img(src="s/images/useful/crafting/bulba-sm.png", alt="bulba-sm")
							.crafting-item__btns__item__count
								span x0
						.crafting-item__btns__item__action
							button.button.button--xs(type="button", disabled)
								span Add
				.crafting-item__chance
					.crafting-item__chance__block
						img(src="s/images/useful/crafting/crafting-arrow.svg", alt="arrow")
						.crafting-item__chance__progress(style="width: 0")
					.crafting-item__chance__text
						span Chance up to 50%
			if data.type_2
				.crafting-item__btns
					.crafting-item__btns__item
						.crafting-item__btns__item__image
							img(src="s/images/useful/crafting/pichu-sm.png", alt="pichu-sm")
							.crafting-item__btns__item__count
								span x11
						.crafting-item__btns__item__action
							button.button.button--xs(type="button")
								span Add
					.crafting-item__btns__item
						.crafting-item__btns__item__image
							img(src="s/images/useful/crafting/chermonder-sm.png", alt="chermonder-sm")
							.crafting-item__btns__item__count
								span x16
						.crafting-item__btns__item__action
							button.button.button--xs(type="button")
								span Add
					.crafting-item__btns__item
						.crafting-item__btns__item__image
							img(src="s/images/useful/crafting/squirtle-sm.png", alt="squirtle-sm")
							.crafting-item__btns__item__count
								span x0
						.crafting-item__btns__item__action
							button.button.button--xs(type="button", disabled)
								span Add
					.crafting-item__btns__item
						.crafting-item__btns__item__image
							img(src="s/images/useful/crafting/bulba-sm.png", alt="bulba-sm")
							.crafting-item__btns__item__count
								span x0
						.crafting-item__btns__item__action
							button.button.button--xs(type="button", disabled)
								span Add
				.crafting-item__chance
					.crafting-item__chance__block
						img(src="s/images/useful/crafting/crafting-arrow.svg", alt="arrow")
						.crafting-item__chance__progress(style="width: 35%")
					.crafting-item__chance__text
						span Chance #[br] 16.55%
			if data.type_3
				.crafting-item__btns
					.crafting-item__btns__item
						.crafting-item__btns__item__image
							img(src="s/images/useful/crafting/pichu-sm.png", alt="pichu-sm")
							.crafting-item__btns__item__count
								span x11
						.crafting-item__btns__item__action
							button.button.button--xs(type="button")
								span Add
					.crafting-item__btns__item
						.crafting-item__btns__item__image
							img(src="s/images/useful/crafting/chermonder-sm.png", alt="chermonder-sm")
							.crafting-item__btns__item__count
								span x16
						.crafting-item__btns__item__action
							button.button.button--xs(type="button")
								span Add
					.crafting-item__btns__item
						.crafting-item__btns__item__image
							img(src="s/images/useful/crafting/squirtle-sm.png", alt="squirtle-sm")
							.crafting-item__btns__item__count
								span x0
						.crafting-item__btns__item__action
							button.button.button--xs(type="button", disabled)
								span Add
					.crafting-item__btns__item
						.crafting-item__btns__item__image
							img(src="s/images/useful/crafting/bulba-sm.png", alt="bulba-sm")
							.crafting-item__btns__item__count
								span x0
						.crafting-item__btns__item__action
							button.button.button--xs(type="button", disabled)
								span Add
				.crafting-item__chance
					img(src="s/images/useful/crafting/crafting-win.svg", alt="crafting-win")
					.crafting-item__chance__text
						span Gosh! #[br]You did it!
			if data.type_4
				.crafting-item__btns
					.crafting-item__btns__item
						.crafting-item__btns__item__image
							img(src="s/images/useful/crafting/pichu-sm.png", alt="pichu-sm")
							.crafting-item__btns__item__count
								span x11
						.crafting-item__btns__item__action
							button.button.button--xs(type="button")
								span Add
					.crafting-item__btns__item
						.crafting-item__btns__item__image
							img(src="s/images/useful/crafting/chermonder-sm.png", alt="chermonder-sm")
							.crafting-item__btns__item__count
								span x16
						.crafting-item__btns__item__action
							button.button.button--xs(type="button")
								span Add
					.crafting-item__btns__item
						.crafting-item__btns__item__image
							img(src="s/images/useful/crafting/squirtle-sm.png", alt="squirtle-sm")
							.crafting-item__btns__item__count
								span x0
						.crafting-item__btns__item__action
							button.button.button--xs(type="button", disabled)
								span Add
					.crafting-item__btns__item
						.crafting-item__btns__item__image
							img(src="s/images/useful/crafting/bulba-sm.png", alt="bulba-sm")
							.crafting-item__btns__item__count
								span x0
						.crafting-item__btns__item__action
							button.button.button--xs(type="button", disabled)
								span Add
				.crafting-item__chance
					img(src="s/images/useful/crafting/crafting-loose.svg", alt="crafting-loose")
					.crafting-item__chance__text
						span Gosh! #[br]You did it!
			.crafting-item__row-rule
				span.crafting-item__row-rule-ttl Rules
				p.crafting-item__row-rule-txt You can bet from to 9 cards. If the craft fails, you will lose 50% of the cards.
		.crafting-item__box
				if data.type_1
					.crafting-item__box-main
						.crafting-item__box-main-cell
							span +5,55%
						.crafting-item__box-main-cell
							span +5,55%
						.crafting-item__box-main-cell
							span +5,55%
						.crafting-item__box-main-cell
							span +5,55%
						.crafting-item__box-main-cell
							span +5,55%
						.crafting-item__box-main-cell
							span +5,55%
						.crafting-item__box-main-cell
							span +5,55%
						.crafting-item__box-main-cell
							span +5,55%
						.crafting-item__box-main-cell
							span +5,55%
					button(type="button").button
						span Craft
					p.crafting-item__box-txt Crafting price 15 BPM per slot
				if data.type_2
					.crafting-item__box-main
						.crafting-item__box-main-cell.crafting-item__box-main-cell--yellow
							button(type="button").crafting-item__box-main-delete
								+svg("icon-close")
							.crafting-item__box-main-img
								picture
									source(media='(min-width: 479px)' srcset='./s/images/useful/crafting/1.svg')
									source(srcset='./s/images/useful/crafting/1.svg' type='image/webp')
									img(src='./s/images/useful/crafting/1.svg' alt='img')
						.crafting-item__box-main-cell.crafting-item__box-main-cell--red
							button(type="button").crafting-item__box-main-delete
								+svg("icon-close")
							.crafting-item__box-main-img
								picture
									source(media='(min-width: 479px)' srcset='./s/images/useful/crafting/2.svg')
									source(srcset='./s/images/useful/crafting/2.svg' type='image/webp')
									img(src='./s/images/useful/crafting/2.svg' alt='img')
						.crafting-item__box-main-cell.crafting-item__box-main-cell--blue
							button(type="button").crafting-item__box-main-delete
								+svg("icon-close")
							.crafting-item__box-main-img
								picture
									source(media='(min-width: 479px)' srcset='./s/images/useful/crafting/3.svg')
									source(srcset='./s/images/useful/crafting/3.svg' type='image/webp')
									img(src='./s/images/useful/crafting/3.svg' alt='img')
						.crafting-item__box-main-cell
							span +5,55%
						.crafting-item__box-main-cell
							span +5,55%
						.crafting-item__box-main-cell
							span +5,55%
						.crafting-item__box-main-cell
							span +5,55%
						.crafting-item__box-main-cell
							span +5,55%
						.crafting-item__box-main-cell
							span +5,55%
					button(type="button").button
						span Craft
					p.crafting-item__box-txt Crafting price 15 BPM per slot
				if data.type_3
					.crafting-item__box-main.crafting-item__box-main--yellow
						picture
							source(media='(min-width: 479px)' srcset='./s/images/useful/crafting/pikachu-big.svg')
							source(srcset='./s/images/useful/crafting/pikachu-big.svg' type='image/webp')
							img(src='./s/images/useful/crafting/pikachu-big.svg' alt='img')
					button(type="button").button
						span Craft
					p.crafting-item__box-txt Crafting price 15 BPM per slot
				if data.type_4
					.crafting-item__box-main
						.crafting-item__box-main-cell.crafting-item__box-main-cell--yellow
							.crafting-item__box-main-img
								picture
									source(media='(min-width: 479px)' srcset='./s/images/useful/crafting/1.svg')
									source(srcset='./s/images/useful/crafting/1.svg' type='image/webp')
									img(src='./s/images/useful/crafting/1.svg' alt='img')
						.crafting-item__box-main-cell.crafting-item__box-main-cell--red.cell-lost
							.crafting-item__box-main-img
								picture
									source(media='(min-width: 479px)' srcset='./s/images/useful/crafting/2.svg')
									source(srcset='./s/images/useful/crafting/2.svg' type='image/webp')
									img(src='./s/images/useful/crafting/2.svg' alt='img')
							.cell-lost__text
								span You lost
						.crafting-item__box-main-cell.crafting-item__box-main-cell--blue.cell-lost
							.crafting-item__box-main-img
								picture
									source(media='(min-width: 479px)' srcset='./s/images/useful/crafting/3.svg')
									source(srcset='./s/images/useful/crafting/3.svg' type='image/webp')
									img(src='./s/images/useful/crafting/3.svg' alt='img')
							.cell-lost__text
								span You lost
						.crafting-item__box-main-cell.crafting-item__box-main-cell--red
							.crafting-item__box-main-img
								picture
									source(media='(min-width: 479px)' srcset='./s/images/useful/crafting/2.svg')
									source(srcset='./s/images/useful/crafting/2.svg' type='image/webp')
									img(src='./s/images/useful/crafting/2.svg' alt='img')
						.crafting-item__box-main-cell.crafting-item__box-main-cell--yellow.cell-lost
							.crafting-item__box-main-img
								picture
									source(media='(min-width: 479px)' srcset='./s/images/useful/crafting/1.svg')
									source(srcset='./s/images/useful/crafting/1.svg' type='image/webp')
									img(src='./s/images/useful/crafting/1.svg' alt='img')
							.cell-lost__text
								span You lost
						.crafting-item__box-main-cell.crafting-item__box-main-cell--green
							.crafting-item__box-main-img
								picture
									source(media='(min-width: 479px)' srcset='./s/images/useful/crafting/4.svg')
									source(srcset='./s/images/useful/crafting/4.svg' type='image/webp')
									img(src='./s/images/useful/crafting/4.svg' alt='img')
						.crafting-item__box-main-cell
							span +5,55%
						.crafting-item__box-main-cell
							span +5,55%
						.crafting-item__box-main-cell
							span +5,55%
					button(type="button").button
						span Craft
					p.crafting-item__box-txt Crafting price 15 BPM per slot
					