mixin footer()
	footer.footer
		.footer__top
			span Buy Token
		.footer__content
			.footer__content-tools
				.container
					.footer__content-tools-row
						a(href="#").footer__content-tools-card
							.footer__content-tools-card-img
								img(src="./s/images/useful/pokeball/pokeball.png" alt="icon")
							span Open Pokeball
						a(href="#").footer__content-tools-card
							.footer__content-tools-card-img
								img(src="./s/images/useful/pokeball/pokeball-ball.png" alt="icon")
							span Buy Pokemoon Token
						.footer__content-tools-meta
							.footer__content-tools-meta-img
								img(src="./s/images/useful/meta.svg" alt="meta")
							.footer__content-tools-meta-copy
								span.footer__content-tools-meta-copy-txt 0xEdc883D324b53638cxcse0xEdc883D324b53638cxcse
								button(type="button").footer__content-tools-meta-copy-btn
									span Copy
							button(type="button").footer__content-tools-meta-add
								.footer__content-tools-meta-add-img
									img(src="./s/images/useful/fox.png" alt="icon")
								span.footer__content-tools-meta-add-txt Add NYT to MetaMask

			.footer__content-info 
				.container
					.footer__content-info-row
						a(href="#").footer__content-info-logo
							picture
								source(media='(min-width: 479px)' srcset='./s/images/useful/logo-new.png')
								source(srcset='./s/images/useful/logo-new.png' type='image/webp')
								img(src='./s/images/useful/logo-new.png' alt='img')
						.footer__content-info-list
							ul
								li
									span Information
								li
									a(href="#" disabled="") Docs
								li
									a(href="#" disabled="") Audit
								li
									a(href="#") Liquidity Lock
								li
									a(href="#") Buy PKM
							ul
								li
									span Links
								li
									a(href="#") CoinMarketCap
								li
									a(href="#") CoinGecko
								li
									a(href="#") Poocoin
								li
									a(href="#") Dextools
						.footer__content-info-social
							span.footer__content-info-social-ttl Be on touch
							.footer__content-info-social-row
								a(href="#")
									+icon-teltegram-2
									span Chat
								a(href="#")
									+icon-teltegram-2
									span Новости
								a(href="#")
									+svg("icon-twitter")
								a(href="#")
									+svg("icon-telepuzik")
								a(href="#")
									+svg("icon-telepuzik")
								a(href="#")
									+svg("icon-telepuzik")
								a(href="#")
									+svg("icon-telepuzik")
					ul.footer__content-info-legal
							
						li
							span © 2021 Pokemoon Token
						li
							a(href="#") Terms of use
						li
							a(href="#") Privacy Policy
						li
							a(href="#") Cookies Policy
							