.footer {
    padding: 0 4rem 7.4rem 4rem;
    position: relative;
    @media (max-width: $sw-xs-max) {
        padding: 0 4rem 10rem 4rem;
    }
    @media (max-width: $sw-xx-max) {
        padding: 0 1.6rem 9rem 1.6rem;
    }
    &__top {
        margin-bottom: 8px;
        // font-family: "FredokaOne";
        font-family: "Nunito";
        font-weight: 900;
        font-size: 6rem;
        line-height: 1.33em;
        color: #FCBE41;
        width: 100%;
        display: block;
        text-align: center;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 15rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 12rem;
            font-size: 3.2rem;
        }
    }
    &__content {
        background: #080A0C;
        box-shadow: 0px 32px 96px rgba(21, 26, 44, .32);
        border-radius: 7.2rem;
        max-width: 172rem;
        margin: 0 auto;
        &-tools {
            padding: 2.8rem 0 4.8rem;
            border-bottom: 2px solid rgba(255, 255, 255, .2);
            @media (max-width: $sw-xx-max) {
                padding: 2.8rem 0 2.4rem;
            }
            &-row {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                @media (max-width: $sw-xs-max) {
                    flex-wrap: wrap;
                }
            }
            &-card {
                width: 31.2%;
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-shrink: 0;
                @media (max-width: $sw-xs-max) {
                    width: calc(50% - 1.2rem);
                }
                &:first-child {
                    @media (max-width: $sw-xs-max) {
                        order: 2;
                    }
                }
                &:nth-child(2) {
                    @media (max-width: $sw-xs-max) {
                        order: 3;
                    }
                }
                &-img {
                    width: 19.3rem;
                    height: 19rem;
                    margin-bottom: 1.6rem;
                    position: relative;
                    @media (max-width: $sw-xx-max) {
                        margin-bottom: 0;
                        width: 16rem;
                        height: 18rem;
                    }
                    img {
                        display: block;
                        position: absolute;
                        margin: auto;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        max-width: 100%;
                        max-height: 100%;
                        width: auto;
                        height: auto;
                    }
                }
                span {
                    // font-family: "FredokaOne";
                    font-family: "Nunito";
                    font-weight: 900;
                    font-size: 2rem;
                    line-height: 1.2em;
                    text-align: center;
                    color: #5BACF2;
                    @media (max-width: $sw-xx-max) {
                        padding: 0 4px;
                        margin-top: -8px;
                    }
                }
            }
            &-meta {
                width: 26.2%;
                flex-shrink: 0;
                // margin-top: -11.8rem;
                margin-right: 3.2rem;
                @media (max-width: $sw-xs-max) {
                    width: 100%;
                    order: 1;
                    margin-right: 0;
                }
                &-img {
                    width: 100%;
                    margin-bottom: 3.7rem;
                    position: relative;
                    @media (max-width: $sw-xs-max) {
                        width: 29rem;
                        margin: 0 auto 3.2rem;
                    }
                    &:after {
                        visibility: hidden;
                        content: " ";
                        display: block;
                        padding-bottom: 100%;
                    }
                    canvas, img {
                        display: block;
                        position: absolute;
                        margin: auto;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        max-width: 100%;
                        max-height: 100%;
                        width: auto;
                        height: auto;
                    }
                }
                &-copy {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    margin-bottom: 3.7rem;
                    @media (max-width: $sw-xs-max) {
                        width: 29rem;
                        margin: 0 auto 3.2rem;
                    }
                    &-txt {
                        white-space: nowrap;
                        overflow: hidden;
                        margin-right: 2.4rem;
                        position: relative;
                        font-weight: 600;
                        font-size: 1.6rem;
                        line-height: 1.5em;
                        color: #C4C7D1;
                        &:after {
                            content: " ";
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            margin: auto 0;
                            background: linear-gradient(270deg, #080A0C -10.94%, rgba(8, 10, 12, 0) 87.5%);
                            width: 3.2rem;
                        }
                    }
                    &-btn {
                        // font-family: "FredokaOne";
                        font-family: "Nunito";
                        font-weight: 900;
                        font-size: 2rem;
                        line-height: 1.2em;
                        color: #5BACF2;
                    }
                }
                &-add {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto;
                    &-img {
                        width: 2.4rem;
                        height: 2.4rem;
                        position: relative;
                        margin-right: 8px;
                        img {
                            display: block;
                            position: absolute;
                            margin: auto;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            max-width: 100%;
                            max-height: 100%;
                            width: auto;
                            height: auto;
                        }
                    }
                    &-txt {
                        font-weight: 600;
                        font-size: 1.6rem;
                        line-height: 1.5em;
                        color: #E79D54;
                    }
                }
            }
        }
        &-info {
            padding: 4.8rem 0 3.2rem;
            @media (max-width: $sw-xx-max) {
                padding: 3.2rem 0;
            }
            &-row {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                margin-bottom: 3.4rem;
                @media (max-width: $sw-xx-max) {
                    flex-direction: column;
                    align-items: center;
                }
                @media (max-width: $sw-xx-max) {
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 3.2rem;
                }
            }
            &-logo {
                width: 10.8rem;
                height: 8.6rem;
                position: relative;
                flex-shrink: 0;
                margin-right: 6.5rem;
                margin-top: -3.4rem;
                display: flex;
                @media (max-width: $sw-xs-max) {
                    margin-right: 4.4rem;
                }
                @media (max-width: $sw-xx-max) {
                    margin-right: 0;
                    margin-bottom: 2rem;
                    margin-top: 1px;
                }
                img {
                    display: block;
                    position: absolute;
                    margin: auto;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                }
            }
            &-list {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                flex-grow: 1;
                margin-right: 3rem;
                @media (max-width: $sw-xx-max) {
                    flex-wrap: wrap;
                    width: 100%;
                    margin-right: 0;
                }
                ul {
                    width: 50%;
                    flex-shrink: 0;
                    @media (max-width: $sw-xx-max) {
                        width: 100%;
                    }
                    &:first-child {
                        @media (max-width: $sw-xx-max) {
                            margin-bottom: 3.2rem;
                        }
                    }
                }
                li {
                    &:not(:last-child) {
                        margin-bottom: 1.6rem;
                    }
                    &:first-child {
                        margin-bottom: 2.4rem;
                        a {
                            font-size: 2rem;
                        }
                    }
                }
                a {
                    font-weight: 800;
                    font-size: 1.6rem;
                    line-height: 1.5em;         
                    color: #C4C7D1;
                    &:hover {
                        color: #5BACF2;
                    }
                }
                span {
                    font-weight: 600;
                    font-size: 2rem;
                    line-height: 1.5em;         
                    color: #FFFFFF;
                }
            }
            &-social {
                width: 25.5rem;
                flex-shrink: 0;
                @media (max-width: $sw-xs-max) {
                    width: 16.5rem;
                }
                @media (max-width: $sw-xx-max) {
                    width: 100%;
                    margin-top: 3.2rem;
                }
                &-ttl {
                    font-weight: 600;
                    font-size: 2rem;
                    line-height: 1.5em;
                    color: #FFFFFF;
                    margin-bottom: 2.8rem;
                    display: block;
                }
                &-row {
                    display: flex;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    a {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        pointer-events: auto;
                        margin-bottom: 1.6rem;
                        &:not(:last-child) {
                            margin-right: 2.5rem;
                            @media (max-width: $sw-xs-max) {
                                margin-right: 1.2rem;
                            }
                            @media (max-width: $sw-xx-max) {
                                margin-right: 2.5rem;
                            }
                        }
                        .icon {
                            width: 2.4rem;
                            font-size: 2.4rem;
                            color: #41ABE1;
                            &:not(:last-child) {
                                margin-bottom: 4px;
                            }
                        }
                        span {
                            font-size: 1rem;
                            line-height: 1em;
                            font-weight: 700;
                            color: #58A9EF;
                            text-align: center;
                            // font-family: 'ReadexPro';
                            font-family: "Nunito";
                        }
                    }
                }
            }
            &-legal {
                display: flex;
                align-items: center;
                justify-content: center;
                @media (max-width: $sw-xx-max) {
                    flex-wrap: wrap;
                }
                li {
                    @media (max-width: $sw-xx-max) {
                        margin-bottom: 1.6rem;
                    }

                    &:not(:last-child) {
                        margin-right: 3.8rem;
                        position: relative;
                        &:before {
                            width: 4px;
                            height: 4px;
                            border-radius: 50%;
                            background-color: rgba(#C4C7D1, .5);
                            position: absolute;
                            top:  -2px;
                            right: -1.9rem;
                            bottom: 0;
                            margin: auto 0;
                            content: " ";
                        }
                    }
                    &:first-child {
                        @media (max-width: $sw-xx-max) {
                            order: 4;
                            width: 100%;
                            margin-right: 0;
                            text-align: center;
                        }
                        &:before {
                            @media (max-width: $sw-xx-max) {
                                display: none;
                            }
                        }
                    }
                    span, a {
                        font-weight: 600;
                        font-size: 1rem;
                        line-height: 1.2em;
                        text-transform: uppercase;
                        color: rgba(#C4C7D1, .5);
                    }
                }
            }
        }
    }
}