.table {
    &-wrapper {
        padding: 5rem 0;
        @media (max-width: $sw-xx-max) {
            padding: 4rem 0;
        }
    }
    &-header {
        margin-bottom: 4rem;
        font-family: $fredoka;
        font-weight: 400;
        font-size: 3.2rem;
        line-height: 1.25em;
        color: #FCBE41;
    }
    &-inner {
        padding-bottom: 2rem;
        overflow: hidden;
        overflow-x: auto;
    }
    &-block {
        width: 100%;
        min-width: 90rem;
        thead {
            td {
                font-weight: 700;
                font-size: 1.4rem;
                line-height: 1.4em;
                color: #C4C7D1;
                text-align: right;
                padding-bottom: 1.2rem;
                vertical-align: middle;
                &:first-child {
                    text-align: left;
                }
            }
            .tooltip-container {
                margin-left: auto;
                .icon-question {
                    color:#c4c7d1;
                    margin-left: 8px !important;
                }
            }
            .btn-sort {
                .icon {
                    margin-right: 7px;
                    flex-shrink: 0;
                    font-size: 1.2rem;
                    color: #C4C7D1;
                    transform: none;
                    transition: transform .15s ease;
                }
                &.is-sorted {
                    .icon {
                        transform: rotate(180deg);
                    }
                }
            }
            a, button {
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 700;
                font-size: 1.4rem;
                line-height: 1.4em;
                color: #C4C7D1;
                cursor: pointer;
                margin-left: auto;
            }
        }
        tbody {
            tr {
                border-bottom-width: 1px;
                border-bottom-style: solid;
                // border-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.470268) 50%, rgba(255, 255, 255, 0) 100%);
                border-bottom-color: rgba(255, 255, 255, .3);
            }
            td {
                vertical-align: top;
                font-weight: 800;
                font-size: 1.6rem;
                line-height: 1.5em;
                text-align: right;
                color: $white;
                padding: 1.6rem 0;
                &:first-child {
                    text-align: left;
                }
                a {
                    font-family: "Nunito";
                    color: white;
                    font-weight: 900;
                    text-decoration: none;
                    &:hover {
                        color:#FCBE41;
                    }
                }
            }
            .item-sm {
                display: block;
                width: 100%;
                margin-top: 4px;
                font-weight: 600;
                font-size: 1.4rem;
                line-height: 1.4em;
            }
        }
    }
}