mixin table-component(data)
	.table-wrapper
		.container
			.table-header
				span Some table header
			.table-inner.h-scrollbar
				table.table-block
					thead
						tr
							td.num-box
								span #
							td
								span Name
							td
								button.btn-sort(type="button")
									+svg('icon-arrow-bold')
									span Price
							td
								button.tooltip-container(type="button")
									span Volume
									+svg('icon-question')
									span.tooltip-dropdown
										span Every NFT in our New Year collection has its own rarity. 
							td
								span Last 7 days
					tbody
						tr
							td.num-box
								span 1
							td
								span Some long name
							td
								span 254 521.00 BPM
								span.item-sm $6 587.232
							td
								span 12 254 521.00 BPM
								span.item-sm $6 587.232
							td
								img(src="s/images/tmp_file/table-graph.svg", alt="graph")
						tr
							td.num-box
								span 2
							td
								span Some long name
							td
								span 254 521.00 BPM
								span.item-sm $6 587.232
							td
								span 12 254 521.00 BPM
								span.item-sm $6 587.232
							td
								img(src="s/images/tmp_file/table-graph.svg", alt="graph")
						tr
							td.num-box
								span 3
							td
								span Some long name
							td
								span 254 521.00 BPM
								span.item-sm $6 587.232
							td
								span 12 254 521.00 BPM
								span.item-sm $6 587.232
							td
								img(src="s/images/tmp_file/table-graph.svg", alt="graph")
						tr
							td.num-box
								span 4
							td
								span Some long name
							td
								span 254 521.00 BPM
								span.item-sm $6 587.232
							td
								span 12 254 521.00 BPM
								span.item-sm $6 587.232
							td
								img(src="s/images/tmp_file/table-graph.svg", alt="graph")
						tr
							td.num-box
								span 5
							td
								span Some long name
							td
								a(href="#") Link example
								span.item-sm $6 587.232
							td
								span 12 254 521.00 BPM
								span.item-sm $6 587.232
							td
								img(src="s/images/tmp_file/table-graph.svg", alt="graph")
						tr
							td.num-box
								span 6
							td
								span Some long name
							td
								span 254 521.00 BPM
								span.item-sm $6 587.232
							td
								span 12 254 521.00 BPM
								span.item-sm $6 587.232
							td
								img(src="s/images/tmp_file/table-graph.svg", alt="graph")