mixin tokenomik(data)
	section.tokenomik
		.container
			.section-title.section-title--center
				h2.h2 Tokenomic
			.tokenomik__content
				.tokenomik__content-col
					h2.h2-sm Tokens distribution
					.tokenomik__content-img
						img(src="./s/images/useful/tokenomik/2.svg" alt="icon")
				.tokenomik__content-col
					h2.h2-sm Transaction tax
					.tokenomik__content-img
						img(src="./s/images/useful/tokenomik/1.svg" alt="icon")