.tokenomik {
    margin-bottom: 14rem;
    @media (max-width: $sw-sm-max) {
        margin-bottom: 10rem;
    }
    @media (max-width: $sw-xx-max) {
        margin-bottom: 8rem;
    }
    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @media (max-width: $sw-sm-max) {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }
        h2 {
            text-align: center;
        }
        &-col {
            width: calc(50% - 2.4rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            @media (max-width: $sw-sm-max) {
                width: 100%;
            }
            &:first-child {
                @media (max-width: $sw-sm-max) {
                    margin-bottom: 4.8rem;
                }
            }
        }
        &-img {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 38rem;
            img {
                width: 100%;
                display: block;
            }
        }
    }
}