.magic-banner {
    margin-bottom: 14rem;
    @media (max-width: $sw-sm-max) {
        margin-bottom: 10rem;
    }
    @media (max-width: $sw-xx-max) {
        margin-bottom: 8rem;
    }
    &__inner {
        padding: 7rem 0 0 0;
        @media (max-width: $sw-xx-max) {
            padding: 1.5rem 0 0 0;
        }
    }
}

.mystery-box {
    width: 100%;
    background: #080A0C;
    box-shadow: 0px 40px 80px #000000;
    border-radius: 3.6rem;
    padding: 3.5rem 4.2rem 4.7rem 3.2rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    // overflow: hidden;
    @media (max-width: $sw-xs-max) {
        flex-wrap: wrap;
        padding: 0 6rem 4rem;
    }
    @media (max-width: $sw-xx-max) {
        padding: 0 2.4rem 3.2rem;
    }
    &__tag {
        height: 8.5rem;
        display: flex;
        padding: 1.6rem 3.2rem;
        position: absolute;
        top: 10rem;
        left: -1.6rem;
        font-size: 3.2rem;
        line-height: 1.25em;
        color: #967025;
        text-shadow: 0px 2px 0px rgba(255, 255, 255, .1);
        font-family: "Nunito";
        font-weight: 900;
        background-image: url('../images/useful/pokeball/season.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 3;
        @media (max-width: $sw-sm-max) {
            top: 4rem;
        }
        @media (max-width: $sw-xs-max) {
            font-size: 1.8rem;
            height: 6.4rem;
            padding: 1.6rem 2rem;
            top: 3rem;
            left: -6px;
        }
    }
    &__img {
        flex-shrink: 0;
        margin-right: 2.2rem;
        width: 51.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: $sw-sm-max) {
            width: 35rem;
            margin-right: 2.2rem;
        }
        @media (max-width: $sw-xs-max) {
            margin-right: 0;
            width: 100%;
            margin-bottom: 0;
            margin-top: 0;
        }
        &-soon {
            position: absolute;
            top: 0;
            left: 0;
            width: 51.8rem;
            height: 100%;
            @media (max-width: $sw-sm-max) {
                width: 40rem;
                margin-right: 2.2rem;
            }
            @media (max-width: $sw-xs-max) {
                width: 100%;
                height: initial;
            }
            &:before {
                @media (max-width: $sw-xs-max) {
                    display: block;
                    padding-bottom: 75%;
                    content: " ";
                    visibility: hidden;
                }
                @media (max-width: $sw-xx-max) {
                    padding-bottom: 80%;
                }
            }
            .h-object-fit {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
    &__info {
        flex-grow: 1;
        padding-top: 4.6rem;
        @media (max-width: $sw-sm-max) {
            padding-top: 0;
        }
    }
    &__title {
        // font-family: "FredokaOne";
        font-family: "Nunito";
        font-weight: 900;
        font-size: 6rem;
        line-height: 1.33em;
        color: #FCBE41;
        margin-bottom: 8px;
        @media (max-width: $sw-xs-max) {
            padding-left: 0;
        }
        @media (max-width: 575px) {
            font-size: 3.2rem;
            line-height: 1.25em;
        }
    }
    &__subtitle {
        margin-bottom: 2.4rem;
        width: 100%;
        font-size: 2rem;
        line-height: 1.5em;
        color: #C4C7D1;
        @media (max-width: $sw-xs-max) {
            padding-left: 0;
        }
    }
    &__price {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 8px;
        @media (max-width: $sw-xs-max) {
            padding-left: 0;
        }
        @media (max-width: 575px) {
            margin-bottom: 4px;
        }
        &__val {
            // font-family: "FredokaOne";
            font-family: "Nunito";
            font-weight: 900;
            font-size: 3.2rem;
            line-height: 1.25em;
            color: #FCBE41;
        }
        &__descr {
            // font-family: "FredokaOne";
            font-family: "Nunito";
            font-weight: 900;
            font-size: 3.2rem;
            line-height: 1.25em;
            color: white;
            margin-left: 8px;
        }
    }
    &__equivalent {
        margin-bottom: 3.2rem;
        font-weight: 800;
        font-size: 1.6rem;
        line-height: 1.5em;
        color: rgba(#C4C7D1, .5);

        @media (max-width: $sw-xs-max) {
            padding-left: 0;
        }
    }
    &__count {
        margin-bottom: 3.1rem;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        @media (max-width: 575px) {
            justify-content: space-between;
        }
        &__side {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            &:not(:last-child) {
                margin-right: 9.2rem;
                @media (max-width: $sw-sm-max) {
                    margin-right: 4.7rem;
                }
                @media (max-width: 359px) {
                    margin-right: 0;
                    margin-bottom: 1.5rem;
                }
            }
        }
        &__title {
            margin-bottom: 6px;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.2em;
            text-transform: uppercase;
            color: #AAA9B0;
        }
        &__quantity {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            input {
                background-color: transparent;
                width: 5.7rem;
                padding: 0 3px;
                text-align: center;
                height: 3.6rem;
                outline: none;
                box-shadow: none;
                border: none;
                font-weight: 700;
                font-size: 2.4rem;
                line-height: 1em;
                color: white;
                &:focus {
                    outline: none;
                    box-shadow: none;
                    border: none;
                }
            }
        }
        &__btn {
            width: 2.4rem;
            &[disabled] {
                cursor: default;
                path {
                    opacity: 0.3;
                }
            }
        }
        &__buy {
            background: linear-gradient(93.37deg, rgba(91, 172, 242, 0.2) 1.22%, rgba(40, 114, 178, 0.2) 100%);
            border-radius: 1.2rem;
            padding: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            &__btn {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                height: 3.2rem;
                padding: 0 8px;
                background-color: transparent;
                transition: background-color .3s ease, color .3s ease;
                border-radius: 1rem;
                font-size: 1.4rem;
                line-height: 1.43em;
                color: #AAA9B0;    
                font-family: "ReadexPro";
                @media (max-width: 575px) {
                    height: 3.2rem;
                }
                .icon {
                    width: 2rem;
                    height: 2rem;
                    font-size: 2rem;
                    margin-right: 1rem;
                    flex-shrink: 0;
                    @media (max-width: 575px) {
                        margin-right: 0;
                    }
                }
                img {
                    flex-shrink: 0;
                    display: block;
                    margin-right: 1rem;
                    @media (max-width: 575px) {
                        margin-right: 0;
                        display: none;
                    }
                }
                &.is-active {
                    background-color: #F0B739;
                    color: #1E2329;
                }
            }
        }
    }
    &__submit {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        margin-bottom: 3.2rem;
        width: 100%;
        @media (max-width: $sw-xs-max) {
            margin-bottom: 0;
        }
        .button {
            width: 100%;
            max-width: 44.3rem;
            padding: 1.3rem 2.4rem;
            text-transform: initial;
        }
    }
    &__drop {
        &__title {
            font-weight: 600;
            font-size: 2rem;
            line-height: 1.5em;
            color: yellow;
            display: block;
            width: 100%;
            margin-bottom: 2.4rem;
        }
        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
        }
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 16rem;
            @media (max-width: $sw-sm-max) {
                width: auto;
            }
            &:not(:last-child) {
                margin-right: 1.6rem;
                margin-bottom: 1.6rem;
            }
            &__icons {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 6px;
                display: none;
                @media (max-width: $sw-sm-max) {
                    display: none;
                }
                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 2.4rem;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
                    transform: rotate(180deg);
                }
                img {
                    width: 3.1rem;
                    opacity: 0.5;
                    transition: opacity .3s ease;
                    margin: 0 4px;
                }
            }
            &__label {
                width: 100%;
                padding: 0 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-weight: 700;
                font-size: 1.2rem;
                line-height: 1.3em;
                letter-spacing: 0.5px;
                color: white;
                height: 3.2rem;
                border-radius: 2rem;
                @media (max-width: $sw-sm-max) {
                    padding: 0 1.5rem;
                }
                &--green {
                    background-color: green;
                }
                &--blue {
                    background-color: #C7C2C2;
                }
                &--violet {
                    background-color: violet;
                }
                &--orange {
                    background-color: orange;
                }
            }
        }
    }
    &__timer {
        padding-top: 2.4rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media (max-width: $sw-xs-max) {
            padding-top: 1.6rem;   
        }
        @media (max-width: $sw-xx-max) {
            padding-top: 0;   
        }
        &-ttl {
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 1.5em;
            color: #C4C7D1;
            margin-bottom: 1.6rem;
            @media (max-width: $sw-xs-max) {
                font-size: 2rem;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 1.8rem;
            }
        }
        &-inner {
            .banner__content-article-timer-txt {
                @media (max-width: 480px) {
                    font-size: 1.2rem;
                }
            }
            .banner__content-article-timer-num {
                @media (max-width: 480px) {
                    margin-bottom: 0;
                }
            }
            .banner__content-article-timer-col:not(:last-child) {
                @media (max-width: 480px) {
                    margin-right: 3.4rem;
                }
            }
            .banner__content-article-timer-col:not(:last-child):after {
                @media (max-width: 480px) {
                    right: -1.8rem;
                }
            }
        }
    }
    &__drop-rate {
        width: 100%;
        @media (max-width: $sw-xs-max) {
            margin-top: 2rem;
        }
        &__top {
            width: 100%;
            max-width: 44.5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 9px;
            &:before, 
            &:after {
                content: '';
                display: block;
                height: 1px;
                width: 50%;
            }
            &:before {
                background: linear-gradient(270deg, #102130 0%, rgba(16, 33, 48, 0) 100%);
            }
            &:after {
                background: linear-gradient(270deg, rgba(16, 33, 48, 0) 0%, #102130 100%);
            }
        }
        &__title {
            font-size: 1rem;
            line-height: 1.2rem;
            text-transform: uppercase;
            color: #AAA9B0;
            margin: 0 8px;
            flex-shrink: 0;
            font-weight: 700;
        }
        &__inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            padding-left: 7px;
            @media (max-width: 499px) {
                padding-left: 0;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
            }
        }
        &__item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 1.4em;
            color: #c4c7d1;
            margin-bottom: 1rem;
            &:not(:last-child) {
                margin-right: 1.6rem;
                @media (max-width: 499px) {
                    margin-right: 0;
                }
            }
            .icon {
                font-size: 1.6rem;
                color: #6900BB;
                margin-right: 6px;
            }
        }
        &__percentage {
            color: #C4C7D1;
            font-weight: 800;
            margin-left: 8px;
        }
    }
}