mixin pokeball(data)
	section.magic-banner
		.container
			.magic-banner__inner
				.mystery-box
					span.mystery-box__tag Season 2
					.mystery-box__img
						if (data.soon)
							.mystery-box__img-soon 
								.h-object-fit
									img(src="s/images/useful/pokeball/soon_banner.png", alt="pokeball")
						img(src="s/images/useful/pokeball/pokeball.png", alt="pokeball")
					form.mystery-box__info(action="javascript:void(0)")
						h1.mystery-box__title Pokeball
						p.mystery-box__subtitle You will get one of 10 different NFTs, each NFT has different chance of acquiring.
						if data.soon
							.mystery-box__timer 
								span.mystery-box__timer-ttl Comming 1 February, 2022
								.mystery-box__timer-inner
									.banner__content-article-timer
										.banner__content-article-timer-col
											span.banner__content-article-timer-num 29
											span.banner__content-article-timer-txt Days
										.banner__content-article-timer-col
											span.banner__content-article-timer-num 12
											span.banner__content-article-timer-txt Hours
										.banner__content-article-timer-col
											span.banner__content-article-timer-num 54
											span.banner__content-article-timer-txt Minutes
										.banner__content-article-timer-col
											span.banner__content-article-timer-num 08
											span.banner__content-article-timer-txt Seconds 
						unless data.soon
							.mystery-box__price
								span.mystery-box__price__val 7.35 PKM
								span.mystery-box__price__descr / ball
							.mystery-box__equivalent
								span ~ $9.99
							.mystery-box__count
								.mystery-box__count__side
									span.mystery-box__count__title Quantity
									.mystery-box__count__quantity
										button.mystery-box__count__btn(type="button", disabled)
											svg(viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
												circle(cx='12' cy='12' r='11.25' stroke='url(#paint0_linear_231_2025121212)' stroke-opacity='0.2' stroke-width='1.5' stroke-linecap='round')
												path(d='M17 11C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13L7 13C6.44771 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11L17 11Z' fill='url(#paint1_linear_231_2025111111)')
												defs
													lineargradient#paint0_linear_231_2025121212(x1='0.229665' y1='1.38462' x2='25.2452' y2='2.85792' gradientUnits='userSpaceOnUse')
														stop(stop-color='#5BACF2')
														stop(offset='1' stop-color='#2872B2')
													lineargradient#paint1_linear_231_2025111111(x1='6.11483' y1='11.1154' x2='17.2727' y2='15.0583' gradientUnits='userSpaceOnUse')
														stop(stop-color='#5BACF2')
														stop(offset='1' stop-color='#2872B2')
										input(type="text", value="1")
										button.mystery-box__count__btn(type="button")
											svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
												circle(cx='12' cy='12' r='11.25' stroke='url(#paint0_linear_231_2024)' stroke-opacity='0.2' stroke-width='1.5' stroke-linecap='round')
												path(d='M11 7C11 6.44772 11.4477 6 12 6C12.5523 6 13 6.44772 13 7V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V7Z' fill='url(#paint1_linear_231_2024)')
												path(d='M17 11C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13L7 13C6.44771 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11L17 11Z' fill='url(#paint2_linear_231_2024)')
												defs
													lineargradient#paint0_linear_231_2024(x1='0.229665' y1='1.38462' x2='25.2452' y2='2.85792' gradientUnits='userSpaceOnUse')
														stop(stop-color='#5BACF2')
														stop(offset='1' stop-color='#2872B2')
													lineargradient#paint1_linear_231_2024(x1='6.11483' y1='6.69231' x2='18.6226' y2='7.42896' gradientUnits='userSpaceOnUse')
														stop(stop-color='#5BACF2')
														stop(offset='1' stop-color='#2872B2')
													lineargradient#paint2_linear_231_2024(x1='6.11483' y1='6.69231' x2='18.6226' y2='7.42896' gradientUnits='userSpaceOnUse')
														stop(stop-color='#5BACF2')
														stop(offset='1' stop-color='#2872B2')
								.mystery-box__count__side
									span.mystery-box__count__title Buy with
									.mystery-box__count__buy
										button.mystery-box__count__buy__btn.is-active(type="button")
											+svg('icon-bnb-simple')
											span BNB
										button.mystery-box__count__buy__btn(type="button")
											.icon
												img(src="s/images/useful/pokeball/pkm-logo.png", alt="nyt")
											span PKM
							.mystery-box__submit
								button.button.button--small(type="submit")
									span Buy Pokeball
							.mystery-box__drop-rate
								.mystery-box__drop-rate__top
									span.mystery-box__drop-rate__title Drop Rate
								.mystery-box__drop-rate__inner
									.mystery-box__drop-rate__item
										+svg('icon-rate-level1')
										span Evolution 1
										span.mystery-box__drop-rate__percentage 89,9%
									.mystery-box__drop-rate__item
										+svg('icon-rate-level2')
										span Evolution 2
										span.mystery-box__drop-rate__percentage 10%
									.mystery-box__drop-rate__item
										+svg('icon-rate-level1')
										span Evolution 3
										span.mystery-box__drop-rate__percentage 0,1%
