.mobile-navigation {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    background-color: #10202F;
    display: none;
    @media (max-width: $sw-sm-max) {
        display: block;
    }
    &.is-opened {
        &:after {
            opacity: 1;
            visibility: visible;
        }
    }
    &:after {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(#10202F, 0.6);
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s ease, visibility .3s ease;
    }
    &__inner {
        height: 7rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        z-index: 11;
    }
    &__item {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 8px 0;
        position: relative;
        &.active {
            .mobile-navigation__item__name {
                color: #FAFCFE;
            }
            .icon {
                color: #FAFCFE;
            }
        }
        &__icon {
            width: 2.4rem;
            height: 2.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 2px;
            &.icon--lg {
                width: 7.6rem;
                height: 6.8rem;
                margin-top: -4.3rem;
            }
            .icon {
                font-size: 2rem;
            }
            img {
                width: auto;
                height: auto;
                position: absolute;
                left: 50%;
                max-width: none;
                transform: translateX(-50%);
                bottom: 1.5rem;
            }
        }
        .icon {
            color: rgba(255, 255, 255, 0.6);
            &-home {
                font-size: 1.8rem;
            }
            &-swap {
                font-size: 1.4rem;
            }
            &-token {
                font-size: 1.8rem;
            }
            &-joistick {
                font-size: 1.8rem;
            }
            &-more {
                font-size: 6px;
            }
        }
        &__name {
            color: rgba(#FAFCFE, 0.4);
            transition: color .3s ease;
            display: block;
            width: 100%;
            text-align: center;
            font-weight: 600;
            font-size: 1.2rem;
            line-height: 1.15em;
        }
        &-dropdown {
            position: absolute;
            bottom: calc(100% + 2.4rem);
            right: 1.5rem;
            background: #10202F;
            box-shadow: 0px 48px 144px rgba(1, 14, 51, 0.32);
            border-radius: 3.6rem;
            padding: 3.3rem 3.2rem;
            z-index: 10;
            width: 33rem;
    
            transform: translateY(2rem);
            opacity: 0;
            visibility: hidden;
            transition: all .2s ease;
            @media (max-width: 479px) {
                right: initial;
                left: 50%;
                transform: translate(-50%, 2rem);
            }
            @media (max-width: 359px) {
                width: 28.8rem;
            }
            &.visible {
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
                @media (max-width: 479px) {
                    transform: translate(-50%, 0);
                }
            }
            &-list {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-right: 1rem;
                &:not(:last-child) {
                    margin-bottom: 3.2rem;
                }
            }
            &-li {
                &:not(:last-child) {
                    margin-bottom: 3.2rem;
                }
            }
            &-link {
                color: #FAFCFE;
                font-size: 1.6rem;
                line-height: 1.5em;
                font-weight: 600;
                position: relative;
                transition: color .3s ease;
                .header__content-nav-sup {
                    top: -1.4rem;
                    right: -2.4rem;
                }
            }
            &-inner {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                .header-social {
                    display: flex;
                    position: relative;
                    top: initial;
                    right: initial;
                    bottom: initial;
                    margin: 1rem 0 0 0;
                    a {
                        &:not(:last-child) {
                            margin-bottom: 2rem;
                        }
                    }
                }
            }
            &-footer {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
            }
            &-sum {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 1.5em;
                color: #FAFCFE;
                margin-left: 2.5rem;
                img {
                    flex-shrink: 0;
                    width: 2.4rem;
                    margin-right: 4px;
                }
            }
            .drop-custom__content {
                top: initial;
                bottom: 100%;
            }
        }
    }
}