include ../header/header

mixin mobile-navigation(data)
	.mobile-navigation
		.mobile-navigation__inner
			a.mobile-navigation__item(href="javascript:void(0)")
				.mobile-navigation__item__icon
					//- +svg('icon-home')
					+svg('icon-referal')
				//- span.mobile-navigation__item__name Home
				span.mobile-navigation__item__name Referal
			a.mobile-navigation__item.active(href="javascript:void(0)")
				.mobile-navigation__item__icon
					//- +svg('icon-swap')
					+svg('icon-earn')
				//- span.mobile-navigation__item__name Swap
				span.mobile-navigation__item__name Earn
			a.mobile-navigation__item(href="javascript:void(0)")
				.mobile-navigation__item__icon.icon--lg
					img(src="s/images/useful/mobile-nav.png", alt="pokeball")
				span.mobile-navigation__item__name Pokeball
			a.mobile-navigation__item(href="javascript:void(0)")
				.mobile-navigation__item__icon
					//- +svg('icon-joistick')
					+svg('icon-staking')
				//- span.mobile-navigation__item__name Games
				span.mobile-navigation__item__name Staking
			button.mobile-navigation__item(type="button").js-more-btn
				.mobile-navigation__item__icon
					+svg('icon-more')
				span.mobile-navigation__item__name More
			.mobile-navigation__item-dropdown.js-more-content
				.mobile-navigation__item-dropdown-inner
					ul.mobile-navigation__item-dropdown-list 
						li.mobile-navigation__item-dropdown-li 
							a(href="#").mobile-navigation__item-dropdown-link Swap
						li.mobile-navigation__item-dropdown-li 
							a(href="#").mobile-navigation__item-dropdown-link NFT
						li.mobile-navigation__item-dropdown-li 
							a(href="#").mobile-navigation__item-dropdown-link Farming
						li.mobile-navigation__item-dropdown-li 
							a(href="#").mobile-navigation__item-dropdown-link Roadmap
						li.mobile-navigation__item-dropdown-li 
							a(href="#").mobile-navigation__item-dropdown-link 
								span Games
								span.header__content-nav-sup soon
						li.mobile-navigation__item-dropdown-li 
							a(href="#").mobile-navigation__item-dropdown-link FAQ
					.header-social
						a(href="#")
							+icon-navtelegram
							span Chat
						a(href="#")
							+icon-navtelegram-2
							span News
						a(href="#")
							+svg("icon-twitter")
						a(href="#")
							+svg("icon-telepuzik")
				.mobile-navigation__item-dropdown-footer
					+drop-languages({})
					.mobile-navigation__item-dropdown-sum
						img(src="s/images/useful/pokeball.png", alt="icon")
						span $0.0032