.find-us {
    margin-bottom: 14rem;
    @media (max-width: $sw-sm-max) {
        margin-bottom: 10rem;
    }
    @media (max-width: $sw-xx-max) {
        margin-bottom: 8rem;
    }
    &__content {
        background: #080A0C;
        box-shadow: 0px 32px 96px rgba(21, 26, 44, .32);
        border-radius: 3.6rem;
        padding: 3.2rem 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: $sw-xs-max)  {
            padding: 3.2rem 2.4rem;
        }
        @media (max-width: 480px)  {
            padding: 3.2rem 5px; 
        }
        a {
            width: calc(16.666666% - 5px);
            display: flex;
            position: relative;
            flex-shrink: 0;
            @media (max-width: $sw-sm-max) {
                width: calc(33.33333% - 5px);
            }
            @media (max-width: $sw-xs-max)  {
                width: calc(50% - 5px);
            }
            &:after {
                visibility: hidden;
                padding-bottom: 33.75%;
                display: block;
                content: " ";
            }
            img {
                display: block;
                position: absolute;
                margin: auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
            }
            &:nth-child(n + 4) {
                @media (max-width: $sw-sm-max) and (min-width: $sw-xs-min)  {
                    margin-top: 2.6rem;
                }
            }
            &:nth-child(n + 3) {
                @media (max-width: $sw-xs-max)  {
                    margin-top: 8px;
                }
            }
        }
    }
}
