mixin find-us(data)
	section.find-us
		.container
			.section-title.section-title--center
				h2.h2 Find Us On
			.find-us__content
				a(href="#")
					img(src="./s/images/useful/find-us/1.png" alt="icon")
				a(href="#")
					img(src="./s/images/useful/find-us/2.png" alt="icon")
				a(href="#")
					img(src="./s/images/useful/find-us/3.png" alt="icon")
				a(href="#")
					img(src="./s/images/useful/find-us/4.png" alt="icon")
				a(href="#")
					img(src="./s/images/useful/find-us/5.png" alt="icon")
				a(href="#")
					img(src="./s/images/useful/find-us/6.png" alt="icon")