mixin share-earn(data)
	section.share-section(class= data.custom_cls ? data.custom_cls : null)
		.container
			.section-title.section-title--center
				h2.h2 Share & Earn
			.share-section__inner
				.share-section__content
					.share-section__col
						.share-section__item
							.share-section__item__box
								span.share-section__item__title How does it works?
								p Nothing complicated. Just like everywhere else. Just invite your friends and get a percentage of their activity
							.share-section__discount
								ul.share-section__discount__list.h-reset-list
									li
										span.share-section__discount__title Get up to 20%
									li
										.share-section__discount__list__item
											+svg('icon-dollar-rounded')
											span 5% of NFT egg
									li
										.share-section__discount__list__item
											+svg('icon-dollar-rounded')
											span 5% of Staking rewards
									li
										.share-section__discount__list__item
											+svg('icon-dollar-rounded')
											span 5% of Games
									li
										.share-section__discount__list__item
											+svg('icon-dollar-rounded')
											span 10% of NFT rewards
									li
										.share-section__discount__list__item
											+svg('icon-dollar-rounded')
											span 20% of Crafting
					.share-section__col
						.share-section__item
							.share-section__item__box
								span.share-section__item__title Your unique referral link
								p Just copy the link and send to your friends. #[br] You can also share the referral link on your social profiles
							.share-section__copy
								span.share-section__copy__inner www.pokemon.com/ref/ui34Gfdj3
								button.button.button--small(type="button")
									span Copy
							.share-section__socials
								button.share-section__socials__btn(type="button")
									.share-section__socials__icon
										+icon-teltegram-3
									span Share on Telegram
								button.share-section__socials__btn(type="button")
									.share-section__socials__icon
										+svg('icon-twitter')
									span Share on Twitter
				.share-section__statistics
					if data.connect_wallet
						.central-owerlay
							+svg("icon-locked")
							h2.h2 Connect wallet to see more
							button(type="button").wallet-button.wallet-button--filled
								+svg("icon-wallet")
								span Connect wallet
					.share-section__statistics__col
						.share-section__statistics__item
							span.share-section__statistics__item__val 63
							p Total Referrals
					.share-section__statistics__col
						.share-section__statistics__item
							span.share-section__statistics__item__val 1231412 #[span.val-sm BPM-USDT LP]
							span.share-section__statistics__item__equivalent ~ 120$
							p You've earned
				.share-section__rewards
					span.share-section__rewards__title Sources of rewards
					.share-section__rewards__inner
						.share-section__rewards__col
							span.share-section__rewards__head NFT egg
							span.share-section__rewards__val 72 988 963.99
							.share-section__rewards__chart
								.share-section__rewards__chart__item.animate.no-round(style='--p:55')
									.share-section__rewards__chart__inner
										+svg('icon-egg-filled')
								span.share-section__rewards__chart__val 55%
						.share-section__rewards__col
							span.share-section__rewards__head Staking rewards
							span.share-section__rewards__val 18 844 423.43
							.share-section__rewards__chart
								.share-section__rewards__chart__item.item-staking.animate.no-round(style='--p:14.2')
									.share-section__rewards__chart__inner
										+svg('icon-staking-filled')
								span.share-section__rewards__chart__val 14.2%
						.share-section__rewards__col
							span.share-section__rewards__head NFT rewards
							span.share-section__rewards__val 28 664 756.77
							.share-section__rewards__chart
								.share-section__rewards__chart__item.item-nft-rewards.animate.no-round(style='--p:21.6')
									.share-section__rewards__chart__inner
										+svg('icon-earn-filled')
								span.share-section__rewards__chart__val 21.6%
						.share-section__rewards__col
							span.share-section__rewards__head Crafting
							span.share-section__rewards__val 10749283.79
							.share-section__rewards__chart
								.share-section__rewards__chart__item.item-crafting.animate.no-round(style='--p:8.1')
									.share-section__rewards__chart__inner
										+svg('icon-crafting-filled')
								span.share-section__rewards__chart__val 8.1%
						.share-section__rewards__col
							span.share-section__rewards__head Games
							span.share-section__rewards__val 1459779.28
							.share-section__rewards__chart
								.share-section__rewards__chart__item.item-games.animate.no-round(style='--p:1.1')
									.share-section__rewards__chart__inner
										+svg('icon-joistick-filled')
								span.share-section__rewards__chart__val 1.1%