.share-section {
    padding: 8rem 0 12rem 0;
    @media (max-width: $sw-sm-max) {
        padding: 8rem 0;
    }
    @media (max-width: $sw-xx-max) {
        padding: 3.4rem 0;
    }
    .section-title {
        margin-bottom: 8rem;
        @media (max-width: $sw-xx-max) {
            margin-bottom: 3.7rem;
        }
    }
    &__content {
        display: flex;
        align-items: flex-start;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        margin-bottom: 4rem;
        @media (max-width: $sw-sm-max) {
            margin-left: 0;
            margin-right: 0;
            flex-wrap: wrap;
            margin-bottom: 7.9rem;
        }
    }
    &__col {
        width: 50%;
        padding: 0 1.5rem;
        @media (max-width: $sw-sm-max) {
            padding: 0;
            width: 100%;
        }
        & + .share-section__col {
            @media (max-width: $sw-sm-max) {
                margin-top: 7.7rem;
            }
        }
    }
    &__item {
        width: 100%;
        &__box {
            margin-bottom: 6.6rem;
            @media (max-width: $sw-sm-max) {
                margin-bottom: 2.6rem;
            }
            @media (max-width: $sw-xx-max) {
                margin-bottom: 2.3rem;
            }
        }
        &__title {
            font-family: $fredoka;
            font-size: 3.2rem;
            line-height: 1.25em;
            color: #FCBE41;
            display: block;
            width: 100%;
            margin-bottom: 1.6rem;
        }
        p {
            margin-bottom: 0;
            font-weight: 600;
            font-size: 2rem;
            line-height: 1.5em;
            color: $white;
        }
    }
    &__discount {
        width: 100%;
        border-radius: 2.8rem;
        overflow: hidden;
        background-image: url('../../s/images/useful/share-earn/share-discount.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 3rem 2.4rem 1.2rem;
        @media (max-width: $sw-xx-max) {
            padding: 3.1rem 2.4rem 1.2rem 2.4rem;
        }
        &__list {
            column-count: 2;
            column-gap: 2.4rem;
            @media (max-width: $sw-xx-max) {
                column-count: 1;
                column-gap: initial;
            }
            li {
                display: inline-flex;
                align-items: flex-end;
                justify-content: flex-start;
                width: 100%;
                vertical-align: top;
                margin-bottom: 2rem;
                @media (max-width: $sw-xx-max) {
                    margin-bottom: 1.7rem;
                }
            }
            &__item {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-weight: 600;
                font-size: 1.9rem;
                line-height: 1.5em;
                color: $white;
                .icon-checkmarker,
                .icon-dollar-rounded {
                    color: #FCBE41;
                    flex-shrink: 0;
                }
                .icon-checkmarker {
                    margin-right: 1.1rem;
                    font-size: 1.9rem;
                }
                .icon-dollar-rounded {
                    font-size: 2.4rem;
                    margin-right: 8px;
                }
            }
        }
        &__title {
            display: block;
            width: 100%;
            font-family: $fredoka;
            font-size: 3.2rem;
            line-height: 1.25em;
            color: #FCBE41;
            margin-top: -1rem;
            @media (max-width: $sw-xx-max) {
                margin-top: 0;
            }
        }
    }
    &__copy {
        width: 100%;
        margin-bottom: 2.4rem;
        background-color: #080A0C;
        border-radius: 2.8rem;
        padding: 1.2rem 1.2rem 1.2rem 2.4rem;
        height: 7.2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $sw-xx-max) {
            flex-direction: column;
            padding: 2.8rem 2.4rem 2.4rem 2.4rem;
            height: auto;
        }
        &__inner {
            font-weight: 600;
            font-size: 2rem;
            line-height: 1.5em;
            color: $white;
            display: block;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            @media (max-width: $sw-xx-max) {
                text-align: center;
            }
        }
        .button {
            min-height: 4.8rem;
            text-transform: uppercase;
            padding: 1.6rem;
            min-width: 8.8rem;
            flex-shrink: 0;
            margin-left: 2rem;
            @media (max-width: $sw-xx-max) {
                min-height: auto;
                height: 4.8rem;
                margin-left: 0;
                margin-top: 1.8rem;
                width: 100%;
            }
        }
    }
    &__socials {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $sw-xx-max) {
            flex-wrap: wrap;
        }
        &__btn {
            width: calc(50% - 1.5rem);
            background-color: #123140;
            border-radius: 2.8rem;
            padding: 1.6rem 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            font-size: 2rem;
            line-height: 1.5em;
            color: $white;
            transition: background-color .3s ease;
            @media (max-width: $sw-xx-max) {
                width: 100%;
            }
            &:not(:last-child) {
                @media (max-width: $sw-xx-max) {
                    margin-bottom: 2.4rem;
                }
            }
            &:hover {
                @media (min-width: $sw-xs-min) {
                    background-color: lighten(#123140, 4%);
                }
            }
            &:active {
                @media (min-width: $sw-xs-min) {
                    background-color: lighten(#123140, 7%);
                }
            }
        }
        &__icon {
            width: 2.4rem;
            height: 2.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 8px;
            .icon {
                font-size: 2.4rem;
                &-twitter {
                    color: #41ABE1;
                }
            }
        }
    }
    &__statistics {
        display: flex;
        justify-content: space-between;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        margin-bottom: 4rem;
        position: relative;
        @media (max-width: $sw-xx-max) {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0;
            display: block;
        }
        &__col {
            padding: 0 1.5rem;
            width: 50%;
            @media (max-width: $sw-xx-max) {
                padding: 0;
                width: 100%;
                margin-bottom: 2.4rem;
            }
        }
        &__item {
            width: 100%;
            height: 100%;
            background-color: #080A0C;
            border-radius: 2.8rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            text-align: center;
            padding: 3.2rem 2rem;
            &__val {
                margin-bottom: 1.6rem;
                font-size: 3.2rem;
                line-height: 1.25em;
                text-align: center;
                color: #FCBE41;
                font-family: $fredoka;
                .val-sm {
                    font-size: 2.4rem;
                    line-height: 1.65em;
                }
            }
            &__equivalent {
                display: block;
                text-align: center;
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 1.5em;
                color: #FCBE41;
                margin-bottom: 8px;
            }
            p {
                font-weight: 600;
                font-size: 2rem;
                line-height: 1.5em;
                text-align: center;
                color: $white;
                margin-top: auto;
            }
        }
    }
    &__rewards {
        width: 100%;
        background-color: #080A0C;
        border-radius: 2.8rem;
        padding: 3.6rem 4.3rem;
        @media (max-width: $sw-xx-max) {
            padding: 3.6rem 1rem;
        }
        &__title {
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 4rem;
            font-size: 3.2rem;
            line-height: 1.25em;
            color: #FCBE41;
            font-family: $fredoka;
        }
        &__inner {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            @media (max-width: $sw-sm-max) {
                flex-wrap: wrap;
                justify-content: center;
                margin: 0 -3rem;
            }
            @media (max-width: $sw-xx-max) {
                margin: 0;
                flex-wrap: initial;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
            }
        }
        &__col {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            text-align: center;
            width: 16rem;
            @media (max-width: $sw-sm-max) {
                margin: 0 3rem 4.2rem 3rem;
            }
            @media (max-width: $sw-xx-max) {
                margin: 0 0 4rem 0;
            }
        }
        &__head {
            font-weight: 600;
            font-size: 2rem;
            line-height: 1.5em;
            text-align: center;
            color: $white;
            display: block;
            margin-bottom: 8px;
        }
        &__val {
            margin-bottom: 1.5rem;
            display: block;
            width: 100%;
            text-align: center;
            font-weight: 800;
            font-size: 2rem;
            line-height: 1.5em;
            color: #FCBE41;
        }
        &__chart {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            &__item {
                --p: 20;
                width: 13rem;
                aspect-ratio: 1;
                position: relative;
                display: inline-grid;
                place-content: center;
                margin-bottom: 7px;
                &.item-staking {
                    &:before {
                        transform: rotate(198deg);
                    }
                }
                &.item-nft-rewards {
                    &:before {
                        transform: rotate(248deg);
                    }
                }
                &.item-crafting {
                    &:before {
                        transform: rotate(-34deg);
                    }
                }
                &.item-games {
                    &:before {
                        transform: rotate(-4deg);
                    }
                }

                &:before, 
                &:after {
                    content: "";
                    position: absolute;
                    border-radius: 50%;
                }

                &:before {
                    inset: 0;
                    background:
                    radial-gradient(farthest-side,#FCBE41 98%,transparent) top/1.6rem 1.6rem no-repeat,
                    conic-gradient(#FCBE41 calc(var(--p)*1%),transparent 0);
                    -webkit-mask: radial-gradient(farthest-side,transparent calc(99% - 1.6rem),#000 calc(100% - 1.6rem));
                    mask: radial-gradient(farthest-side,transparent calc(99% - 1.6rem),#000 calc(100% - 1.6rem));
                    z-index: 2;
                }

                &:after {
                    inset: calc(50% - 1.6rem/2);
                    background: #FCBE41;
                    transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - 13rem/2));
                }

                &.animate {
                    animation: pie-animate 1s .5s both;
                }

                &.no-round:before {
                    background-size: 0 0,auto;
                }

                &.no-round:after {
                    content:none;
                }
            }
            &__inner {
                width: 12.2rem;
                height: 12.2rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border: 8px solid #10202F;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                .icon {
                    color: $white;
                    &-egg-filled {
                        font-size: 4.4rem;
                    }
                    &-staking-filled {
                        font-size: 4rem;
                    }
                    &-earn-filled {
                        font-size: 3.8rem;
                    }
                    &-crafting-filled {
                        font-size: 3.6rem;
                    }
                    &-joistick-filled {
                        font-size: 4rem;
                    }
                }
            }
            &__val {
                font-weight: 800;
                font-size: 1.6rem;
                line-height: 1.5em;
                color: rgba($white, 0.2);
            }
        }
    }
    &.share-section--connect-wallet {
        .share-section__copy, .share-section__socials__btn, .share-section__statistics__item, .share-section__rewards {
            position: relative;
            overflow: hidden;
            &::after {
                content: " ";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: block;
                z-index: 5;
                background: rgba(8, 10, 12, 0.9);
                backdrop-filter: blur(16px);
            }
        }
    }
}

.central-owerlay {
    position: absolute;
    top: 4.5rem;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // pointer-events: none;
    @media (max-width: $sw-sm-max) {
        top: -25rem;
    }
    & > .icon {
        font-size: 4.8rem;
        display: flex;
        margin-bottom: 2.5rem;
        flex-shrink: 0;
    }
    h2 {
        font-size: 3.2rem;
        text-align: center;
        @media (max-width: $sw-xx-max) {
            font-size: 2.4rem;
        }
        &:not(:last-child) {
            margin-bottom: 3.2rem;
        }
    }
}

@property --p {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

@keyframes pie-animate {
    from{--p:0}
}