.token-banner {
    padding: 7.1rem 0 9.1rem 0;
    position: relative;
    z-index: 1;
    @media (max-width: $sw-md-max) {
        padding: 6.5rem 0 7rem 0;
    }
    @media (max-width: $sw-xx-max) {
        padding: 5rem 0 2rem 0;
    }
    h1 {
        width: 100%;
        text-align: center;
        margin-bottom: 3.5rem;
        font-size: 6rem;
        line-height: 1.3em;
        color: #FCBE41;
        font-family: $fredoka;
        font-weight: 400;
        @media (max-width: $sw-md-max) {
            margin-bottom: 3.2rem;
        }
        @media (max-width: $sw-xx-max) {
            font-size: 3.2rem;
        }
    }
    &__image {
        margin-left: 16.3rem;
        margin-bottom: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: $sw-md-max) {
            margin-left: 0;
            margin-bottom: 5rem;
            padding: 0 5rem;
        }
        @media (max-width: $sw-xs-max) {
            padding: 0;
        }
        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        @media (max-width: $sw-xs-max) {
            margin-left: -1rem;
            margin-right: -1rem;
        }
        @media (max-width: $sw-xx-max) {
            flex-direction: column;
            margin-left: 0;
            margin-right: 0;
        }
        &__col {
            width: calc(100% / 3);
            padding: 0 1.5rem;
            @media (max-width: $sw-xs-max) {
                padding: 0 1rem;
            }
            @media (max-width: $sw-xx-max) {
                padding: 0;
                width: 100%;
                max-width: 30rem;
                margin: 0 auto 1.5rem auto;
            }
        }
        &__item {
            width: 100%;
            min-height: 25.8rem;
            padding: 4rem 3.3rem;
            background: linear-gradient(180deg, #080A0C 0%, rgba(8, 10, 12, 0) 75.52%, rgba(8, 10, 12, 0) 100%);
            filter: drop-shadow(0px -40px 80px #000000);
            border-radius: 1.6rem 1.6rem 0px 0px;
            position: relative;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            @media (max-width: $sw-xs-max) {
                min-height: 22rem;
            }
            &__title,
            &__subtitle {
                display: block;
                width: 100%;
                text-align: left;
            }
            &__title {
                font-family: $fredoka;
                font-size: 6rem;
                line-height: 1.3em;
                color: $primaryYellow;
                margin-bottom: 8px;
                position: relative;
                z-index: 2;
                @media (max-width: $sw-md-max) {
                    font-size: 5rem;
                }
                @media (max-width: $sw-xs-max) {
                    font-size: 4rem;
                }
            }
            &__subtitle {
                font-weight: 600;
                font-size: 2rem;
                line-height: 1.5em;
                color: $white;
                position: relative;
                z-index: 2;
                @media (max-width: $sw-md-max) {
                    font-size: 1.8rem;
                }
            }
            &__icon {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                &.icon-ash {
                    right: 2.3rem;
                    img {
                        width: 17rem;
                    }
                }
                &.icon-fire {
                    right: 5.2rem;
                    img {
                        width: 8.5rem;
                    }
                }
                &.icon-telegram {
                    width: 16.8rem;
                    right: 2.1rem;
                    img {
                        width: 16.8rem;
                    }
                }
            }
        }
    }
}