mixin token-banner(data)
	.token-banner
		.container
			.token-banner__inner
				h1 This is PKM
				.token-banner__image
					img(src="s/images/useful/token-banner/token-banner.png", alt="token-banner")
				.token-banner__list
					.token-banner__list__col
						.token-banner__list__item
							.token-banner__list__item__icon.icon-ash
								img(src="s/images/useful/token-banner/token-ash.svg", alt="icon")
							span.token-banner__list__item__title 2,2M+
							span.token-banner__list__item__subtitle Holders
					.token-banner__list__col
						.token-banner__list__item
							.token-banner__list__item__icon.icon-fire
								img(src="s/images/useful/token-banner/token-fire.svg", alt="icon")
							span.token-banner__list__item__title 68%
							span.token-banner__list__item__subtitle Total token burn
					.token-banner__list__col
						.token-banner__list__item
							.token-banner__list__item__icon.icon-telegram
								img(src="s/images/useful/token-banner/token-telegram.svg", alt="icon")
							span.token-banner__list__item__title 20K+
							span.token-banner__list__item__subtitle Telegram Members
