extends _includes/_extends/main

include _includes/components/collection/collection
include _includes/components/faq/faq

block head
	+head({'title':'Not Found'})

block header
	+header({
		dropdown: false
	})

block content
	section.not-foud
		.container
			.not-foud__centered
				.not-foud__centered-icon
					svg(viewBox='0 0 320 140' fill='none' xmlns='http://www.w3.org/2000/svg')
						path(d='M8.01207 15.4544L35.9242 12.759L32.124 51.0212L50.9287 54.7685L54.7289 9.01162L87.4241 4.67261L74.5819 134.449C72.2668 135.457 68.6413 135.961 63.7054 135.961C60.604 135.961 57.1969 135.763 53.484 135.369C49.8148 135.018 47.1721 134.712 45.5559 134.449L49.3561 75.2145L4.27734 68.2458L8.01207 15.4544Z' fill='#FCBE41')
						path(d='M165.486 6.31617C173.131 6.31617 179.552 7.91591 184.75 11.1154C189.992 14.271 194.119 18.5224 197.133 23.8695C200.147 29.1727 202.244 34.9142 203.423 41.094C204.646 47.23 205.258 53.629 205.258 60.2909V63.3808C205.04 70.0866 202.965 77.6689 199.033 86.1278C195.146 94.5428 189.86 101.665 183.177 107.494C176.538 113.28 169.221 116.172 161.228 116.172C153.321 116.172 146.42 114.309 140.523 110.584C134.626 106.815 129.974 100.92 126.567 92.8993C123.203 84.8348 121.325 74.6447 120.932 62.3289C120.932 55.8423 121.543 49.4215 122.766 43.0663C123.99 36.7112 126.217 30.7724 129.45 25.2501C132.726 19.7277 137.334 15.2353 143.275 11.7728C149.215 8.26654 156.619 6.44766 165.486 6.31617ZM162.8 41.2913C159.218 41.2913 156.357 42.4527 154.217 44.7756C152.076 47.0547 150.548 49.9255 149.63 53.3879C148.757 56.8065 148.32 60.3128 148.32 63.9068C148.32 66.7994 148.888 69.6045 150.023 72.3218C151.159 75.0392 152.863 77.2963 155.134 79.0933C157.449 80.8464 160.201 81.723 163.39 81.723C166.928 81.2847 169.767 80.3863 171.908 79.0276C174.092 77.6689 175.752 75.6528 176.887 72.9792C178.067 70.2619 178.744 66.8871 178.918 62.8549C178.918 56.3683 177.521 51.2184 174.725 47.4053C171.929 43.5923 167.954 41.5542 162.8 41.2913Z' fill='#FCBE41')
						path(d='M236.079 15.4544L263.992 12.759L260.191 51.0212L278.996 54.7685L282.796 9.01162L315.491 4.67261L302.649 134.449C300.334 135.457 296.709 135.961 291.773 135.961C288.671 135.961 285.264 135.763 281.551 135.369C277.882 135.018 275.239 134.712 273.623 134.449L277.423 75.2145L232.345 68.2458L236.079 15.4544Z' fill='#FCBE41')
						path(fill-rule='evenodd' clip-rule='evenodd' d='M4.23835 11.761L40.4167 8.26734L36.4929 47.7736L47.2921 49.9256L50.9872 5.43392L91.9327 0L78.3549 137.209L76.1853 138.154C73.0819 139.505 68.7669 140 63.7061 140C60.4443 140 56.9006 139.793 53.0825 139.388C49.4164 139.038 46.6666 138.721 44.9123 138.436L41.3046 137.849L45.1029 78.6438L0 71.6713L4.23835 11.761ZM49.3569 75.2145L45.5567 134.449C47.1729 134.712 49.8156 135.018 53.4848 135.369C57.1976 135.764 60.6048 135.961 63.7061 135.961C68.6421 135.961 72.2676 135.457 74.5827 134.449L87.4249 4.67265L54.7297 9.01166L50.9294 54.7686L32.1248 51.0212L35.925 12.759L8.01284 15.4544L4.27811 68.2458L49.3569 75.2145ZM165.458 2.27698H165.487C173.68 2.27698 180.868 3.99217 186.839 7.662C192.668 11.1751 197.282 15.9293 200.634 21.8742C203.87 27.569 206.115 33.7247 207.375 40.3192C208.651 46.7269 209.284 53.3862 209.284 60.2909V63.4468L209.282 63.5128C209.041 70.93 206.761 79.0569 202.687 87.8265C198.571 96.7348 192.949 104.324 185.819 110.543L185.818 110.544C178.525 116.899 170.291 120.211 161.228 120.211C152.668 120.211 145.001 118.186 138.379 114.002L138.37 113.997L138.361 113.991C131.629 109.688 126.512 103.07 122.864 94.4831L122.859 94.4709L122.854 94.4586C119.241 85.7958 117.312 75.0799 116.909 62.4583L116.907 62.3936V62.329C116.907 55.5859 117.543 48.9086 118.815 42.3005C120.124 35.4994 122.512 29.1272 125.979 23.2045L125.985 23.1943L125.991 23.1841C129.641 17.0314 134.76 12.0666 141.244 8.28545C147.933 4.34054 156.063 2.41628 165.428 2.27742L165.458 2.27698ZM143.275 11.7729C137.335 15.2353 132.726 19.7277 129.45 25.2501C126.218 30.7725 123.99 36.7112 122.767 43.0664C121.544 49.4215 120.933 55.8424 120.933 62.329C121.326 74.6448 123.204 84.8349 126.567 92.8993C129.975 100.92 134.627 106.815 140.524 110.584C146.42 114.31 153.322 116.172 161.228 116.172C169.222 116.172 176.539 113.28 183.178 107.494C189.861 101.665 195.147 94.5429 199.034 86.1278C202.966 77.6689 205.04 70.0866 205.259 63.3809V60.2909C205.259 53.629 204.647 47.2301 203.424 41.0941C202.245 34.9143 200.148 29.1727 197.134 23.8695C194.12 18.5224 189.992 14.2711 184.751 11.1154C179.553 7.91595 173.131 6.31621 165.487 6.31621C156.62 6.4477 149.216 8.26658 143.275 11.7729ZM157.16 47.5318L157.147 47.5458C155.531 49.2667 154.297 51.5089 153.526 54.4091C152.741 57.4883 152.346 60.6513 152.346 63.9068C152.346 66.2529 152.804 68.5276 153.737 70.7598C154.607 72.8416 155.883 74.5328 157.593 75.8942C159.082 77.0108 160.877 77.6406 163.152 77.6817C166.189 77.2796 168.319 76.5262 169.756 75.6141L169.772 75.6043L169.787 75.5947C171.179 74.7288 172.331 73.4051 173.185 71.3955L173.191 71.381L173.197 71.3666C174.115 69.2526 174.727 66.4288 174.893 62.7671C174.881 56.875 173.601 52.6884 171.483 49.7989C169.494 47.0857 166.721 45.5595 162.7 45.3309C160.129 45.3513 158.428 46.1558 157.173 47.5177L157.16 47.5318ZM162.801 41.2913C167.955 41.5543 171.93 43.5923 174.726 47.4054C177.521 51.2185 178.919 56.3683 178.919 62.8549C178.744 66.8871 178.067 70.2619 176.888 72.9793C175.752 75.6528 174.092 77.6689 171.908 79.0276C169.768 80.3863 166.929 81.2848 163.391 81.7231C160.202 81.7231 157.45 80.8465 155.135 79.0933C152.863 77.2964 151.16 75.0392 150.024 72.3219C148.888 69.6045 148.321 66.7995 148.321 63.9068C148.321 60.3129 148.757 56.8066 149.631 53.388C150.548 49.9255 152.077 47.0548 154.218 44.7757C156.358 42.4528 159.219 41.2913 162.801 41.2913ZM232.306 11.761L268.484 8.26734L264.56 47.7736L275.359 49.9256L279.055 5.43392L320 0L306.422 137.209L304.253 138.154C301.149 139.505 296.834 140 291.773 140C288.512 140 284.968 139.793 281.15 139.388C277.484 139.038 274.734 138.721 272.98 138.436L269.372 137.849L273.17 78.6438L228.067 71.6713L232.306 11.761ZM277.424 75.2145L273.624 134.449C275.24 134.712 277.883 135.018 281.552 135.369C285.265 135.764 288.672 135.961 291.773 135.961C296.709 135.961 300.335 135.457 302.65 134.449L315.492 4.67265L282.797 9.01166L278.997 54.7686L260.192 51.0212L263.992 12.759L236.08 15.4544L232.345 68.2458L277.424 75.2145Z' fill='#2872B2')
				span.not-foud__centered-ttl Oooops! <br/> Page not found
				p.not-foud__centered-txt Sorry, this page does not exist or has been removed.
				a(href="#").button
					span Back to main page
				.not-foud__centered-social
					span.not-foud__centered-social-ttl or visit our community
					.footer__content-info-social-row
						a(href="#")
							+icon-teltegram-2
							span Chat
						a(href="#")
							+icon-teltegram-2
							span News
						a(href="#")
							+svg("icon-twitter")
						a(href="#")
							+svg("icon-telepuzik")
			.not-foud__decor
				svg(viewBox='0 0 430 342' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M384.262 191.591L368.005 171.668C367.348 170.873 366.488 170.271 365.515 169.925C364.542 169.579 363.493 169.503 362.48 169.704L307.15 180.338L317.509 111.309C317.642 110.424 317.564 109.521 317.282 108.671C316.999 107.822 316.52 107.051 315.884 106.42C315.247 105.789 314.471 105.316 313.618 105.04C312.764 104.764 311.857 104.691 310.971 104.829L222.347 118.576C222.347 118.576 237.689 36.7136 231.21 29.0645C224.73 21.4154 8.66679 -5.74419 1.77387 1.13901C-5.11905 8.02221 9.8387 128.14 17.8936 131.969C25.9484 135.798 173.26 107.49 173.26 107.49C173.26 107.49 159.474 188.989 163.285 193.554C167.096 198.12 277.225 170.224 277.225 170.224C277.225 170.224 270.706 220.302 273.001 223.778C275.295 227.254 355.873 197.767 358.552 198.533C361.23 199.299 378.118 216.512 378.118 216.512L384.262 191.591Z' fill='#FCBE41')
					path(d='M358.55 198.464C361.238 199.23 378.116 216.443 378.116 216.443L384.26 191.581L368.003 171.658C367.346 170.864 366.485 170.262 365.513 169.916C364.54 169.571 363.492 169.494 362.479 169.694L307.148 180.328L310.28 159.443L277.223 170.244C277.223 170.244 270.705 220.321 273.009 223.797C275.313 227.273 355.872 197.737 358.55 198.464Z' fill='#9A380A')
					path(d='M430.001 294.554C425.688 293.896 418.48 292.954 415.447 293.572C411.114 294.377 404.271 326.211 401.12 339.722C401.059 340.122 401.124 340.53 401.305 340.892C401.486 341.253 401.774 341.55 402.13 341.743C402.487 341.935 402.894 342.013 403.296 341.966C403.699 341.919 404.077 341.749 404.379 341.48L418.431 326.829C418.431 326.829 422.951 328.646 430.001 330.679V294.554Z' fill='#A57719')
					path(d='M417.75 297.146C421.425 299.361 425.735 300.29 430 299.788V284.077L417.75 297.146Z' fill='#D69617')
					path(d='M429.999 291.166C413.447 339.467 338.107 309.116 338.107 309.116L324.055 323.766C323.753 324.035 323.375 324.205 322.972 324.252C322.57 324.299 322.163 324.221 321.806 324.029C321.45 323.837 321.161 323.539 320.981 323.178C320.8 322.816 320.735 322.408 320.795 322.008C323.956 308.527 330.79 276.703 335.123 275.858C339.456 275.014 353.114 277.459 353.114 277.459C353.114 272.333 359.11 238.565 374.541 200.526C389.971 162.487 429.999 154.092 429.999 154.092V291.166Z' fill='#FCBE41')



block footer
