extends _includes/_extends/main

include _includes/components/achievements/achievements

block head
	+head({'title':'Achievements'})

block header
	+header({
		dropdown: false,
		notifications: false
	})

block content
	+achievements({})