extends _includes/_extends/main

include _includes/components/collection/collection
include _includes/components/faq/faq

block head
	+head({'title':'Collection'})

block header
	+header({
		dropdown: false
	})

block content
	+collection({
		empty: true
	})
	+faq({})