extends _includes/_extends/main

include _includes/components/crafting/crafting

block head
	+head({'title':'Crafting'})

block header
	+header({
		dropdown: false
	})

block content
	+crafting-blocks({})