extends _includes/_extends/main

include _includes/components/game-announcement/game-announcement
include _includes/components/faq/faq
include _includes/components/modals/modals

block head
	+head({'title':'Game announcement'})

block header
	+header({
		dropdown: false
	})

block content
	+game-announcement()
	+faq()

block modals
	//- +modal-video()
	//- +modal-select-token()
	.modal-overlay.modal-overlay-tr.modal-overlay-dark.js-overlay-modal
	