extends _includes/_extends/main

include _includes/components/head-of-tails/head-of-tails

block head
	+head({'title':'Head of Tails'})

block header
	+header({
		dropdown: false
	})

block content
	+head-of-tails()