extends _includes/_extends/main

include _includes/components/carousel-section/carousel-section
include _includes/components/banner/banner
include _includes/components/evolution/evolution
include _includes/components/crafting/crafting
include _includes/components/roadmap/roadmap
include _includes/components/tokenomik/tokenomik
include _includes/components/find-us/find-us
include _includes/components/faq/faq
include _includes/components/earn/earn
include _includes/components/earn-section/earn-section

block head
	+head({'title':'Main'})

block header
	+header({
		dropdown: false
	})

block content
	+banner({
		collection: true
	})
	+carousel-section()
	+earn({})
	+earn-simple({})
	+evolution({})
	+crafting({})
	+roadmap({})
	+tokenomik({})
	+earn-section()
	+find-us({})
	+faq({})

