extends _includes/_extends/main

include _includes/components/pokeball/pokeball
include _includes/components/hiw/hiw
include _includes/components/faq/faq

block head
	+head({'title':'Pokeball'})

block header
	+header({
		dropdown: false
	})

block content
	+pokeball({})
	+hiw({})
	+faq({})

