extends _includes/_extends/main

include _includes/components/refferal-section/refferal-section
include _includes/components/earn/earn

block head
	+head({'title':'Refferal 2'})

block header
	+header({
		dropdown: false,
		notifications: false
	})

block content
	+refferal-section({})