extends _includes/_extends/main

include _includes/components/share-earn/share-earn

block head
	+head({'title':'Refferal'})

block header
	+header({
		dropdown: false,

	})

block content
	+share-earn({
		custom_cls: "share-section--connect-wallet",
		connect_wallet: true
	})