extends _includes/_extends/main

include _includes/components/share-earn/share-earn

block head
	+head({'title':'Refferal'})

block header
	+header({
		dropdown: false,
		notifications: true
	})

block content
	+share-earn({})