extends _includes/_extends/main

include _includes/components/faq/faq
include _includes/components/swap-section/swap-section

block head
	+head({'title':'Swap'})

block header
	+header({
		dropdown: true
	})

block content
	+swap-section()
	+faq()