extends _includes/_extends/main

include _includes/components/table-component/table-component

block head
	+head({'title':'Table'})

block header
	+header({
		dropdown: false,
		notifications: false
	})

block content
	+table-component({})