extends _includes/_extends/main

include _includes/components/token-banner/token-banner
include _includes/components/tokenomics/tokenomics
include _includes/components/hiw/hiw
include _includes/components/faq/faq

block head
	+head({'title':'Token'})

block header
	+header({
		dropdown: false
	})

block content
	+token-banner()
	+tokenomics()
	+hiw()
	+faq()