extends _includes/_extends/main

include _includes/components/modals/modals

block header

block content
	.container
		.ui-wrapper
			.row
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-youtube')
					.row-ui__name
						span icon-youtube
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-medium')
					.row-ui__name
						span icon-medium
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-wallet')
					.row-ui__name
						span icon-wallet
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-telepuzik')
					.row-ui__name
						span icon-telepuzik
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-twitter')
					.row-ui__name
						span icon-twitter
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-telegram')
					.row-ui__name
						span icon-telegram
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-pokeball')
					.row-ui__name
						span icon-pokeball
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-close')
					.row-ui__name
						span icon-close
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-close-rounded')
					.row-ui__name
						span icon-close
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-calc')
					.row-ui__name
						span icon-calc
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-usdt')
					.row-ui__name
						span icon-usdt
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-sm-arr-down')
					.row-ui__name
						span icon-sm-arr-down
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-question')
					.row-ui__name
						span icon-question
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-transfer')
					.row-ui__name
						span icon-transfer
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-filter')
					.row-ui__name
						span icon-filter
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-reload')
					.row-ui__name
						span icon-reload
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-exchange')
					.row-ui__name
						span icon-exchange
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-bnb-simple')
					.row-ui__name
						span icon-bnb-simple
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-arrow-down')
					.row-ui__name
						span icon-arrow-down
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-danger')
					.row-ui__name
						span icon-danger
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-share')
					.row-ui__name
						span icon-share
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-check-mini')
					.row-ui__name
						span icon-check-mini
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-search')
					.row-ui__name
						span icon-search
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-question-stroked')
					.row-ui__name
						span icon-question-stroked
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-dropdown')
					.row-ui__name
						span icon-dropdown
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-exit')
					.row-ui__name
						span icon-exit
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-profile')
					.row-ui__name
						span icon-profile
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-cash')
					.row-ui__name
						span icon-cash
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-cards')
					.row-ui__name
						span icon-cards
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-egg-opened')
					.row-ui__name
						span icon-egg-opened
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-egg')
					.row-ui__name
						span icon-egg
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-pokeball-rate')
					.row-ui__name
						span icon-pokeball-rate
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-play-rounded')
					.row-ui__name
						span icon-play-rounded
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-rate-level1')
					.row-ui__name
						span icon-rate-level1
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-rate-level2')
					.row-ui__name
						span icon-rate-level2
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-rate-level3')
					.row-ui__name
						span icon-rate-level3
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-stake-ntf')
					.row-ui__name
						span icon-stake-ntf
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-exchange-ntf')
					.row-ui__name
						span icon-exchange-ntf

				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-trophy')
					.row-ui__name
						span icon-trophy
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-crafting')
					.row-ui__name
						span icon-crafting
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-staking')
					.row-ui__name
						span icon-staking
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-earn')
					.row-ui__name
						span icon-earn
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-checkmarker')
					.row-ui__name
						span icon-checkmarker
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-samurai')
					.row-ui__name
						span icon-samurai
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-chicken')
					.row-ui__name
						span icon-chicken
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-share-arrow')
					.row-ui__name
						span icon-share-arrow
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-sm-arrow')
					.row-ui__name
						span icon-sm-arrow
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-dollar-rounded')
					.row-ui__name
						span icon-dollar-rounded
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-liquidity')
					.row-ui__name
						span icon-liquidity
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-swop')
					.row-ui__name
						span icon-swop
				.col-12.col-sm-8.col-lg-6
					.row-ui__icon
						+svg('icon-arrow-bold')
					.row-ui__name
						span icon-arrow-bold
			.row
				.col-24.col-sm-8.col-lg-6
					button.button.button--small.js-open-modal(type="button", data-modal="3")
						span Modal Confirm waiting
				.col-24.col-sm-8.col-lg-6
					button.button.button--small.js-open-modal(type="button", data-modal="4")
						span Modal Confirm rejected
				.col-24.col-sm-8.col-lg-6
					button.button.button--small.js-open-modal(type="button", data-modal="5")
						span Modal Confirm submited
				.col-24.col-sm-8.col-lg-6
					button.button.button--small.js-open-modal(type="button", data-modal="6")
						span Modal Swap 
				.col-24.col-sm-8.col-lg-6
					button.button.button--small.js-open-modal(type="button", data-modal="7")
						span Modal Swap updated
				.col-24.col-sm-8.col-lg-6
					button.button.button--small.js-open-modal(type="button", data-modal="8")
						span Modal select token
				.col-24.col-sm-8.col-lg-6
					button.button.button--small.js-open-modal(type="button", data-modal="9")
						span Modal import token
				.col-24.col-sm-8.col-lg-6
					button.button.button--small.js-open-modal(type="button", data-modal="10")
						span Modal connect wallet
				.col-24.col-sm-8.col-lg-6
					button.button.button--small.js-open-modal(type="button", data-modal="12")
						span Modal balls opening 1
				.col-24.col-sm-8.col-lg-6
					button.button.button--small.js-open-modal(type="button", data-modal="13")
						span Modal ball open one hero
				.col-24.col-sm-8.col-lg-6
					button.button.button--small.js-open-modal(type="button", data-modal="14")
						span Modal magic pokemon
				.col-24.col-sm-8.col-lg-6
					button.button.button--small.js-open-modal(type="button", data-modal="16")
						span Modal Stake LP
				.col-24.col-sm-8.col-lg-6
					button.button.button--small.js-open-modal(type="button", data-modal="17")
						span Modal calculate
				.col-24.col-sm-8.col-lg-6
					button.button.button--small.js-open-modal(type="button", data-modal="18")
						span Modal calculator

block footer

block modals
	+modal-confirm-waiting()
	+modal-confirm-rejected()
	+modal-confirm-submited()
	+modal-swap()
	+modal-swap-updated()
	+modal-select-token()
	+modal-import-token()
	+modal-connect-wallet()
	+modal-ball-open1()
	+modal-ball-open-one-hero()
	+modal-magic-box()
	+modal-stake()
	+modal-calculate()
	+modal-calculator()
	.modal-overlay.modal-overlay-tr.modal-overlay-dark.js-overlay-modal