extends _includes/_extends/main

include _includes/components/wrap-unwrap/wrap-unwrap

block head
	+head({'title':'Wrap & Unwrap'})

block header
	+header({
		dropdown: false,
		notifications: false
	})

block content
	+wrap-unwrap({})