button{
    // button reset
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 4rem;
    font-size: 1.8rem;
    line-height: 1em;
    font-weight: 700;
    transition: background-color .3s ease, color .3s ease, border-color .3s ease, background .3s ease, transform .3s ease, box-shadow .3s ease;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    height: 5.2rem;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.5em;
    padding: 0 2.2rem;
    text-transform: capitalize;
    border-radius: 2.6rem;
    position: relative;
    color: $white;
    .icon {
        font-size: 2rem;
        flex-shrink: 0;
        margin-right: 1rem;
        position: relative;
        z-index: 2;
        transform: translateZ(0);
    }
    span {
        position: relative;
        z-index: 2;
        transform: translateZ(0);
    }
}
