.modal-overlay {
	opacity: 0;
	visibility: hidden;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(16, 32, 47, 0.6);
	backdrop-filter: blur(2px);
	z-index: 200;
	&-tr {
		transition: opacity .2s ease, visibility .2s ease;	
	}
}

.modal-custom {
	opacity: 0;
	visibility: hidden;
	transform: translate(0, -40px);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	pointer-events: none;
	bottom: 0;
	margin: auto;
	z-index: 300;


	overflow-x: hidden;
	overflow-y: auto;

	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5rem 0;
	border-radius: 1.6rem;

	&__inner {
		height: auto;
		text-align: left;
		pointer-events: auto;
		margin: auto 1.6rem;
		position: relative;
		border-radius: 1.6rem;
		box-shadow: 0px 50px 100px -20px rgba(90, 171, 241, 0.25), 0px 30px 60px -30px rgba(0, 0, 0, 0.4);
		background-color: $mainDark;
	}
}
.modal-custom-tr {
	transition: opacity .2s ease, visibility .2s ease, transform .2s ease;
}
.modal-custom.active,
.modal-overlay.active{
	opacity: 1;
	visibility: visible;
	transform: translate(0, 0);
}

.modal-custom.active {
	pointer-events: all;
}

.modal-custom {
	&__header {
		border-radius: 2.8rem 2.8rem 0 0;
		min-height: 8rem;
		padding: 8px 2.4rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid $secondaryDark;
		@media (max-width: 359px) {
			padding: 8px 1.6rem;
		}
	}
	&__close {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 2.4rem;
		height: 2.4rem;
		display: flex;
		align-items: center;
		justify-content: center;
		.icon-close {
			color: $white;
			font-size: 1.4rem;
		}
	}
	&__body {
		border-radius: 0 0 2.8rem 2.8rem;
		padding: 2.4rem;
		@media (max-width: 359px) {
			padding: 1.6rem;
		}
	}
	&__title {
		font-size: 2rem;
		line-height: 1.5em;
		color: $white;
		margin-right: 1rem;
		font-family: $nunito;
		font-weight: 800;
		@media (max-width: 359px) {
			font-size: 1.8rem;
			line-height: 1.3em;
		}
	}
}

.modal-confirm {
	.modal-custom {
		&__inner  {
			width: 54rem;
		}
		&__body {
			padding: 3.2rem 2.4rem 6rem 2.4rem;
			.btn {
				padding: 0 3rem;
			}
		}
	}
	&__icon {
		// background: linear-gradient(180deg, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0) 100%);
		width: 13rem;
		height: 12.8rem;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto 2.4rem auto;
	}
	&__title {
		display: block;
		width: 100%;
		font-family: $gopher;
		text-align: center;
		font-weight: 600;
		font-size: 3.2rem;
		line-height: 1.5em;
		color: $white;
		margin-bottom: 2.8rem;
		@media (max-width: 575px) {
			font-size: 2.6rem;
		}
	}
	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		.btn {
			&:after {
				display: none;
			}
		}
	}
	&__add {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 3.2rem;
		&__btn {
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: 600;
			font-size: 1.6rem;
			line-height: 1.5em;
			color: #E79D54;
			img {
				margin-right: 8px;
				flex-shrink: 0;
			}
		}
	}
	&__price {
		font-family: $gopher;
		font-weight: 400;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 1.6rem;
		line-height: 1.5em;
		text-align: center;
		color: $white;
		margin-bottom: 2.4rem;
		margin-top: -2rem;
	}
	&__info {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 1.5em;
		color: $gray;
	}
}

.modal-swap {
	.modal-custom {
		&__inner  {
			width: 54rem;
		}
	}
}

.modal-token {
	.modal-custom {
		&__inner  {
			width: 42rem;
		}
	}
	&__info {
		border: 1px solid #FCBE41;
		background-color: transparent;
		border-radius: 1.6rem;
		padding: 2.4rem;
		margin-bottom: 2.4rem;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		.icon-danger {
			flex-shrink: 0;
			font-size: 2rem;
			margin-right: 1.5rem;
			color: #FCBE41;
		}
		&__text {
			p {
				margin-bottom: 0;
				font-size: 1.6rem;
				line-height: 1.5em;
				color: #fff;
				& + p {
					margin-top: 1.6rem;
				}
			}
		}
	}
	&__source {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 1.5em;
		color: $gray;
		.icon-danger {
			flex-shrink: 0;
			font-size: 2rem;
			margin-right: 1.5rem;
			color: $gray;
		}
	}
	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.btn--red {
			width: 12rem;
			&:after {
				display: none;
			}
		}
	}
	&__close {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		font-size: 1.6rem;
		line-height: 1.5em;
		color: #FFFFFF;
		font-family: $gopher;
		font-weight: 600;
		cursor: pointer;
		@media (max-width: 575px) {
			font-size: 1.4rem;
		}
		&.is-checked {
			.icon-check-mini {
				transform: translate(-50%, -50%) scale(1);
				opacity: 1;
			}
		}
		&__icon {
			width: 2.4rem;
			height: 2.4rem;
			border-radius: 50%;
			flex-shrink: 0;
			position: relative;
			margin-right: 1.2rem;
			background-color: transparent;
			background: linear-gradient(93.37deg, #5BACF2 1.22%, #2872B2 100%);
			@media (max-width: 575px) {
				margin-right: 5px;
			}
			.icon-check-mini {
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 2;
				transform: translate(-50%, -50%) scale(0);
				opacity: 0;
				color: $white;
				font-size: 6px;
				transition: transform .2s ease, opacity .2s ease;
			}
		}
	}
	&__amor {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin: 2.4rem 0;
		&__title {
			font-weight: 600;
			font-size: 1.6rem;
			line-height: 1.5em;
			color: $white;
			margin-bottom: 2px;
		}
		&__code {
			font-size: 1.2rem;
			line-height: 1.3em;
			color: $gray;
		}
		&__info {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
		}
		&__link {
			display: flex;
			text-align: right;
			align-items: center;
			justify-content: flex-start;
			font-weight: 600;
			font-size: 1.6rem;
			line-height: 1.5em;
			color: #FCBE41;
			.icon-share {
				font-size: 1.8rem;
				margin-left: 1.1rem;
				flex-shrink: 0;
			}
		}
	}
	&__search {
		display: flex;
		align-items: center;
		position: relative;
		margin-bottom: 2.2rem;
		.icon-search {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 1.8rem;
			color: #C4C7D1;
		}
		.icon-search {
			font-size: 1.2rem;
		}
		.icon-close-rounded {
			font-size: 1.7rem;
		}
		&__erase {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 1rem;
			cursor: pointer;
		}
	}
	&__input {
		height: 4rem;
		width: 100%;
		font-size: 1.6rem;
		line-height: 1em;
		color: $white;
		font-weight: 400;
		padding: 0 4rem 0 1.8rem;
		background-color: #10202F;
		outline: none;
		box-shadow: none;
		border: none;
		border-radius: 2rem;
		&:focus {
			outline: none;
			box-shadow: none;
			border: none;
		}
		@include placeholder {
			font-weight: 400;
			font-size: 1.6rem;
			line-height: 1em;
			color: #C4C7D1;
		}
	}
	&__common {
		margin-bottom: 1.5rem;
		&__top {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-bottom: 1.6rem;
			font-size: 1.2rem;
			line-height: 1.3em;
			color: $gray;
			.tooltip-container {
				margin-left: 4px;
			}
			.icon-question-stroked {
				color: #AAA9B0 !important;
				font-size: 1.2rem;
			}
		}
		&__list {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			flex-wrap: wrap;
			margin-right: -8px;
		}
		&__btn {
			height: 4rem;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			background-color: #10202F;
			border-radius: 8px;
			text-transform: uppercase;
			color: $white;
			font-weight: 600;
			font-size: 1.6rem;
			line-height: 1.5em;
			width: calc(25% - 8px);
			padding: 2px 1rem 2px 8px;
			margin-right: 8px;
			margin-bottom: 8px;
			transition: background-color .3s ease;
			@media (max-width: 575px) {
				width: calc((100% - 2.4rem) / 3);
			}
			@media (max-width: 359px) {
				width: calc(50% - 8px);
			}
			&:hover {
				@media (min-width: $sw-xs-min) {
					background-color: lighten(#10202F, 5%);
				}
			}
			&:active {
				background-color: lighten(#10202F, 8%);
			}
			img {
				width: 2.4rem;
				flex-shrink: 0;
				margin-right: 8px;
			}
			.icon {
				font-size: 2.4rem;
				margin-right: 8px;
				flex-shrink: 0;
			}
		}
	}
	&__list {
		margin-bottom: 1.5rem;
		&__top {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 1.6rem;
		}
		&__title {
			font-size: 1.2rem;
			line-height: 1.3em;
			color: #C4C7D1;
			font-family: $readex;
		}
		&__filters {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			&__item {
				font-size: 1.2rem;
				line-height: 1.3em;
				color: #C4C7D1;
				font-family: $readex;
				transition: color .3s ease;
				&:not(:last-child) {
					margin-right: 1.5rem;
				}
				&.is-active {
					color: $white;
					font-weight: 600;
				}
			}
		}
		&__item {
			width: 100%;
			min-height: 5.8rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
			background-color: transparent;
			border-radius: 8px;
			padding: 8px;
			color: $white;
			transition: background-color .3s ease;
			@media (max-width: 575px) {
				align-items: flex-start;
			}
			&.is-active {
				background-color: #10202F;
			}
			&:not(:last-child) {
				margin-bottom: 5px;
			}
			&:not(.is-active):hover {
				@media (min-width: $sw-xs-min) {
					background-color: #10202F;
				}
			}
			&:not(.is-active):active {
				background-color: lighten(#10202F, 4%);
			}
			.icon {
				font-size: 2.4rem;
				margin-right: 8px;
				flex-shrink: 0;
			}
			img {
				flex-shrink: 0;
				width: 2.4rem;
				margin-right: 8px;
			}
			&__side {
				display: flex;
				align-items: center;
				& + .modal-token__list__item__side {
					margin-left: 8px;
					@media (max-width: 575px) {
						flex-direction: column;
					}
				}
				.button {
					font-size: 1.4rem;
					height: 4rem;
					min-height: auto;
					border-radius: 1.2rem;
					font-size: 1.6rem;
					padding: 0 1.6rem;
					text-transform: capitalize;
					margin-left: 8px;
					font-family: $gopher;
					font-weight: 400;
					@media (max-width: 575px) {
						margin-top: 8px;
						margin-left: 0;
					}
					&:after {
						display: none;
					}
				}
			}
			&__plug {
				width: 2.4rem;
				height: 2.4rem;
				flex-shrink: 0;
				margin-right: 8px;
				border-radius: 50%;
				background-color: transparent;
				border: 1px dashed #59aaf0;
			}
			&__val {
				font-weight: 600;
				font-size: 1.6rem;
				line-height: 1.5em;
				color: $white;
				font-family: $gopher;
				font-weight: 600;
			}
			&__text {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				text-align: left;
			}
			&__title {
				font-weight: 600;
				margin-bottom: 2px;
				font-size: 1.6rem;
				line-height: 1.5em;
				color: #FFFFFF;
				font-family: $gopher;
			}
			&__subtitle {
				font-size: 1.2rem;
				line-height: 1.3em;
				color: #C4C7D1;
				display: flex;
				flex-wrap: wrap;
				span {
					position: relative;
					&:not(:last-child) {
						margin-right: 4px;
						padding-right: 5px;
						&:after {
							content: '';
							display: block;
							width: 3px;
							height: 3px;
							right: -1px;
							border-radius: 50%;
							background-color: $gray;
							position: absolute;
							top: 51%;
							transform: translateY(-50%);
						}
					}
				}
			}
			&__remove {
				text-transform: capitalize;
				font-weight: 600;
				font-size: 1.2rem;
				line-height: 1.3em;
				color: #F15147;
			}
		}
	}
	&__results {
		margin-bottom: 1.5rem;
		&__top {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 1.6rem;
			width: 100%;
		}
		&__title {
			font-size: 1.2rem;
			line-height: 1.3em;
			color: $gray;
		}
		&__spinner {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.4rem;
			line-height: 1.6rem;
			color: #C4C7D1;
			img {
				width: 2rem;
    			margin-left: 5px;
				animation: spinning 1.5s linear infinite;
			}
		}
		&__not-found {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			font-size: 1.4rem;
			line-height: 1.6rem;
			color: #C4C7D1;
		}
	}
}

.modal-magic {
	@media (max-width: $sw-xs-max) {
		padding: 0;
		border-radius: 0;
		overflow: hidden !important;
	}
	.modal-custom__close {
		position: absolute;
		top: 3.2rem;
		right: 3.2rem;
		z-index: 5;
		@media (max-width: $sw-xx-max) {
			top: 2rem;
			right: 2rem;
		}
		.icon-close {
			color: $white;
		}
	}
	&__inner  {
		width: 128rem;
		min-height: 74rem;
		padding-bottom: 8.7rem;
		position: relative;
		text-align: left;
		pointer-events: auto;
		margin: auto 1.6rem;
		border-radius: 3.2rem;
		background-color: #080A0C;
		background-repeat: repeat;
		background-size: auto;
		background-position: 0 0;
		@media (max-width: $sw-md-max) {
			width: 103rem;
		}
		@media (max-width: $sw-sm-max) {
			width: 100%;
			min-height: 65rem;
		}
		@media (max-width: $sw-xs-max) {
			padding: 0;
			min-height: auto;
			position: fixed;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			margin: 0;
			border-radius: 0;
		}
		&:after {
			content: '';
			overflow: hidden;
			display: block;
			width: 100%;
			height: 26rem;
			pointer-events: none;
			z-index: 0;
			position: absolute;
			left: 0;
			border-radius: 0 0 3.2rem 3.2rem;
			bottom: 0;
			background-repeat: no-repeat;
			background-position: center bottom; 
			background-size: auto;
			@media (max-width: $sw-xs-max) {
				border-radius: 0;
			}
		}
		&.animation-started {
			.modal-magic__info__text {
				animation: textTransformMobile 1.25s ease-out forwards 5.8s;
			}
			.modal-magic__info__btns {
				.btn {
					&:first-child {
						animation: btnTransform .3s ease forwards 7.5s;
					}
					&:last-child {
						animation: btnTransform .3s ease forwards 7.75s;
					}
				}
			}
			.modal-magic__info__image {
				&-colored {
					animation: candyFallingMobile 2.25s forwards 5s;
				}
				&-silver {
					animation: candySilverFallingMobile 2.25s forwards 5s;
				}
			}
			.modal-magic__info__preview {
				&__silver {
					animation: bounce 1s forwards, fadeOut 1s forwards, shake .8s ease forwards 2 1.2s, fadeIn ease .4s forwards 2.7s, scaleFadeOut ease-out forwards 1s 3.1s, delete 0.1s forwards 4.1s;
				}
				&__colored {
					animation: bounce 1s forwards, fadeIn 1s forwards, shake .8s ease forwards 2 1.2s, fadeOut ease .4s forwards 2.7s;
				}
			}
		}
	}
	&__info {
		display: flex;
		padding: 0 17.6rem 0 18.1rem;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		@media (max-width: $sw-md-max) {
			padding: 0 10rem;
		}
		@media (max-width: $sw-xs-max) {
			padding: 0 3rem;
		}
		&__text {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			order: 1;
			text-align: center;
			opacity: 0;
		}
		&__inner {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-direction: column;
		}
		&__btns {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 8rem;
			@media (max-width: $sw-xx-max) {
				flex-direction: column;
				margin-top: 5rem;
			}
			.btn {
				opacity: 0;
				width: 25.8rem;
				margin: 0 1.4rem;
				@media (max-width: $sw-xx-max) {
					margin: 1rem 0;
					width: 21rem;
				}
			}
		}
		&__label {
			display: flex;
			align-items: center;
			justify-content: center;
			text-transform: uppercase;
			color: $white;
			height: 4rem;
			font-weight: 600;
			font-size: 1.6rem;
			line-height: 1em;
			padding: 0 1.6rem;
			border-radius: 2rem;
		}
		&__title {
			font-weight: 800;
			font-size: 3.2rem;
			line-height: 1.25em;
			color: $white;
			margin-bottom: 1.6rem;
		}
		&__bottom {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
		}
		&__stars {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-right: 2.4rem;
			.icon {
				font-size: 2.4rem;
				color: #8F00FF;
				display: flex;
			}
		}
		&__image {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 23.3rem;
			height: 23.3rem;
			flex-shrink: 0;
			position: relative;
			margin-bottom: 1rem;
			@media (max-width: $sw-xx-max) {
				width: 19rem;
				height: 19rem;
			}
			&-colored {
				opacity: 0;
			}
			&-silver {
				opacity: 0;
			}
			img {
				display: block;
				position: absolute;
				margin: auto;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				max-width: 100%;
				max-height: 100%;
				width: auto;
				height: auto;
			}
		}
		&__preview {
			position: absolute;
			left: 0;
			top: 0;
			pointer-events: none;
			right: 0;
			bottom: 0;
			&__silver {
				width: 27.4rem;
				bottom: 1.6rem;
				margin-left: -13.7rem;
				opacity: 0;
			}
			&__colored {
				margin-left: -12rem;
				bottom: 3rem;
				width: 24rem;
				opacity: 0;
			}
			img {
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
				left: 0;
				right: 0;
			}
		}
	}
}

.modal-magic-box {
	overflow: hidden !important;
	@media (max-width: $sw-xs-max) {
		padding: 0;
		border-radius: 0;
	}
	.modal-custom__close {
		position: absolute;
		top: 3.2rem;
		right: 3.2rem;
		z-index: 5;
		@media (max-width: $sw-xx-max) {
			top: 2rem;
			right: 2rem;
		}
		.icon-close {
			color: $white;
		}
	}
}

.modal-calculate {
	.modal-custom {
		&__inner  {
			width: 54rem;
		}
	}
	&__info {
		font-family: 'ReadexPro';
		font-size: 1.6rem;
		line-height: 1.5em;
		color: #FFFFFF;
		margin-bottom: 3.6rem;
		font-weight: 700;
		width: 100%;
		text-align: center;
	}
	&__range {
		margin-bottom: 4rem;
		padding-bottom: 1.6rem;
		position: relative;
		&:after {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			content: " ";
			background: linear-gradient(90deg, rgba(16, 32, 47, 0) 0%, #10202F 50.61%, rgba(16, 32, 47, 0) 100%);
		}
		&__line {
			outline: 1px solid $yellow;
			height: 1rem;
			width: 100%;
		}
		&__count {
			font-family: 'ReadexPro';
			margin-top: 1.4rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 1.4rem;
			line-height: 1.43em;
			color: #AAA9B0;
			font-weight: 500;
		}
	}
	&__table {
		&__title {
			font-family: "ReadexPro";
			font-weight: 500;
			font-size: 1.4rem;
			line-height: 1.43em;
			color: #AAA9B0;;
			display: block;
		}
		&__line {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			&:first-child {
				margin-bottom: 2.4rem;
			}
			&:not(:last-child) {
				margin-bottom: 1.6rem;
			}
		}
		&__period {
			font-family: "ReadexPro";
			margin-right: 1rem;
			font-size: 1.4rem;
			line-height: 1.43em;
			color: #C4C7D1;
			font-weight: 500;
		}
		&__reward {
			font-family: "ReadexPro";
			font-weight: 500;
			line-height: 1.43em;
			color: #FCBE41;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			span {
				&:first-child {
					font-size: 1.4rem;
					line-height: 1.43em;
					margin-bottom: 2px;
				}
				&:last-child {
					font-size: 1rem;
					line-height: 1.2em;
				}
			}
		}
	}
}

.modal-calculator {
	.modal-custom {
		&__inner  {
			width: 54rem;
		}
	}
	&__input {
		position: relative;
	}
	&__field {
		margin-bottom: 2.4rem;
		width: 100%;
		position: relative;
		&__btn {
			font-weight: 700;
			font-size: 1.2rem;
			line-height: 1.3em;
			z-index: 1;
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto 0;
			right: 6px;
			font-weight: 700;
			font-size: 1.4rem;
			color: #FFFFFF;
			width: 5.9rem;
			height: 4.4rem;
			background: linear-gradient(93.37deg, #5BACF2 1.22%, #2872B2 100%);
			border-radius: 1.6rem;
		}
	}
	&__label {

		display: block;
		margin-bottom: 8px;
		font-size: 1rem;
		line-height: 1.2em;
		color: $gray;
		margin-bottom: 8px;
		font-weight: 700;
		text-transform: uppercase;
		color: #AAA9B0;
		padding: 0 2.4rem;
	}
	&__input {
		.form-control {
			padding: 0 6.9rem 0 2.4rem;
			&::placeholder {
				font-family: 'Nunito';
				font-weight: 700;
				font-size: 2.4rem;
				color: #C4C7D1;
			}
		}
	}
	&__divider {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 2.6rem;
		padding: 0 2.4rem;
		.icon-arrow-down {
			font-size: 2rem;
			color: white;
		}
	}
	&__stake {
		margin-bottom: 2.4rem;
		&__inner {
			display: flex;
			font-size: 0;
			background: linear-gradient(93.37deg, rgba(91, 172, 242, 0.2) 1.22%, rgba(40, 114, 178, 0.2) 100%);
			border-radius: 1.2rem;
			padding: 4px;
		}
		&__btn {
			flex-grow: 1;
			flex-shrink: 0;
			height: 3.6rem;
			background-color: transparent;
			border-radius: 1rem;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 3px;
			text-align: center;
			font-weight: 700;
			font-size: 1.4rem;
			line-height: 1.2em;
			color: #FFFFFF;
			order: 0;
			transition: background-color .3s ease, color .3s ease;
			@media (max-width: 480px) {
				font-weight: 800;
				font-size: 1rem;
			}
			&:not(:last-child) {
				margin-right: 4px;
			}
			&:not(.is-active):hover {
				@media (min-width: $sw-xs-min) {
					background-color: darken(#10202F, 3%);
				}
			}
			&:not(.is-active):active {
				@media (min-width: $sw-xs-min) {
					background-color: darken(#10202F, 5%);
				}
			}
			&.is-active {
				cursor: auto;
				background: linear-gradient(93.37deg, #5BACF2 1.22%, #2872B2 100%);
			}
		}
	}
	&__result {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		.modal-calculator__label {
			padding: 0;
		}
		&-main {
			font-family: 'FredokaOne';
			font-weight: 400;
			font-size: 3.2rem;
			line-height: 1.25em;
			color: #FCBE41;
			margin-bottom: 8px;
		}
		&-sub {
			font-weight: 600;
			font-size: 1.6rem;
			line-height: 1.5em;
			color: #FCBE41;
		}
	}
}

.modal-wallet {
	.modal-custom {
		&__inner  {
			width: 100%;
			max-width: 33rem;
		}
		&__header {
			min-height: 7.2rem;
		}
		&__body {
			padding: 2.4rem 1.6rem 4rem 1.6rem;
		}
	}
	&__links {
		margin-bottom: 4rem;
	}
	&__link {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 2.4rem 1rem;
		background-color: transparent;
		transition: background-color .3s ease;
		border-radius: 1.8rem;
		&:hover {
			@media (min-width: $sw-xs-min) {
				background-color: #10202F;
			}
		}
	}
	&__logo {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 1.5rem;
		img {
			width: 4.2rem;
		}
	}
	&__title {
		display: block;
		width: 100%;
		text-align: center;
		font-size: 2.4rem;
		line-height: 1.5em;
		color: $white;
		font-weight: 700;
		margin-bottom: 4px;
	}
	&__subtitle {
		display: block;
		width: 100%;
		text-align: center;
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 1.5em;
		color: #C4C7D1;
	}
	&__info {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&__title {
			display: block;
			width: 100%;
			text-align: center;
			font-weight: 700;
			margin-bottom: 1.6rem;
			font-size: 1rem;
			line-height: 1.2em;
			color: #8CA1B6;
		}
		&__link {
			font-size: 1.6rem;
			line-height: 1.5em;
			text-align: center;
			color: #5BACF2;
			font-family: $nunito;
			font-weight: 800;
			&:hover {
				@media (min-width: $sw-xs-min) {
					color: lighten(#5BACF2, 10%);
				}
			}
		}
	}
}


.modal-video {
	margin: 0 6.4rem;
	// width: calc(100% - 12.8rem);
	@media (max-width: $sw-xx-max) {
		margin: 0 2rem;
		// width: calc(100% - 4rem);
	}
	.modal-custom {
		&__inner {
			width: 100%;
			max-width: 111rem;

			background-color: transparent;
			box-shadow: none;
		}
		&__body {
			padding: 0;
		}
		&__close {
			position: absolute;
			top: 0;
			right: -3rem;
			@media (max-width: 1199px) {
				right: 0;
				top: -3rem;
			}
		}
	}
	&__block {
		width: 100%;
		max-width: 111rem;
		margin: 0 auto;
		display: flex;
		position: relative;
		&:after {
			display: block;
			padding-bottom: 56.25%;
			visibility: hidden;
			content: " ";
		}
		video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	&__progress {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 8px;
		display: flex;
		background: rgba(0, 0, 0, .3);
		@media (max-width: $sw-xx-max) {
			height: 5px;
		}
		&-result {
			background: #FCBE41;
		}
	}
	&__btn {
		width: 100%;
		height: 100%;
		font-size: 4.8rem;
		color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		z-index: 1;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
		@media (max-width: $sw-xx-max) {
			font-size: 2.4rem;
		}
	}
}

.modal-balls {
	.modal-custom {
		&__inner {
			position: relative;
			width: 100%;
			max-width: 111rem;
			padding: 4.8rem 0 1.6rem 0;
			overflow: hidden;
			border-radius: 3.6rem;
			@media (max-width: $sw-xs-max) {
				max-width: 67rem;
				padding: 4.8rem 1rem 1.6rem 1rem;
			}
			@media (max-width: $sw-xx-max) {
				max-width: 45rem;
			}
		}
		&__close {
			position: absolute;
			position: absolute;
			top: 2rem;
			right: 2rem;
			z-index: 1;
		}
		&__body {
			display: flex;
			flex-wrap: wrap;
			margin-left: -1.5rem;
			margin-right: -1.5rem;
			padding: 1rem 0 0 0;
			@media (max-width: $sw-sm-max) {
				margin-left: -1rem;
				margin-right: -1rem;
			}
			@media (max-width: $sw-xs-max) {
				justify-content: center;
			}
		}
	}
	&__col {
		width: calc(100% / 3);
		padding: 0 1.5rem;
		margin-bottom: 3.2rem;
		@media (max-width: $sw-sm-max) {
			padding: 0 1rem;
			margin-bottom: 2rem;
		}
		@media (max-width: $sw-xs-max) {
			width: 50%;
			max-width: 33rem;
		}
		@media (max-width: $sw-xx-max) {
			width: 100%;
			max-width: 40rem;
		}
	}
	&__item {
		height: 100%;
		width: 100%;
		padding: 2.4rem;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 25.89%, rgba(255, 255, 255, 0.05) 52.16%, rgba(255, 255, 255, 0) 75.33%, rgba(255, 255, 255, 0) 100%);
		@media (max-width: $sw-sm-max) {
			padding: 2rem;
		}
		@media (max-width: $sw-xs-max) {
			padding: 2.4rem;
		}
		@media (max-width: $sw-xx-max) {
			padding: 1.2rem;
		}
		&__image {
			width: 12rem;
			height: 12rem;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			flex-shrink: 0;
			margin-right: 2.4rem;
			@media (max-width: $sw-sm-max) {
				width: 10rem;
				height: 10rem;
			}
			@media (max-width: $sw-xx-max) {
				width: 9rem;
				height: 9rem;
			}
			img {
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 100%;
			}
		}
		&__count {
			height: 3.4rem;
			min-width: 3.4rem;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #FFC83D;
			box-shadow: 0px 0px 2.84295px #FFF0BC, inset 0px 2.84295px 2.84295px #FFECA7;
			position: absolute;
			right: 0;
			top: 0;
			font-family: $readex;
			font-weight: 500;
			font-size: 1.6rem;
			line-height: 1.5em;
			letter-spacing: 0.48px;
			color: $black;
			z-index: 1;
			border-radius: 50%;
			@media (max-width: $sw-xx-max) {
				top: -2rem;
			}
		}
		&__info {
			text-align: left;
		}
		&__name {
			font-weight: 800;
			font-size: 2.4rem;
			line-height: 1.5em;
			color: #FCBE41;
			display: block;
			width: 100%;
			text-transform: capitalize;
			@media (max-width: $sw-sm-max) {
				font-size: 2.2rem;
			}
			@media (max-width: $sw-xx-max) {
				font-size: 2rem;
				margin-bottom: 5px;
			}
		}
		&__type {
			text-transform: capitalize;
			border-radius: 1.2rem;
			height: 3.2rem;
			font-weight: 600;
			font-size: 1.6rem;
			line-height: 1em;
			color: $white;
			padding: 0 8px;
			margin-bottom: 8px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			&.type-red {
				background: linear-gradient(109.11deg, #FB902F 0%, #D41A1A 100%);
			}
			&.type-yellow {
				background: linear-gradient(109.11deg, #FDC14D 0%, #FFA800 100%);
			}
			&.type-green {
				background: linear-gradient(109.11deg, #9FCC8D 0%, #B0D850 100%);
			}
			&.type-blue {
				background: linear-gradient(109.11deg, #1BCEFB 0%, #0093F8 100%);
			}
		}
		&__level {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			.icon {
				font-size: 3.2rem;
				color: #8F00FF;
			}
		}
	}
}

.modal-one-hero {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 8.4rem 4.8rem;
	@media (max-width: $sw-xs-max) {
		padding: 6.4rem 3.2rem;
	}
	@media (max-width: $sw-xx-max) {
		flex-direction: column-reverse;
		align-items: center;
		padding: 0;
	}
	&:after {
		content: " ";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		@media (max-width: $sw-xx-max) {

		}
	}
	&__article {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: relative;
		z-index: 1;
		padding-bottom: 6rem;
		@media (max-width: $sw-xs-max) {
			padding-bottom: 2rem;
		}
		@media (max-width: $sw-xx-max) {
			align-items: center;
			padding-bottom: 0;
			margin-top: 4.4rem;
			background-color: #080A0C;
			border-radius: 2.8rem;
			padding: 1.6rem;
			width: 100%;
		}

		.h2 {
			@media (max-width: $sw-xx-max) {
				text-align: center;
			}
			&:not(:last-child) {
				margin-bottom: 1.6rem;
			}
		}
		&-line {
			display: flex;
			align-items: center;
			&-rate {
				display: flex;
				align-items: center;
				&:not(:last-child) {
					margin-right: 2.4rem;
				}
				.icon {
					font-size: 3.2rem;
					color: #8F00FF;
					&:not(:last-child) {
						margin-right: 1rem;
					}
				}
			}
		}
	}
	&__img {
		width: 36rem;
		height: 36rem;
		position: relative;
		margin-right: 8.3rem;
		bottom: 1.6rem;
		z-index: 1;
		flex-shrink: 0;
		@media (max-width: $sw-sm-max) {
			margin-right: 4.4rem;
		}
		@media (max-width: $sw-xs-max) {
			margin-right: 0;
			width: 28rem;
			height: 28rem;
		}
		&:after {
			content: '';
			display: none;
			position: absolute;
			height: 18rem;
			width: 14rem;
			right: -2rem;
			top: -5.1rem;		
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			@media (max-width: $sw-xx-max) {
				display: block;
			}
		}
		img {
			display: block;
			position: absolute;
			margin: auto;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			max-width: 100%;
			max-height: 100%;
			width: auto;
			height: auto;
			z-index: 1;
		}
	}
	&.modal-one-hero--orange {
		&:after {
			background-image: url("../images/useful/modal-ball-open/back1.png");
			@media (max-width: $sw-xx-max) {
				background: linear-gradient(
					109.11deg
					, #FB902F 0%, #D41A1A 100%);
			}
		}
		.modal-one-hero__img {
			&:after {
				background-image: url("../../s/images/useful/svg/fire.svg");
			}
		}
	}
}

.modal-stake {
	.modal-custom {
		&__inner {
			width: 100%;
			max-width: 111rem;
			margin: auto 1rem;
		}
		&__body {
			padding: 2.4rem 2.4rem 0 2.4rem;
		}
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 2.2rem 0;
		@media (max-width: $sw-xx-max) {
			flex-wrap: wrap;
			padding: 2.2rem 0 0 0;
		}
	}
	&__item {
		width: 100%;
		max-width: 20.7rem;
		position: relative;
		@media (max-width: $sw-xx-max) {
			max-width: calc(50% - 1.5rem);
			margin-bottom: 4rem;
		}
		@media (max-width: 449px) {
			max-width: 100%;
		}
		&:not(:last-child) {
			@media (min-width: $sw-xs-min) {
				margin-right: 1.5rem;
			}
		}
		&__count {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 4.6rem;
			height: 4.6rem;
			border-radius: 1.2rem;
			position: absolute;
			top: -3px;
			right: -6px;
			background-color: #10202F;
			font-weight: 900;
			font-size: 1.6rem;
			line-height: 1em;
			text-align: center;
			color: $white;
			transform: rotate(45deg);
			box-shadow: 0px 32px 96px rgba(21, 26, 44, 0.32);
			& > * {
				transform: rotate(-45deg);
				display: block;
			}
		}
		&__img {
			width: 16rem;
			height: 16rem;
			display: flex;
			align-items: flex-end;
			justify-content: center;
			margin: 0 auto 5.4rem auto;
			@media (max-width: $sw-xs-max) {
				margin: 0 auto 3rem auto;
			}
			img {
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 100%;
			}
		}
		&__actions {
			width: 100%;
			.button {
				width: 100%;
				padding: 1rem;
				min-height: 5.6rem;
				border-radius: 1.4rem;
				@media (max-width: $sw-xs-max) {
					min-height: 5.2rem;
				}
				span:not(.header__content-nav-sup) {
					@media (max-width: $sw-xs-max) {
						font-size: 1.8rem;
					}
				}
				& + .button {
					margin-top: 1.6rem;
				}
			}
		}
	}
}


@keyframes fadeIn {
	0% {
		opacity: 0;
		transition-timing-function: ease;
	}
	100% {
		opacity: 1;
		transition-timing-function: ease;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
		transition-timing-function: ease;
	}
	100% {
		opacity: 0;
		transition-timing-function: ease;
	}
}

@keyframes bounce {
	0% {
		transform: translateY(-50rem);
		transition-timing-function: ease;
	}
	35% {
		transform: translateY(0);
		transition-timing-function: ease;
	}
	52% {
		transform: translateY(-15rem);
		transition-timing-function: ease;
	}
	70% {
		transform: translateY(0);
		transition-timing-function: ease;
	}
	79% {
		transform: translateY(-4rem);
		transition-timing-function: ease;
	}
	88% {	
		transform: translateY(0);
		transition-timing-function: ease;
	}
	94% {
		transform: translateY(-1rem);
		transition-timing-function: ease;
	}
	100% {
		transform: translateY(0);
		transition-timing-function: ease;
	}
}

@keyframes shake {
	0% {
		transform: rotate(0) scale(1);
		transform-origin: center;
		filter: blur(2px);
	}
	25% {
		transform: rotate(12deg) scale(1.2);
		transform-origin: center;
		filter: blur(0px);
	}
	50% {
		transform: rotate(0) scale(1);
		transform-origin: center;
		filter: blur(2px);
	}
	75% {
		transform: rotate(-12deg) scale(1.2);
		transform-origin: center;
		filter: blur(0px);
	}
	100% {
		transform: rotate(0) scale(1);
		transform-origin: center;
		filter: blur(2px);
	}
}

@keyframes scaleFadeOut {
	0% {
		transform: scale(1) translateZ(0);
		transform-origin: center;
		opacity: 1;
	}
	100% {
		transform: scale(8) translateZ(0);
		transform-origin: center;
		opacity: 0;
	}
}

@keyframes textTransform {
	0% {
		transform: translateX(50rem);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes textTransformMobile {
	0% {
		transform: translateY(-10rem);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes btnTransform {
	0% {
		transform: translateY(10rem);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes candyFalling {
	0% {
		transform: translate(-22.2rem, -50rem);
		transition-timing-function: ease;
		opacity: 0;
	}
	45% {
		transform: translate(-22.2rem, 0);
		transition-timing-function: ease;
		opacity: 0;
	}
	100% {
		transform: translate(0, 0);
		transition-timing-function: ease;
		opacity: 1;
	}
}

@keyframes candyFallingMobile {
	0% {
		transform: translate(0, -50rem);
		transition-timing-function: ease;
		opacity: 0;
	}
	45% {
		transform: translate(0, 10rem);
		transition-timing-function: ease;
		opacity: 0;
	}
	100% {
		transform: translate(0, 0);
		transition-timing-function: ease;
		opacity: 1;
	}
}

@keyframes candySilverFalling {
	0% {
		transform: translate(-22.2rem, -50rem);
		transition-timing-function: ease;
		opacity: 1;
	}
	45% {
		transform: translate(-22.2rem, 0);
		transition-timing-function: ease;
		opacity: 1;
	}
	100% {
		transform: translate(0, 0);
		transition-timing-function: ease;
		opacity: 0;
	}
}

@keyframes candySilverFallingMobile {
	0% {
		transform: translate(0, -50rem);
		transition-timing-function: ease;
		opacity: 1;
	}
	45% {
		transform: translate(0, 10rem);
		transition-timing-function: ease;
		opacity: 1;
	}
	100% {
		transform: translate(0, 0);
		transition-timing-function: ease;
		opacity: 0;
	}
}

@keyframes delete {
	0% {
		display: block;
	}
	100% {
		width: 0;
		height: 0;
	}
}

@keyframes spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
