mixin modal-confirm-waiting(data)
	.modal-confirm.modal-custom.modal-custom-tr(data-modal='3')
		.modal-custom__inner
			.modal-custom__header
				span.modal-custom__title Confirm Swap
				button.modal-custom__close.js-modal-close(type="button")
					+svg('icon-close')
			.modal-custom__body
				.modal-confirm__icon
					picture
						source(media='(min-width: 479px)' srcset='./s/images/useful/modals/md-wait.png')
						source(srcset='./s/images/useful/modals/md-wait.png' type='image/webp')
						img(src='./s/images/useful/modals/md-wait.png' alt='img')

				.modal-confirm__title
					span Waiting For Confirmation
				.modal-confirm__price
					span Swapping 0.001 BNB for 0.0000087672 BTCB
				.modal-confirm__info
					span Confirm this transaction in your wallet

mixin modal-confirm-rejected(data)
	.modal-confirm.modal-custom.modal-custom-tr(data-modal='4')
		.modal-custom__inner
			.modal-custom__header
				span.modal-custom__title Confirm Swap
				button.modal-custom__close.js-modal-close(type="button")
					+svg('icon-close')
			.modal-custom__body
				.modal-confirm__icon
					picture
						source(media='(min-width: 479px)' srcset='./s/images/useful/modals/md-rej.png')
						source(srcset='./s/images/useful/modals/md-rej.png' type='image/webp')
						img(src='./s/images/useful/modals/md-rej.png' alt='img')
				.modal-confirm__title
					span Transaction Rejected
				.modal-confirm__btn
					button.button.button--small.js-modal-close(type="button")
						span Dismiss

mixin modal-confirm-submited(data)
	.modal-confirm.modal-custom.modal-custom-tr(data-modal='5')
		.modal-custom__inner
			.modal-custom__header
				span.modal-custom__title Confirm Swap
				button.modal-custom__close.js-modal-close(type="button")
					+svg('icon-close')
			.modal-custom__body
				.modal-confirm__icon
					picture
						source(media='(min-width: 479px)' srcset='./s/images/useful/modals/md-succ.png')
						source(srcset='./s/images/useful/modals/md-succ.png' type='image/webp')
						img(src='./s/images/useful/modals/md-succ.png' alt='img')
				.modal-confirm__title
					span Transaction Submited
				.modal-confirm__btn
					button.button.button--small(type="button")
						span View on BscScan
				.modal-confirm__add
					button.modal-confirm__add__btn(type="button")
						img(src="s/images/useful/modals/metamask-sm.png", alt="metamask")
						span Add BTCB to MetaMask

mixin modal-swap(data)
	.modal-swap.modal-custom.modal-custom-tr(data-modal='6')
		.modal-custom__inner
			.modal-custom__header
				span.modal-custom__title Confirm Swap
				button.modal-custom__close.js-modal-close(type="button")
					+svg('icon-close')
			.modal-custom__body
				form.swap-box__body(action="javascript:void(0)")
					.swap-box__exchange
						.swap-box__exchange__side
							.swap-box__exchange__icon
								img(src="s/images/useful/swap/bnb.png", alt="bnb")
							.swap-box__exchange__info
								span.swap-box__exchange__info__title Swap from:
								span.swap-box__exchange__info__val 0.002568 BNB
					.swap-box__divider
						+svg('icon-arrow-down')
					.swap-box__exchange
						.swap-box__exchange__side
							.swap-box__exchange__icon
								.swap-box__exchange__icon__custom
									img(src="s/images/useful/modals/token-candy.png", alt="candy")
							.swap-box__exchange__info
								span.swap-box__exchange__info__title Swap to:
								span.swap-box__exchange__info__val 0.002568 BNB
					.swap-box__receive-info
						p Output is estimated. You will recive at least #[b 0.000008777551 BTCB] or the transaction will revert
					.swap-box__info
						.swap-box__info__line
							.swap-box__info__line__title
								span Minimum received
								button(type='button').tooltip-container
									+svg('icon-question')
									span.tooltip-dropdown
										span Every NFT in our New Year collection has its own rarity.
							span.swap-box__info__line__descr 0.000008777551 BTCB
						.swap-box__info__line
							.swap-box__info__line__title
								span Price Impact
								button(type='button').tooltip-container
									+svg('icon-question')
									span.tooltip-dropdown
										span Every NFT in our New Year collection has its own rarity.
							span.swap-box__info__line__descr.swap-box__info__line__descr--red 0.04%
						.swap-box__info__line
							.swap-box__info__line__title
								span Trade fee
								button(type='button').tooltip-container
									+svg('icon-question')
									span.tooltip-dropdown
										span Every NFT in our New Year collection has its own rarity.
							span.swap-box__info__line__descr 0.007102 BNB ~ 2.91729 $
						.swap-box__info__line
							.swap-box__info__line__title
								span Fee Return
								button(type='button').tooltip-container
									+svg('icon-question')
									span.tooltip-dropdown
										span Every NFT in our New Year collection has its own rarity.
							span.swap-box__info__line__descr 3.7720621 BSW ~ 2.91729 $
						.swap-box__info__line
							.swap-box__info__line__title
								span Route
								button(type='button').tooltip-container
									+svg('icon-question')
									span.tooltip-dropdown
										span Every NFT in our New Year collection has its own rarity.
							span.swap-box__info__line__descr BUSD > BNN > ETH > USDT
					button.swap-box__submit.button.button--small(type="submit")
						span Confirm swap

mixin modal-swap-updated(data)
	.modal-swap.modal-custom.modal-custom-tr(data-modal='7')
		.modal-custom__inner
			.modal-custom__header
				span.modal-custom__title Confirm Swap
				button.modal-custom__close.js-modal-close(type="button")
					+svg('icon-close')
			.modal-custom__body
				form.swap-box__body(action="javascript:void(0)")
					.swap-box__exchange
						.swap-box__exchange__side
							.swap-box__exchange__icon
								img(src="s/images/useful/swap/bnb.png", alt="bnb")
							.swap-box__exchange__info
								span.swap-box__exchange__info__title Swap from:
								span.swap-box__exchange__info__val 0.002568 BNB
					.swap-box__divider
						+svg('icon-arrow-down')
					.swap-box__exchange
						.swap-box__exchange__side
							.swap-box__exchange__icon
								.swap-box__exchange__icon__custom
									img(src="s/images/useful/modals/token-candy.png", alt="candy")
							.swap-box__exchange__info
								span.swap-box__exchange__info__title Swap to:
								span.swap-box__exchange__info__val 0.002568 BNB
					.swap-box__updated
						.swap-box__updated__side
							+svg('icon-danger')
							span.swap-box__updated__title Price Updated
						button.button.button--small(type="button")
							span Accept
					.swap-box__receive-info
						p Output is estimated. You will recive at least #[b 0.000008777551 BTCB] or the transaction will revert
					.swap-box__info
						.swap-box__info__line
							.swap-box__info__line__title
								span Minimum received
								button(type='button').tooltip-container
									+svg('icon-question')
									span.tooltip-dropdown
										span Every NFT in our New Year collection has its own rarity.
							span.swap-box__info__line__descr 0.000008777551 BTCB
						.swap-box__info__line
							.swap-box__info__line__title
								span Price Impact
								button(type='button').tooltip-container
									+svg('icon-question')
									span.tooltip-dropdown
										span Every NFT in our New Year collection has its own rarity.
							span.swap-box__info__line__descr.swap-box__info__line__descr--yellow 0.04%
						.swap-box__info__line
							.swap-box__info__line__title
								span Trade fee
								button(type='button').tooltip-container
									+svg('icon-question')
									span.tooltip-dropdown
										span Every NFT in our New Year collection has its own rarity.
							span.swap-box__info__line__descr 0.007102 BNB ~ 2.91729 $
						.swap-box__info__line
							.swap-box__info__line__title
								span Fee Return
								button(type='button').tooltip-container
									+svg('icon-question')
									span.tooltip-dropdown
										span Every NFT in our New Year collection has its own rarity.
							span.swap-box__info__line__descr 3.7720621 BSW ~ 2.91729 $
						.swap-box__info__line
							.swap-box__info__line__title
								span Route
								button(type='button').tooltip-container
									+svg('icon-question')
									span.tooltip-dropdown
										span Every NFT in our New Year collection has its own rarity.
							span.swap-box__info__line__descr BUSD > BNN > ETH > USDT
					button.swap-box__submit.button.button--small(type="submit", disabled)
						span Confirm swap

mixin modal-select-token(data)
	.modal-token.modal-custom.modal-custom-tr(data-modal='8')
		.modal-custom__inner
			.modal-custom__header
				span.modal-custom__title Select a Token
				button.modal-custom__close.js-modal-close(type="button")
					+svg('icon-close')
			.modal-custom__body
				.modal-token__search
					input.modal-token__input(type="text", placeholder="Search by name or paste address")
					+svg('icon-search')
				.modal-token__search
					input.modal-token__input(type="text", placeholder="Search by name or paste address", value="...xbac1df744df160877cdc45e13d03sew")
					button.modal-token__search__erase(type="button")
						+svg('icon-close-rounded')
				.modal-token__common
					.modal-token__common__top
						span Common bases
						button(type='button').tooltip-container
							+svg('icon-question-stroked')
							span.tooltip-dropdown
								span Every NFT in our New Year collection has its own rarity.
					.modal-token__common__list
						button.modal-token__common__btn(type="button")
							img(src="s/images/useful/modals/modal-import1.png", alt="logo")
							span ECA
						button.modal-token__common__btn(type="button")
							img(src="s/images/useful/modals/modal-import2.png", alt="logo")
							span ECA
						button.modal-token__common__btn(type="button")
							img(src="s/images/useful/modals/modal-import1.png", alt="logo")
							span ECA
						button.modal-token__common__btn(type="button")
							img(src="s/images/useful/modals/modal-import2.png", alt="logo")
							span ECA
						button.modal-token__common__btn(type="button")
							img(src="s/images/useful/modals/modal-import1.png", alt="logo")
							span ECA
						button.modal-token__common__btn(type="button")
							img(src="s/images/useful/modals/modal-import2.png", alt="logo")
							span ECA
						button.modal-token__common__btn(type="button")
							img(src="s/images/useful/modals/modal-import1.png", alt="logo")
							span ECA
						button.modal-token__common__btn(type="button")
							img(src="s/images/useful/modals/modal-import2.png", alt="logo")
							span ECA
				.modal-token__list
					.modal-token__list__top
						span.modal-token__list__title Tokens
						.modal-token__list__filters
							button.modal-token__list__filters__item.is-active(type="button")
								span A-Z
							button.modal-token__list__filters__item(type="button")
								span Z-A
					button.modal-token__list__item.is-active(type="button")
						.modal-token__list__item__side
							.modal-token__list__item__icon
								img(src="s/images/useful/modals/modal-import1.png", alt="logo")
							.modal-token__list__item__text
								span.modal-token__list__item__title ADA
								.modal-token__list__item__subtitle 
									span Cardano
						.modal-token__list__item__side
							span.modal-token__list__item__val 0.00054
					button.modal-token__list__item(type="button")
						.modal-token__list__item__side
							.modal-token__list__item__icon
								img(src="s/images/useful/modals/modal-import2.png", alt="logo")
							.modal-token__list__item__text
								span.modal-token__list__item__title ADA
								.modal-token__list__item__subtitle 
									span Cardano
					button.modal-token__list__item(type="button")
						.modal-token__list__item__side
							.modal-token__list__item__icon
								img(src="s/images/useful/modals/modal-import1.png", alt="logo")
							.modal-token__list__item__text
								span.modal-token__list__item__title ADA
								.modal-token__list__item__subtitle 
									span Cardano
					button.modal-token__list__item(type="button")
						.modal-token__list__item__side
							.modal-token__list__item__icon
								img(src="s/images/useful/modals/modal-import2.png", alt="logo")
							.modal-token__list__item__text
								span.modal-token__list__item__title ADA
								.modal-token__list__item__subtitle 
									span Cardano
				.modal-token__results
					.modal-token__results__top
						span.modal-token__results__title Found by address
					.modal-token__results__spinner
						span Loading...
						img(src="s/images/useful/svg/spinner.svg", alt="spinner")
				.modal-token__results
					.modal-token__results__top
						span.modal-token__results__title Found by address
					button.modal-token__list__item.is-active(type="button")
						.modal-token__list__item__side
							.modal-token__list__item__plug
							.modal-token__list__item__text
								span.modal-token__list__item__title Usr
								.modal-token__list__item__subtitle 
									span NFTmall USR Token
						.modal-token__list__item__side
							span.modal-token__list__item__val 0.00054
							.button.button--small(type="button")
								span import
					button.modal-token__list__item(type="button")
						.modal-token__list__item__side
							.modal-token__list__item__plug
							.modal-token__list__item__text
								span.modal-token__list__item__title Usr
								.modal-token__list__item__subtitle 
									span Added by user
									span NFTmall USR Token
									.modal-token__list__item__remove remove
						.modal-token__list__item__side
							span.modal-token__list__item__val 0.054
				.modal-token__results
					.modal-token__results__top
						span.modal-token__results__title Found by address
					.modal-token__results__not-found
						span Not found...

mixin modal-import-token(data)
	.modal-token.modal-custom.modal-custom-tr(data-modal='9')
		.modal-custom__inner
			.modal-custom__header
				span.modal-custom__title Import a Token
				button.modal-custom__close.js-modal-close(type="button")
					+svg('icon-close')
			.modal-custom__body
				.modal-token__info
					+svg('icon-danger')
					.modal-token__info__text
						p Anyone can create a BEP20 token to BSC with any name, including creating fake versions of existing tokens and tokens that claim to represent projects that do not have a token.
						p If you purchase an arbitrary token, you may be unable to sell it back.
				.modal-token__source
					+svg('icon-danger')
					span Unknown source
				.modal-token__amor
					.modal-token__amor__info
						span.modal-token__amor__title Amor Token
						span.modal-token__amor__code 0x08...bD99
					a.modal-token__amor__link(href="javascript:void(0)")
						span View on BscScan
						+svg('icon-share') 
				.modal-token__footer
					button.modal-token__close.is-checked(type="button")
						.modal-token__close__icon
							+svg('icon-check-mini')
						span I understand
					button.button.button--small(type="button")
						span Import

mixin modal-connect-wallet(data)
	.modal-wallet.modal-custom.modal-custom-tr(data-modal='10')
		.modal-custom__inner
			.modal-custom__header
				span.modal-custom__title Connect Wallet
				button.modal-custom__close.js-modal-close(type="button")
					+svg('icon-close')
			.modal-custom__body
				.modal-wallet__links
					a.modal-wallet__link(href="javascript:void(0)")
						.modal-wallet__logo
							img(src="s/images/useful/modals/metamask.svg", alt="metamask") 
						span.modal-wallet__title MetaMask
						span.modal-wallet__subtitle Connect to your MetaMask Wallet
					a.modal-wallet__link(href="javascript:void(0)")
						.modal-wallet__logo
							img(src="s/images/useful/modals/wallet-connect.svg", alt="metamask") 
						span.modal-wallet__title WalletConnect
						span.modal-wallet__subtitle Scan with WalletConnect to connect
				.modal-wallet__info
					span.modal-wallet__info__title Have’nt got a crypto wallet yet ?
					a.modal-wallet__info__link(href="javascript:void(0)") Learn how to connect

mixin modal-video(data)picture
				source(media='(min-width: 479px)' srcset= data.img)
				source(srcset= data.img type='image/webp')
				img(src= data.img alt='img')
			button.modal-custom__close.js-modal-close(type="button")
				+svg('icon-close')
			.modal-custom__body
				.modal-video__block
					.modal-video__progress
						span.modal-video__progress-result(style="width:30%")
					button(type="button").modal-video__btn
						+svg("icon-play-video")
					video(src="s/data/video.mp4", poster='./s/images/useful/video_stub.png')

mixin modal-ball-open1(data)
	.modal-balls.modal-custom.modal-custom-tr(data-modal='12')
		.modal-custom__inner
			button.modal-custom__close.js-modal-close(type="button")
				+svg('icon-close')
			.modal-custom__body
				.modal-balls__col
					button.modal-balls__item(type="button")
						.modal-balls__item__image
							img(src="s/images/useful/modals/charmander.png", alt="img")
							span.modal-balls__item__count 541
						.modal-balls__item__info
							span.modal-balls__item__name Charmander
							.modal-balls__item__type.type-red
								span Fire
							.modal-balls__item__level
								+svg('icon-rate-level1')
				.modal-balls__col
					button.modal-balls__item(type="button")
						.modal-balls__item__image
							img(src="s/images/useful/modals/raichu.png", alt="img")
							span.modal-balls__item__count 3
						.modal-balls__item__info
							span.modal-balls__item__name Raichu
							.modal-balls__item__type.type-yellow
								span electric
							.modal-balls__item__level
								+svg('icon-rate-level3')
				.modal-balls__col
					button.modal-balls__item(type="button")
						.modal-balls__item__image
							img(src="s/images/useful/modals/lvysaur.png", alt="img")
							span.modal-balls__item__count 65
						.modal-balls__item__info
							span.modal-balls__item__name lvysaur
							.modal-balls__item__type.type-green
								span grass
							.modal-balls__item__level
								+svg('icon-rate-level2')
				.modal-balls__col
					button.modal-balls__item(type="button")
						.modal-balls__item__image
							img(src="s/images/useful/modals/pikachu.png", alt="img")
							span.modal-balls__item__count 14
						.modal-balls__item__info
							span.modal-balls__item__name pikachu
							.modal-balls__item__type.type-yellow
								span electric
							.modal-balls__item__level
								+svg('icon-rate-level2')
				.modal-balls__col
					button.modal-balls__item(type="button")
						.modal-balls__item__image
							img(src="s/images/useful/modals/blastoise.png", alt="img")
							span.modal-balls__item__count 8
						.modal-balls__item__info
							span.modal-balls__item__name Blastoise
							.modal-balls__item__type.type-blue
								span water
							.modal-balls__item__level
								+svg('icon-rate-level3')
				.modal-balls__col
					button.modal-balls__item(type="button")
						.modal-balls__item__image
							img(src="s/images/useful/modals/charizard.png", alt="img")
							span.modal-balls__item__count 32
						.modal-balls__item__info
							span.modal-balls__item__name Charizard
							.modal-balls__item__type.type-red
								span fire
							.modal-balls__item__level
								+svg('icon-rate-level3')
				.modal-balls__col
					button.modal-balls__item(type="button")
						.modal-balls__item__image
							img(src="s/images/useful/modals/wartortle.png", alt="img")
							span.modal-balls__item__count 28
						.modal-balls__item__info
							span.modal-balls__item__name Wartortle
							.modal-balls__item__type.type-blue
								span water
							.modal-balls__item__level
								+svg('icon-rate-level2')
				.modal-balls__col
					button.modal-balls__item(type="button")
						.modal-balls__item__image
							img(src="s/images/useful/modals/charmeleon.png", alt="img")
							span.modal-balls__item__count 68
						.modal-balls__item__info
							span.modal-balls__item__name Charmeleon
							.modal-balls__item__type.type-red
								span fire
							.modal-balls__item__level
								+svg('icon-rate-level2')
				.modal-balls__col
					button.modal-balls__item(type="button")
						.modal-balls__item__image
							img(src="s/images/useful/modals/bulbasaur.png", alt="img")
							span.modal-balls__item__count 125
						.modal-balls__item__info
							span.modal-balls__item__name Bulbasaur
							.modal-balls__item__type.type-green
								span grass
							.modal-balls__item__level
								+svg('icon-rate-level1')
				.modal-balls__col
					button.modal-balls__item(type="button")
						.modal-balls__item__image
							img(src="s/images/useful/modals/pichu.png", alt="img")
							span.modal-balls__item__count 214
						.modal-balls__item__info
							span.modal-balls__item__name pichu
							.modal-balls__item__type.type-yellow
								span electric
							.modal-balls__item__level
								+svg('icon-rate-level3')
				.modal-balls__col
					button.modal-balls__item(type="button")
						.modal-balls__item__image
							img(src="s/images/useful/modals/venusaur.png", alt="img")
							span.modal-balls__item__count 1
						.modal-balls__item__info
							span.modal-balls__item__name Venusaur
							.modal-balls__item__type.type-green
								span grass
							.modal-balls__item__level
								+svg('icon-rate-level3')
				.modal-balls__col
					button.modal-balls__item(type="button")
						.modal-balls__item__image
							img(src="s/images/useful/modals/squirtle.png", alt="img")
							span.modal-balls__item__count 654
						.modal-balls__item__info
							span.modal-balls__item__name Squirtle
							.modal-balls__item__type.type-blue
								span water
							.modal-balls__item__level
								+svg('icon-rate-level1')

mixin modal-ball-open-one-hero(data)
	.modal-balls.modal-custom.modal-custom-tr(data-modal='13')
		.modal-custom__inner
			button.modal-custom__close.js-modal-close(type="button")
				+svg('icon-close')
			.modal-custom__body
				.modal-one-hero.modal-one-hero--orange
					article.modal-one-hero__article
						h2.h2 Charmander
						.modal-one-hero__article-line
							.modal-one-hero__article-line-rate
								+svg("icon-rate-level1")
							span.evolution-item__info-type.evolution-item--orange Fire

					.modal-one-hero__img
						picture
							source(media='(min-width: 479px)' srcset='./s/images/useful/modal-ball-open/1.svg')
							source(srcset='./s/images/useful/modal-ball-open/1.svg' type='image/webp')
							img(src='./s/images/useful/modal-ball-open/1.svg' alt='img')
					.modal-one-hero__back
						.h-object-fit
							picture
								source(media='(min-width: 479px)' srcset='./s/images/useful/modal-ball-open/back1.png')
								source(srcset='./s/images/useful/modal-ball-open/back1.png' type='image/webp')
								img(src='./s/images/useful/modal-ball-open/back1.png' alt='img')

mixin modal-magic-box(data)
	.modal-magic-box.modal-custom.modal-custom-tr(data-modal='14')
		//- audio#magic_box_audio(src='s/sound/magic-box-sound.mp3')
		.modal-magic__inner
			button.modal-custom__close.js-modal-close(type="button")
				+svg('icon-close')
			.modal-magic__info
				.modal-magic__info__preview
					img.modal-magic__info__preview__silver(src="s/images/useful/animate/egg-silver.png", alt="box")
					img.modal-magic__info__preview__colored(src="s/images/useful/animate/egg.png", alt="box")
				.modal-magic__info__inner
					.modal-magic__info__text
						span.modal-magic__info__title Venusaur
						.modal-magic__info__bottom
							.modal-magic__info__stars
								+svg("icon-rate-level1")
							span.evolution-item__info-type.evolution-item--green Grass
					.modal-magic__info__image
						img.modal-magic__info__image-silver(src="s/images/useful/animate/pokemon-silver.png", alt="img")
						img.modal-magic__info__image-colored(src="s/images/useful/animate/pokemon.png", alt="img")
				//- .modal-magic__info__btns
				//- 	a.btn.btn--red(href="javascript:void(0)")
				//- 		span Open Next Box
				//- 	a.btn.btn--red(href="javascript:void(0)")
				//- 		span Open All Boxes (65)

mixin modal-stake(data)
	.modal-stake.modal-custom.modal-custom-tr(data-modal='16')
		.modal-custom__inner
			.modal-custom__header
				span.modal-custom__title Deposit
				button.modal-custom__close.js-modal-close(type="button")
					+svg('icon-close')
			.modal-custom__body
				.modal-stake__inner
					.modal-stake__item
						.modal-stake__item__count
							span x256
						.modal-stake__item__img
							img(src="s/images/useful/modals/stake/pichu.svg", alt="image")
						.modal-stake__item__actions
							button.button.button--blue(type="button")
								span Stake all (256)
							button.button.button--blue(type="button")
								span Withdraw (256)
					.modal-stake__item
						.modal-stake__item__count
							span x0
						.modal-stake__item__img
							img(src="s/images/useful/modals/stake/chermonder.svg", alt="image")
						.modal-stake__item__actions
							button.button.button--blue(type="button", disabled)
								span Stake all
							button.button.button--blue(type="button")
								span Withdraw (2)
					.modal-stake__item
						.modal-stake__item__count
							span x8
						.modal-stake__item__img
							img(src="s/images/useful/modals/stake/squirell.svg", alt="image")
						.modal-stake__item__actions
							button.button.button--blue(type="button")
								span Stake all (8)
							button.button.button--blue(type="button", disabled)
								span Withdraw
					.modal-stake__item
						.modal-stake__item__count
							span x0
						.modal-stake__item__img
							img(src="s/images/useful/modals/stake/bulbasavr.svg", alt="image")
						.modal-stake__item__actions
							button.button.button--blue(type="button", disabled)
								span Stake all
							button.button.button--blue(type="button", disabled)
								span Withdraw




mixin modal-calculate(data)
	.modal-calculate.modal-custom.modal-custom-tr(data-modal='17')
		.modal-custom__inner
			.modal-custom__header
				span.modal-custom__title Popup Name
				button.modal-custom__close.js-modal-close(type="button")
					+svg('icon-close')
			.modal-custom__body
				p.modal-calculate__info 796 NFT gives you ≈2552.78 BUSD every day
				.modal-calculate__range
					.modal-calculate__range__line
					.modal-calculate__range__count
						span 1
						span 1000
				.modal-calculate__table
					.modal-calculate__table__line
						span.modal-calculate__table__title Timeframe
						span.modal-calculate__table__title Rewards in BUSD
					.modal-calculate__table__line
						.modal-calculate__table__period
							span 1 day
						.modal-calculate__table__reward
							span 123 BPM
							span (~$124)
					.modal-calculate__table__line
						.modal-calculate__table__period
							span 7 days
						.modal-calculate__table__reward
							span 123 BPM
							span (~$124)
					.modal-calculate__table__line
						.modal-calculate__table__period
							span 30 days
						.modal-calculate__table__reward
							span 123 BPM
							span (~$124)
					.modal-calculate__table__line
						.modal-calculate__table__period
							span 365 days
						.modal-calculate__table__reward
							span 123 BPM
							span (~$124)

mixin modal-calculator(data)
	.modal-calculator.modal-custom.modal-custom-tr(data-modal='18')
		.modal-custom__inner
			.modal-custom__header
				span.modal-custom__title ROI Calculator
				button.modal-custom__close.js-modal-close(type="button")
					+svg('icon-close')
			.modal-custom__body
				.modal-calculator__field
					span.modal-calculator__label NYT-BUSD LP Staked
					.modal-calculator__input
						input.form-control(type="text", placeholder="0.0025")
						button.modal-calculator__field__btn(type="button") Max
				.modal-calculator__stake
					span.modal-calculator__label Staked for
					.modal-calculator__stake__inner
						button.modal-calculator__stake__btn.is-active(type="button") 1 Day
						button.modal-calculator__stake__btn(type="button") 7 Days
						button.modal-calculator__stake__btn(type="button") 30 Days
						button.modal-calculator__stake__btn(type="button") 1 Year
						button.modal-calculator__stake__btn(type="button") 5 Years
				.modal-calculator__divider
					+svg('icon-arrow-down')
				.modal-calculator__result
					span.modal-calculator__label ROI at current rates
					span.modal-calculator__result-main 12 421 BPM
					span.modal-calculator__result-sub (~$41)