mixin tokenomics(data)
	.tokenomics
		.container
			.tokenomics__inner
				.section-title.section-title--center
					h2.h2 Tokenomics
				.tokenomics__list
					.tokenomics__list__col
						.tokenomics__list__item
							.tokenomics__list__item__icon
							span.tokenomics__list__item__title 0% TAX
							p You will receive an instant 1% share, meaning you earn by just having NYT in your virtual wallet! Through this, we all contribute to making NYT lucrative. How paw-some is that?
					.tokenomics__list__col
						.tokenomics__list__item
							.tokenomics__list__item__icon
							span.tokenomics__list__item__title Magic boxes with NFT
							p Every trade made through CATGIRL¢ will contribute 1% towards automatically generating liquidity.
					.tokenomics__list__col
						.tokenomics__list__item
							.tokenomics__list__item__icon
							span.tokenomics__list__item__title Ice shards farm
							p 2% will be contributed to our farming pool. This farming pool will be used by our NFTs, to earn you profits.
					.tokenomics__list__col
						.tokenomics__list__item
							.tokenomics__list__item__icon
							span.tokenomics__list__item__title NFT reward
							p We want to make sure CATGIRL¢ gets the proper exposure it needs to create a thriving community. This fee is used exclusively for development and marketing purposes.