.tokenomics {
    padding: 6rem 0 10.5rem 0;
    position: relative;
    z-index: 2;
    @media (max-width: $sw-xs-max) {
        padding: 3rem 0 7rem 0;
    }
    @media (max-width: $sw-xs-max) {
        padding: 1rem 0 5rem 0;
    }
    .section-title {
        margin-bottom: 4.8rem;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        @media (max-width: $sw-xs-max) {
            margin-left: -1rem;
            margin-right: -1rem;
            @media (max-width: $sw-xx-max) {
                margin-left: 0;
                margin-right: 0;
            }
        }
        &__col {
            width: 50%;
            padding: 0 1.5rem;
            margin-bottom: 3rem;
            @media (max-width: $sw-xs-max) {
                margin-bottom: 2rem;
                padding: 0 1rem;
            }
            @media (max-width: $sw-xx-max) {
                width: 100%;
                padding: 0;
                margin-bottom: 1.5rem;
            }
        }
        &__item {
            width: 100%;
            background-color: #080A0C;
            box-shadow: 0px 40px 80px #000000;
            border-radius: 3.6rem;
            height: 100%;
            padding: 4.2rem 3.2rem 3.2rem 3.2rem;
            @media (max-width: $sw-xs-max) {
                padding: 3.5rem 2.5rem 2.5rem 2.5rem;
            }
            &__icon {
                width: 10rem;
                height: 10rem;
                background: #10202F;
                box-shadow: 0px 32px 96px rgba(21, 26, 44, 0.32);
                display: flex;
                align-items: center;
                justify-content: center;
                transform: rotate(45deg);
                border-radius: 2.5rem;
                margin-bottom: 4.5rem;
                margin-left: 1rem;
                @media (max-width: $sw-xs-max) {
                    width: 8rem;
                    height: 8rem;
                    margin-bottom: 3rem;
                }
            }
            &__title {
                font-family: $fredoka;
                font-size: 3.2rem;
                line-height: 1.25em;
                color: #FCBE41;
                display: block;
                width: 100%;
                margin-bottom: 1.6rem;
                @media (max-width: $sw-xs-max) {
                    font-size: 2.8rem;
                }
            }
            p {
                font-weight: 600;
                font-size: 2rem;
                line-height: 1.5em;
                color: #C4C7D1;
                @media (max-width: $sw-xs-max) {
                    font-size: 1.8rem;
                }
            }
        }
    }
}