include ../evolution/evolution

mixin collection(data)
	section.collection
		.container
			.section-title.section-title--center
				h2.h2 My Collection
			unless data.empty
				.collection__row
					.collection__col
						+evolution-item({
							class_mod: 'evolution-item--yellow',
							img: './s/images/useful/evolution/pichu.png',
							ttl: 'Pichu',
							type: 'Electric',
							tag: 'x23',
							items: [
								{icon: 'icon-rate-level1'}
							]
						})
					.collection__col
						+evolution-item({
							class_mod: 'evolution-item--yellow',
							img: './s/images/useful/evolution/pikachu.png',
							ttl: 'Pikachu',
							type: 'Electric',
							tag: 'x23',
							items: [
								{icon: 'icon-rate-level2'}
							]
						})
					.collection__col
						+evolution-item({
							class_mod: 'evolution-item--yellow',
							img: './s/images/useful/evolution/raichu.png',
							ttl: 'Raichu',
							type: 'Electric',
							tag: 'x23',
							items: [
								{icon: 'icon-rate-level3'}
							]
						})

					.collection__col
						+evolution-item({
							class_mod: 'evolution-item--orange',
							img: './s/images/useful/evolution/Charmander.png',
							ttl: 'Charmander',
							type: 'Fire',
							tag: 'x23',
							items: [
								{icon: 'icon-rate-level1'}
							]
						})

					.collection__col
						+evolution-item({
							class_mod: 'evolution-item--orange',
							img: './s/images/useful/evolution/Charmeleon.png',
							ttl: 'Charmeleon',
							type: 'Fire',
							tag: 'x23',
							items: [
								{icon: 'icon-rate-level2'}
							]
						})

					.collection__col
						+evolution-item({
							class_mod: 'evolution-item--orange',
							img: './s/images/useful/evolution/Charizard.png',
							ttl: 'Charizard',
							type: 'Fire',
							tag: 'x23',
							items: [
								{icon: 'icon-rate-level3'}
							]
						})

					.collection__col
						+evolution-item({
							class_mod: 'evolution-item--blue',
							img: './s/images/useful/evolution/Squirtle.png',
							ttl: 'Squirtle',
							type: 'Water',
							tag: 'x23',
							items: [
								{icon: 'icon-rate-level1'}
							]
						})
					.collection__col
						+evolution-item({
							class_mod: 'evolution-item--blue',
							img: './s/images/useful/evolution/Wartortle.png',
							ttl: 'Wartortle',
							type: 'Water',
							tag: 'x23',
							items: [
								{icon: 'icon-rate-level2'}
							]
						})
					.collection__col
						+evolution-item({
							class_mod: 'evolution-item--blue',
							img: './s/images/useful/evolution/Blastoise.png',
							ttl: 'Blastoise',
							type: 'Water',
							tag: 'x23',
							items: [
								{icon: 'icon-rate-level3'}
							]
						})
					.collection__col
						+evolution-item({
							class_mod: 'evolution-item--green',
							img: './s/images/useful/evolution/bulbasavr.png',
							ttl: 'Bulbasaur',
							type: 'Grass',
							tag: 'x23',
							items: [
								{icon: 'icon-rate-level1'}
							]
						})
					.collection__col
						+evolution-item({
							class_mod: 'evolution-item--green',
							img: './s/images/useful/evolution/lvysaur.png',
							ttl: 'Ivysaur',
							type: 'Grass',
							tag: 'x23',
							items: [
								{icon: 'icon-rate-level2'}
							]
						})
					.collection__col
						+evolution-item({
							class_mod: 'evolution-item--green',
							img: './s/images/useful/evolution/venusaur.png',
							ttl: 'Venusaur',
							type: 'Grass',
							tag: 'x23',
							items: [
								{icon: 'icon-rate-level3'}
							]
						})
					.collection__col
						+evolution-item({
							class_mod: 'evolution-item--gray',
							img: './s/images/useful/evolution/cat.png',
							ttl: 'Cyndaquil',
							type: 'Normal',
							tag: 'x23',
							items: [
								{icon: 'icon-rate-level1'}
							]
						})
					.collection__col
						+evolution-item({
							class_mod: 'evolution-item--gray',
							img: './s/images/useful/evolution/cat2.png',
							ttl: 'Quilava',
							type: 'Normal',
							tag: 'x23',
							items: [
								{icon: 'icon-rate-level2'}
							]
						})
					.collection__col
						+evolution-item({
							class_mod: 'evolution-item--gray',
							img: './s/images/useful/evolution/cat3.png',
							ttl: 'Typhlosian',
							type: 'Normal',
							tag: 'x23',
							items: [
								{icon: 'icon-rate-level3'}
							]
						})
					.collection__col
						+evolution-item({
							class_mod: 'evolution-item--coach',
							img: './s/images/useful/evolution/child.png',
							ttl: 'Brock',
							type: 'Coach',
							tag: 'x23',
							items: [

							]
						})
					.collection__col
						+evolution-item({
							class_mod: 'evolution-item--coach',
							img: './s/images/useful/evolution/child2.png',
							ttl: 'Misty',
							type: 'Coach',
							tag: 'x23',
							items: [

							]
						})
					.collection__col
						+evolution-item({
							class_mod: 'evolution-item--coach',
							img: './s/images/useful/evolution/child3.png',
							ttl: 'Ash',
							type: 'Coach',
							tag: 'x23',
							items: [

							]
						})

			if data.empty
				.collection__empty
					.collection__empty-img
						picture
							source(media='(min-width: 479px)' srcset='./s/images/useful/collect_empty.png')
							source(srcset='./s/images/useful/collect_empty.png' type='image/webp')
							img(src='./s/images/useful/collect_empty.png' alt='img')
					span.collection__empty-ttl It looks like you don't have NFT yet
					p.collection__empty-txt Distrusts fulfilled happiness unwilling as explained of difficult. No landlord of peculiar ladyship attended if contempt ecstatic. Loud wish made on is am as hard.
					button(type="button").button.button--small
						span Buy Pokeball

				
