.collection {
    padding: 14rem 0 12rem;
    @media (max-width: $sw-xs-max) {
        padding: 8rem 0;
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }
    &__col {
        padding: 0 1.5rem;
        width: 33.33333%;
        position: relative;
        margin-bottom: 4.6rem;
        @media (max-width: $sw-xs-max) {
            width: 50%;
        }
        @media (max-width: $sw-xx-max) {
            width: 100%;
            margin-bottom: 1.8rem;
        }
    }
    &__empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 55rem;
        margin: 0 auto;
        &-img {
            position: relative;
            width: 25.5rem;
            height: 22.6rem;
            margin-bottom: 4.6rem;
            & > picture {
                img {
                    display: block;
                    position: absolute;
                    margin: auto;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                }
            }
        }
        &-ttl {
            // font-family: "FredokaOne";
            font-family: "Nunito";
            font-weight: 900;
            font-size: 3.2rem;
            line-height: 1.25em;
            color: #FCBE41;
            display: block;
            width: 100%;
            margin-bottom: 2.4rem;
            text-align: center;
            @media (max-width: $sw-xx-max) {
                font-size: 2.4rem;
                margin-bottom: 1.6rem;
            }
        }
        &-txt {
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 1.5em;
            text-align: center;
            width: 100%;
            color: #C4C7D1;
            margin-bottom: 3.2rem;
        }
    }
}



