mixin head-of-tails(data)
	.h-tails
		.container
			.h-tails__inner
				.h-tails__start
					article.h-tails__start-article
						h3.h3 Heads or Tails
						p Welcome to Heads or rails game. Make a bet, using your NFTs, pay 200 Ice Shards fee for each used NFTs and try your luck! If you win, your NFTs will be doubled! You can use any rarity, even legendary ones. No max amount of bet. Important - if you lose, your NFTs will be burned.
						button.button.button--small(type="button")
							span Play	 
					.h-tails__start-picture
						img(src="s/images/useful/tails/3.png", alt="img")
					ul.h-tails__start-list
						li.h-tails__start-item
							.h-tails__start-item-img
								img(src="s/images/useful/tails/1.png", alt="img")
							span.h-tails__start-item-txt Rock Santa multiplies the set cards by 2
						li.h-tails__start-item
							.h-tails__start-item-img
								img(src="s/images/useful/tails/2.png", alt="img")
							span.h-tails__start-item-txt If Santa is stuck then you are defeated
					.h-tails__start-mobile-btn
						button.button.button--small(type="button")
							span Play	 



			.h-tails__inner.h-tails__inner--bg
				.h-tails__content
					.h-tails__count
						.h-tails__count__row
							span.h-tails__count__row__ttl Make your bid
							.h-tails__count__select
								+select-custom({})

						.h-tails__count__col
							.h-tails__count__item
								.h-tails__count__item__count
									span 256
								.h-tails__count__item__img
									img(src="s/images/useful/modals/ba.png", alt="img")
								+tail-counter({})
						.h-tails__count__col
							.h-tails__count__item.h-tails__count__item--disabled
								.h-tails__count__item__count
									span 10
								.h-tails__count__item__img
									img(src="s/images/useful/modals/charmeleon.png", alt="img")
								+tail-counter({})
						.h-tails__count__col
							.h-tails__count__item
								.h-tails__count__item__count
									span 10
								.h-tails__count__item__img
									img(src="s/images/useful/modals/fireman.png", alt="img")
								+tail-counter({})
						.h-tails__count__col
							.h-tails__count__item
								.h-tails__count__item__count
									span 10
								.h-tails__count__item__img
									img(src="s/images/useful/modals/ba1.png", alt="img")
								+tail-counter({})
						.h-tails__count__col
							.h-tails__count__item
								.h-tails__count__item__count
									span 10
								.h-tails__count__item__img
									img(src="s/images/useful/modals/ba3.png", alt="img")
								+tail-counter({})
						.h-tails__count__col
							.h-tails__count__item
								.h-tails__count__item__count
									span 10
								.h-tails__count__item__img
									img(src="s/images/useful/modals/ba4.png", alt="img")
								+tail-counter({})
						.h-tails__count__col
							.h-tails__count__item
								.h-tails__count__item__count
									span 10
								.h-tails__count__item__img
									img(src="s/images/useful/modals/ba5.png", alt="img")
								+tail-counter({})
						.h-tails__count__col
							.h-tails__count__item
								.h-tails__count__item__count
									span 10
								.h-tails__count__item__img
									img(src="s/images/useful/modals/ba6.png", alt="img")
								+tail-counter({})
						.h-tails__count__col
							.h-tails__count__item
								.h-tails__count__item__count
									span 10
								.h-tails__count__item__img
									img(src="s/images/useful/modals/ba7.png", alt="img")
								+tail-counter({})
						.h-tails__count__col
							.h-tails__count__item
								.h-tails__count__item__count
									span 10
								.h-tails__count__item__img
									img(src="s/images/useful/modals/ba8.png", alt="img")
								+tail-counter({})
								
						.h-tails__count__col
							.h-tails__count__item
								.h-tails__count__item__count
									span 10
								.h-tails__count__item__img
									img(src="s/images/useful/modals/ba9.png", alt="img")
								+tail-counter({})

						.h-tails__count__col
							.h-tails__count__item
								.h-tails__count__item__count
									span 10
								.h-tails__count__item__img
									img(src="s/images/useful/modals/ba2.png", alt="img")
								+tail-counter({})
						button.edit-bid(type="button")
							+svg('icon-edit')
							span Edit bid
					.h-tails__box
						.h-tails__coin
							img.h-tails__coin__static(src="s/images/useful/tails/1.png", alt="coin")
						.h-tails__box__action
							.h-tails__box__action__inner
								button.button(type="button")
									span Flip !
								.h-tails__box__info
									span Cost of one attemp = 5 000 Ice Shards
					.h-tails__action
						.h-tails__action__inner
							button.button(type="button")
								span Make a bid
							.h-tails__box__info
								span Cost of one attemp = 5 000 Ice Shards
				.h-tails__modal
					.h-tails__modal__inner
						.h-tails__modal__top
							span.h-tails__modal__top__ttl Make your bid
							button.h-tails__modal__top__close.js-close-modal-bid(type="button")
								+svg("icon-close")
						.h-tails__modal__select
							+select-custom({})
							
					
						ul.h-tails__modal__triggers.evolution__nav
							li
								button.decor--type-orange(type="button") Fire
							li
								button.decor--type-blue(type="button") Water
							li
								button.decor--type-green(type="button").active Grass
							li
								button.decor--type-yellow(type="button") Electric
						.h-tails__modal__content
							.h-tails__modal__line
								.h-tails__modal__line__img
									img(src="s/images/useful/modals/ba9.png", alt="img")
								.h-tails__modal__line__count
									+tail-counter({})
							.h-tails__modal__line
								.h-tails__modal__line__img
									img(src="s/images/useful/modals/ba8.png", alt="img")
								.h-tails__modal__line__count
									+tail-counter({})
							.h-tails__modal__line.h-tails__modal__line--disabled
								.h-tails__modal__line__img
									img(src="s/images/useful/modals/ba7.png", alt="img")
								.h-tails__modal__line__count
									+tail-counter({})
							.h-tails__modal__line
								.h-tails__modal__line__img
									img(src="s/images/useful/modals/ba5.png", alt="img")
								.h-tails__modal__line__count
									+tail-counter({})
							.h-tails__modal__line
								.h-tails__modal__line__img
									img(src="s/images/useful/modals/ba2.png", alt="img")
								.h-tails__modal__line__count
									+tail-counter({})
						.h-tails__modal__actions
							button.button.button--small(type="button")
								span Save bid	

			.h-tails__inner.h-tails__inner--bg
				.h-tails__content
					.h-tails__count
						.h-tails__count__col
							.h-tails__count__item
								.h-tails__count__item__img
									img(src="s/images/useful/modals/ba.png", alt="img")
								.h-tails__count__item__val
									span 43
						.h-tails__count__col
							.h-tails__count__item.h-tails__count__item--disabled
								.h-tails__count__item__img
									img(src="s/images/useful/modals/charmeleon.png", alt="img")
								.h-tails__count__item__val
									span 0
						.h-tails__count__col
							.h-tails__count__item
								.h-tails__count__item__img
									img(src="s/images/useful/modals/fireman.png", alt="img")
								.h-tails__count__item__val
									span 43
						.h-tails__count__col
							.h-tails__count__item
								.h-tails__count__item__img
									img(src="s/images/useful/modals/ba1.png", alt="img")
								.h-tails__count__item__val
									span 43
						.h-tails__count__col
							.h-tails__count__item
								.h-tails__count__item__img
									img(src="s/images/useful/modals/ba3.png", alt="img")
								.h-tails__count__item__val
									span 43
						.h-tails__count__col
							.h-tails__count__item
								.h-tails__count__item__img
									img(src="s/images/useful/modals/ba4.png", alt="img")
								.h-tails__count__item__val
									span 43
						.h-tails__count__col
							.h-tails__count__item.h-tails__count__item--win
								.h-tails__count__item__img
									img(src="s/images/useful/modals/ba5.png", alt="img")
								.h-tails__count__item__val
									span +256
						.h-tails__count__col
							.h-tails__count__item.h-tails__count__item--win
								.h-tails__count__item__img
									img(src="s/images/useful/modals/ba6.png", alt="img")
								.h-tails__count__item__val
									span +82
						.h-tails__count__col
							.h-tails__count__item.h-tails__count__item--win
								.h-tails__count__item__img
									img(src="s/images/useful/modals/ba7.png", alt="img")
								.h-tails__count__item__val
									span +1
						.h-tails__count__col
							.h-tails__count__item
								.h-tails__count__item__img
									img(src="s/images/useful/modals/ba8.png", alt="img")
								.h-tails__count__item__val
									span 43
						.h-tails__count__col
							.h-tails__count__item.h-tails__count__item--disabled
								.h-tails__count__item__img
									img(src="s/images/useful/modals/ba9.png", alt="img")
								.h-tails__count__item__val
									span 1
						.h-tails__count__col
							.h-tails__count__item
								.h-tails__count__item__img
									img(src="s/images/useful/modals/ba2.png", alt="img")
								.h-tails__count__item__val
									span 1
					.h-tails__box
						.h-tails__coin
							img.h-tails__coin__head(src="s/images/useful/tails/1.png", alt="head")
							img.h-tails__coin__tail(src="s/images/useful/tails/2.png", alt="tail")
						.h-tails__box__action
							.h-tails__box__action__inner
								.h-tails__box__title
									span You win!
								button.button.js-start-flip-win(type="button")
									span Make a bid
							.h-tails__box__congrats
								span Congrats! #[br] You win
								//- img(src="s/images/useful/head-of-tails/x2.svg", alt="x2")
					.h-tails__action
						.h-tails__action__inner
							button.button.js-start-flip-winn(type="button")
								span Make a bid
							.h-tails__box__info
								span Cost of one attemp = 5 000 Ice Shards
						.h-tails__box__congrats
							span Congrats! #[br] You win
							//- img(src="s/images/useful/head-of-tails/x2.svg", alt="x2")

			.h-tails__inner.h-tails__inner--bg
				.h-tails__content
					.h-tails__count
						.h-tails__count__col
							.h-tails__count__item.h-tails__count__item--lost
								.h-tails__count__item__img
									img(src="s/images/useful/modals/ba.png", alt="img")
								.h-tails__count__item__val
									span 56
						.h-tails__count__col
							.h-tails__count__item.h-tails__count__item--lost
								.h-tails__count__item__img
									img(src="s/images/useful/modals/charmeleon.png", alt="img")
								.h-tails__count__item__val
									span 0
						.h-tails__count__col
							.h-tails__count__item.h-tails__count__item--disabled
								.h-tails__count__item__img
									img(src="s/images/useful/modals/fireman.png", alt="img")
								.h-tails__count__item__val
									span 56
						.h-tails__count__col
							.h-tails__count__item.h-tails__count__item--disabled
								.h-tails__count__item__img
									img(src="s/images/useful/modals/ba1.png", alt="img")
								.h-tails__count__item__val
									span 56
						.h-tails__count__col
							.h-tails__count__item.h-tails__count__item--lost
								.h-tails__count__item__img
									img(src="s/images/useful/modals/ba3.png", alt="img")
								.h-tails__count__item__val
									span 56
						.h-tails__count__col
							.h-tails__count__item.h-tails__count__item--disabled
								.h-tails__count__item__img
									img(src="s/images/useful/modals/ba4.png", alt="img")
								.h-tails__count__item__val
									span 56
						.h-tails__count__col
							.h-tails__count__item.h-tails__count__item--lost
								.h-tails__count__item__img
									img(src="s/images/useful/modals/ba5.png", alt="img")
								.h-tails__count__item__val
									span 56
						.h-tails__count__col
							.h-tails__count__item.h-tails__count__item--lost
								.h-tails__count__item__img
									img(src="s/images/useful/modals/ba6.png", alt="img")
								.h-tails__count__item__val
									span 56
						.h-tails__count__col
							.h-tails__count__item.h-tails__count__item--lost
								.h-tails__count__item__img
									img(src="s/images/useful/modals/ba7.png", alt="img")
								.h-tails__count__item__val
									span 56
						.h-tails__count__col
							.h-tails__count__item.h-tails__count__item--lost
								.h-tails__count__item__img
									img(src="s/images/useful/modals/ba8.png", alt="img")
								.h-tails__count__item__val
									span 1
						.h-tails__count__col
							.h-tails__count__item.h-tails__count__item--disabled
								.h-tails__count__item__img
									img(src="s/images/useful/modals/ba9.png", alt="img")
								.h-tails__count__item__val
									span 1
						.h-tails__count__col
							.h-tails__count__item.h-tails__count__item--lost
								.h-tails__count__item__img
									img(src="s/images/useful/modals/ba2.png", alt="img")
								.h-tails__count__item__val
									span 1
					.h-tails__box
						.h-tails__coin
							img.h-tails__coin__head(src="s/images/useful/tails/1.png", alt="head")
							img.h-tails__coin__tail(src="s/images/useful/tails/2.png", alt="tail")
						.h-tails__box__action
							.h-tails__box__action__inner
								.h-tails__box__title
									span You lose
								button.button.js-start-flip-loose(type="button")
									span Play again
							.h-tails__box__fail
								span Oooh crap #[br] You lose
					.h-tails__action
						.h-tails__action__inner
							button.button.js-start-flip-loosee(type="button")
								span Make a bid
							.h-tails__box__info
								span Cost of one attemp = 5 000 Ice Shards
						.h-tails__box__fail
								span Oooh crap #[br] You lose




mixin tail-counter(mixin)
	.trader__card__item__count
		button.mystery-box__count__btn(type="button", disabled)
			+svg('icon-count-minus')
		.trader__card__item__count__val
			input(type="text", value="256")
			span /256
		button.mystery-box__count__btn(type="button")
			+svg('icon-count-plus')


mixin select-custom(mixin)
	.select-group.js-select-custom
		button(type='button').select-group__btn.js-select-custom-btn
			span Season 1
			+svg("icon-menu-down")
		.select-group__dropdown
			ul.select-group__dropdown-list 
				li.select-group__dropdown-li 
					button(type='button').select-group__dropdown-btn.active
						span Season 1
						+svg('icon-check-mini-2')
				li.select-group__dropdown-li 
					button(type='button').select-group__dropdown-btn 
						span Season 2
						+svg('icon-check-mini-2')
				li.select-group__dropdown-li 
					button(type='button').select-group__dropdown-btn 
						span Season 3
						+svg('icon-check-mini-2')
				li.select-group__dropdown-li 
					button(type='button').select-group__dropdown-btn 
						span Season 4
						+svg('icon-check-mini-2')

						