.h-tails {
    padding: 10rem 0 4rem 0;
    position: relative;
    @media (max-width: $sw-xs-max) {
        padding: 0 0 4rem 0;
    }
    @media (max-width: $sw-xx-max) {
        padding: 0 0 4rem 0;
    }
    @media (max-width: 575px) {
        padding: 0 0 4rem 0;
    }
    @media (max-width: 480px) {
        margin-top: -1.6rem;
    }
    .section-top {
        margin-bottom: 5.9rem;
        &__subtitle {
            margin-top: 2.5rem;
        }
        h2 {
            font-family: "Nunito";
            font-weight: 900;
            font-size: 6rem;
            line-height: 1.33em;
            color: #FCBE41;
            margin-bottom: 1.6rem;
        }
    }
    &__inner {
        width: 100%;
        background-color: #080A0C;
        border-radius: 2.4rem;
        padding: 3.2rem;
        min-height: 60rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        @media (max-width: $sw-xx-max) {
            // background-image: url('../../s/images/useful/head-of-tails/head-of-tails-bg.png');
            padding: 2.4rem;
        }
        &--bg {
            // background-image: url('../../s/images/useful/head-of-tails/head-of-tails-bg.png');
        }
        & + .h-tails__inner {
            margin-top: 2rem;
        }
    }
    &__title {
        font-size: 3.2rem;
        line-height: 1.2em;
        text-align: center;
        // color: $white;
        transform: matrix(0.99, -0.11, 0.12, 0.99, 0, 0);
        // font-family: $pacifico;
        margin-bottom: 3.2rem;
        sup {
            font-size: 2.1rem;
            line-height: 1.6em;
            transform: matrix(0.99, -0.11, 0.12, 0.99, 0, 0);
            margin-left: 3rem;
            margin-right: 6px;
        }
    }
    &__bid {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 53.4rem;
        margin: 0 auto 3.2rem auto;
        @media (max-width: $sw-xx-max) {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }
        &__coin {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 19.6rem;
            font-weight: 600;
            font-size: 2rem;
            line-height: 1.5em;
            // color: $white;
            height: 18rem;
            text-align: center;
            margin-right: 3.5rem;
            flex-shrink: 0;
            @media (max-width: $sw-xx-max) {
                margin-right: 0;
            }
            img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                max-width: 100%;
                max-height: 100%;
            }
            span, p {
                position: relative;
                z-index: 1;
            }
        }
        &__variants {
            display: flex;
            flex-direction: column;
            align-items: center;
            @media (max-width: $sw-xx-max) {
                flex-direction: row;
                width: 100%;
            }
            &__side {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                @media (max-width: $sw-xx-max) {
                    flex-direction: column;
                    justify-content: flex-start;
                    width: 50%;
                    text-align: center;
                    margin: 0 1rem;
                    padding-top: 4.7rem;
                }
                &:last-child {
                    margin-top: 12.4rem;
                    @media (max-width: $sw-xx-max) {
                        margin-top: 0;
                    }
                    .icon-curley-arr-top {
                        transform: scale(1, -1);
                        align-self: flex-start;
                        top: -1.5rem;
                        @media (max-width: $sw-xx-max) {
                            transform: translateX(-50%) rotate(30deg) scale(1, -1);
                            align-self: flex-start;
                            top: 0;
                            right: initial;
                            left: 50%;
                        }
                    }
                }
                .icon-curley-arr-top {
                    font-size: 2.4rem;
                    // color: $white;
                    flex-shrink: 0;
                    margin-right: 3.1rem;
                    align-self: flex-end;
                    position: relative;
                    bottom: -1.5rem;
                    @media (max-width: $sw-xx-max) {
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%) rotate(150deg);
                    }
                }
                img {
                    width: 8.8rem;
                    height: 8.8rem;
                    flex-shrink: 0;
                    margin-right: 1.8rem;
                    @media (max-width: $sw-xx-max) {
                        margin-right: 0;
                        margin-bottom: 7px;
                    }
                }
                p {
                    margin-bottom: 0;
                    font-weight: 600;
                    font-size: 1.4rem;
                    line-height: 1.7em;
                    // color: $white;
                }
            }
        }
        &__footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            .button {
                width: 100%;
                max-width: 22.2rem;
                margin-bottom: 1.6rem;
                @media (max-width: $sw-xx-max) {
                    max-width: 28.2rem;
                }
            }
            &__info {
                font-size: 1.2rem;
                line-height: 1.3em;
                color: #6E6D79;
            }
        }
    }
    &__content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 3.1rem 4.1rem;
        @media (max-width: $sw-sm-max) {
            padding: 3rem 0;
            margin: 0 auto;
            width: 100%;
        }
        @media (max-width: $sw-xs-max) {
            flex-direction: column;
            padding: 1rem 0 0 0;
        }
    }
    &__count {
        width: 100%;
        max-width: 52rem;
        margin-right: 11.7rem;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        @media (max-width: $sw-sm-max) {
            margin-right: 4rem;
        }
        @media (max-width: $sw-xs-max) {
            margin-right: 0;
            margin-bottom: 6.4rem;
            max-width: 29.5rem;
            order: 1;
        }
        .flipping-h &,
        .flipping-t &  {
            @media (max-width: $sw-xs-max) {
                animation: moveDown .25s linear forwards, moveUp .25s linear forwards 4s;
            }
        }
        &__row {
            width: 100%;
            margin-bottom: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: $sw-xs-max) {
                display: none;
            }
            &__ttl {
                font-family: 'Nunito';
                font-weight: 600;
                font-size: 2rem;
                line-height: 1.5em;
                color: #FFFFFF;
                flex-shrink: 0;
                flex-grow: 1;
                text-align: left;
            }
        }
        &__select {
            width: 16rem;
            flex-shrink: 0;
            color: white;
        }
        &__col {
            width: 15.2rem;
            margin-bottom: 2.5rem;
            @media (max-width: $sw-xs-max) {
                width: 5.6rem;
                margin-bottom: 2.2rem;
                margin-left: 1.2rem;
                margin-right: 1.2rem;
            }
            &:last-of-type {
                // margin-left: auto;
                // margin-right: auto;
                // margin-bottom: 0;
            }
        }
        &__item {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            &--disabled {
                pointer-events: none;
                img {
                    opacity: .15;
                }
                .h-tails__count__item__val {
                    opacity: 0;
                }
                .trader__card__item__count__val {
                    span {
                        color: rgba(#AAA9B0, 0.5);
                    }
                }
            }
            &--win {
                .h-tails__count__item__val {
                    color: #2ED67A;
                    @media (max-width: $sw-xs-max) {
                        color: #FCBE41;
                    }
                }
            }
                
            .trader__card__item__count {
                @media (max-width: $sw-xs-max) {
                    display: none;
                }
                input {
                    font-weight: 800;
                    font-size: 1.6rem;
                    line-height: 1em;
                    text-align: right;
                    // color: $white;
                    &[readonly] {
                        // color: rgba($white, 0.5);
                    }
                }
            }
            &__img {
                position: relative;
                width: 7.2rem;
                height: 7.2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 8px;
                @media (max-width: $sw-xs-max) {
                    width: 4.8rem;
                    height: 4.8rem;
                }
                &:after {
                    content: '';
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: transparent;
                    font-weight: 600;
                    font-size: 1.2rem;
                    line-height: 1.3em;
                    text-align: center;
                    color: #F15147;
                }

                .h-tails__count__item--lost & {
                    img {
                        opacity: .3;
                    }
                    &:after {
                        content: '';
                        background-image: url('../images/useful/tails/wasted.svg');
                        width: 9rem;
                        height: 3.2rem;
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        z-index: 3;
                        top: 2rem;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        @media (max-width: $sw-xs-max) {
                            width: 5rem;
                            height: 2rem;
                        }
                    }
                }
            }

            &__val {
                display: flex;
                justify-content: center;
                text-align: center;
                font-family: 'Nunito';
                font-weight: 800;
                font-size: 1.6rem;
                line-height: 1.5em;
                text-align: center;
                color: #FFFFFF;
                @media (max-width: $sw-xs-max) {
                    position: absolute;
                    top: 0;
                    left: 100%;
                    z-index: 3;
                    font-weight: 700;
                    font-size: 1.2rem;
                    line-height: 1.15em;
                    // color: $ebony;
                }
                &:after {
                    @media (max-width: $sw-xs-max) {
                        content: '';
                        display: block;
                        width: 2.2rem;
                        height: 2.4rem;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        // background-image: url('../../s/images/useful/head-of-tails/snow-ball.png');
                        background-size: auto;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
                span {
                    position: relative;
                    z-index: 1;
                }
                .h-tails__count__item--disabled & {
                    // color: rgba($white, 0.5);
                    @media (max-width: $sw-xs-max) {
                        // color: rgba($ebony, 0.5);
                    }
                }
                .h-tails__count__item--lost & {
                    color: #F15147;
                    @media (max-width: $sw-xs-max) {
                        // color: $ebony;
                    }
                }
            }
            &__count {
                display: none;
                position: absolute;
                top: 0;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 0;
                left: 100%;
                z-index: 3;
                font-weight: 700;
                font-size: 1.2rem;
                line-height: 1.15em;
                color: white;
                @media (max-width: $sw-xs-max) {
                    display: flex;
                }
                &:after {
                    content: '';
                    display: block;
                    width: 2.2rem;
                    height: 2.4rem;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    // background-image: url('../../s/images/useful/head-of-tails/snow-ball.png');
                    background-size: auto;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                span {
                    position: relative;
                    z-index: 1;
                }
            }
        }
        .edit-bid {
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-weight: 800;
            font-size: 1.2rem;
            line-height: 1.3em;
            text-align: center;
            color: #F15147;
            position: absolute;
            top: 100%;
            right: 0;
            left: 0;
            margin: auto;
            @media (max-width: $sw-xs-max) {
                display: flex;
            }
            .icon-edit {
                font-size: 2rem;
                margin-bottom: 6px;
            }
        }
    }
    &__box {
        width: 26.2rem;
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: $sw-xs-max) {
            order: 0;
            margin-bottom: 1.6rem;
            margin-top: 0;
        }
        .button {
            margin-bottom: 1.6rem;
            width: 100%;
            min-height: 5.6rem;
            padding: 1.6rem 2.4rem;
            @media (max-width: $sw-xs-max) {
                display: none;
            }
        }
        .h-tails__box__info {
            @media (max-width: $sw-xs-max) {
                display: none;
            }
        }
        &__title {
            font-family: 'Nunito';
            font-weight: 800;
            font-size: 3.2rem;
            line-height: 1.25em;
            text-align: center;
            color: #FAFCFE;
            margin-bottom: 3.2rem;
        }
        &__info {
            font-family: 'Nunito';
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.2em;
            text-align: center;
            text-transform: uppercase;
            color: #6E6D79;
        }
        &__action {
            height: 12rem;
            width: 100%;
            position: relative;
            @media (max-width: $sw-xs-max) {
                display: none;
            }
            &__inner {
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 3;
                .flipping-h &,
                .flipping-t &  {
                    animation: moveDown .25s linear forwards, moveUp .25s linear forwards 4s;
                }
            }
        }
        &__congrats,
        &__fail {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;
            text-align: center;
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            opacity: 0;
            visibility: hidden;
            transform: scale(0.6);
            span, p {
                display: block;
                width: 100%;
                text-align: center;
                font-size: 4.4rem;
                line-height: 1.18em;
                font-weight: 800;
                color: #FCBE41;
                transform: matrix(1, 0, 0, 1, 0, 0);
                margin-bottom: 1.6rem;
                // font-family: $pacifico;
                @media (max-width: $sw-sm-max) {
                    font-size: 3.5rem;
                }
                @media (max-width: $sw-xs-max) {
                    transform: matrix(0.99, -0.11, 0.12, 0.99, 0, 0);
                    font-size: 4.4rem;
                }
            }
            img {
                height: 7rem;
                @media (max-width: $sw-sm-max) {
                    height: 6rem;
                }
                @media (max-width: $sw-xs-max) {
                    height: 7rem;
                }
            }
        }
        &__congrats {
            .flipping-h & {
                animation: fadeIn .3s linear forwards 1.6s, fadeOut .3s linear forwards 3.5s;
                @media (max-width: $sw-xs-max) {
                    animation: fadeIn-mob .3s linear forwards 1.6s, fadeOut-mob .3s linear forwards 3.5s;
                }
            }
        }
        &__fail {
            .flipping-t & {
                animation: fadeIn .3s linear forwards 1.6s, fadeOut .3s linear forwards 3.5s;
                @media (max-width: $sw-xs-max) {
                    animation: fadeIn-mob .3s linear forwards 1.6s, fadeOut-mob .3s linear forwards 3.5s;
                }
            }
        }
    }
    &__coin {
        margin-bottom: 7rem;
        position: relative;
        width: 24rem;
        z-index: 10;
        height: 27rem;
        transform-style: preserve-3d;
        transform-origin: 50%;
        @media (max-width: $sw-sm-max) {
            width: 20rem;
            height: 22rem;
        }
        @media (max-width: $sw-xs-max) {
            width: 16.8rem;
            height: 18.8rem;
            margin-bottom: 1rem;
        }
        .flipping-h & {
            animation: flip-h 1.5s linear forwards;
            @media (max-width: $sw-xs-max) {
                animation: flip-h-mob 1.5s linear forwards, flip-h-mob-back .5s linear forwards 3.5s;
            }
        }
        .flipping-t & {
            animation: flip-t 1.5s linear forwards;
            @media (max-width: $sw-xs-max) {
                animation: flip-t-mob 1.5s linear forwards, flip-t-mob-back .5s linear forwards 3.5s;
            }
        }
        &:before {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: -32%;
            margin: auto;
            width: 40rem;
            height: 40.2rem;
            content: " ";
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            opacity: 0;
            visibility: hidden;
            transform: scale(0.6);

            @media (max-width: $sw-sm-max) {
                left: -50%;
            }
            @media (max-width: $sw-xs-max) {
                left: -44%;
                width: 32rem;
                height: 27.2rem;
            }
        }
        &__head, &__tail {
            position: absolute;
            width: 100%;
            height: 100%;
        }
        &__head {
            transform: translateZ(26rem/30/2);
            @media (max-width: $sw-sm-max) {
                transform: translateZ(22rem/30/2);
            }
        }
        &__tail {
            transform: translateZ(-26rem/30/2) rotateY(180deg) rotateZ(180deg);
            @media (max-width: $sw-sm-max) {
                transform: translateZ(-22rem/30/2) rotateY(180deg) rotateZ(180deg);
            }
        }
        &__santa {
            position: absolute;
            top: 55%;
            left: 44%;
            transform: translate(-50%, -50%);
            @media (max-width: $sw-xs-max) {
                height: 14.6rem;
            }
        }
        &__static {
            display: block;
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
    }
    &__action {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        height: 8.6rem;
        order: 2;
        @media (max-width: $sw-xs-max) {
            display: flex;
        }
        &__inner {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            .flipping-h &,
            .flipping-t &  {
                @media (max-width: $sw-xs-max) {
                    animation: moveDown .25s linear forwards, moveUp .25s linear forwards 4s;
                }
            }
        }
        .button {
            margin-bottom: 1.8rem;
            width: 100%;
            max-width: 28.2rem;
            min-height: 5.6rem;
            padding: 1.6rem 2.4rem;
        }
    }
    &__modal {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: inherit;
        border-radius: 24px;
        z-index: 10;
        transition: opacity .3s ease, visibility .3s ease;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding: 8px;
        display: none;
        visibility: hidden;
        opacity: 0;
        @media (max-width: $sw-xs-max) {
            display: flex;
        }
        .modal-is-active & {
            opacity: 1;
            visibility: visible;
        }
        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2.4rem;
            &__ttl {
                font-weight: 600;
                font-size: 20px;
                line-height: 1.5em;
                color: #FFFFFF;
            }
            &__close {
                width: 2rem;
                height: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.4rem;
                color: white;
            }
        }
        &__inner {
            background: #000000;
            border-radius: 2rem;
            width: 100%;
            max-width: 420px;
            margin: 0 auto;
            padding: 1.6rem 1.6rem 2.6rem 1.6rem;
        }
        &__triggers {
            display: flex;
            align-items: center;
            justify-content: center;

            &:not(:last-child) {
                margin-bottom: 1.6rem;
            }
            .craft-tabs__btn {
                font-size: 1.2rem;
                font-weight: 700;
            }
            a, button {
                min-width: 6.4rem;
            }
        }
        &__actions {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .button {
                width: 100%;
            }    
        }
        &__content {
            max-height: 340px;
            overflow-y: auto;
            width: calc(100% + 5rem);
            margin-left: -2.5rem;
            margin-right: -2.5rem;
        }
        &__select {
            width: 100%;
            color: white;
            margin-bottom: 1.6rem;
        }
        &__line {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 1.6rem 2.4rem;
            &:not(:last-child) {
                border-bottom: 1px solid #10202F;
            }
            &--disabled {
                img {
                    opacity: .15;
                }
                .trader__card__item__count__val span {
                    color: rgba(#AAA9B0, 0.5);
                }
                .h-tails__modal__line__count {
                    opacity: .3;
                }
            }
            &__img {
                width: 7.2rem;
                height: 7.2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                margin-right: 4.2rem;

                img {
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            &__count {
                input {
                    font-weight: 600;
                    font-size: 2rem;
                    line-height: 1em;
                    text-align: right;
                    color: #0D0D22;
                    &[readonly] {
                        color: rgba(#AAA9B0, 0.5);
                    }
                }
            }
        }
    }
    &__start {
        display: flex;
        padding: 0 2.8rem;
        @media (max-width: $sw-xs-max) {
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 0;
        }
        &:after {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 64.9rem;
            background-image: url("../images/useful/tails/4.png");
            background-size: contain;
            background-repeat: no-repeat;
            content: " ";
            display: block;
            @media (max-width: $sw-xs-max) {
                width: 100%;
            }
        }
        &-article {
            flex-grow: 1;
            margin-right: 3rem;
            margin-top: 8rem;
            position: relative;
            z-index: 1;
            @media (max-width: $sw-md-max) {
                margin-right: 0;
            }
            @media (max-width: $sw-xs-max) {
                order: 2;
                margin-top: 0;
                margin-right: 0;
                margin-bottom: 4rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: 29.5rem;
                margin: 0 auto 4rem;
            }
            .h3 {
                font-size: 3.2rem;
                line-height: 1.25em;
                color: #FCBE41;
                margin-bottom: 1.6rem;
                @media (max-width: $sw-xs-max) {
                    text-align: center;
                }
            }
            p {
                font-size: 2rem;
                line-height: 1.5em;
                color: #C4C7D1;
                @media (max-width: $sw-xs-max) {
                    text-align: center;
                }
                &:not(:last-child) {
                    margin-bottom: 4rem;
                    @media (max-width: $sw-xs-max) {
                        margin-bottom: 0;
                    }
                }
            }
            .button {
                width: 100%;
                max-width: 30rem;
                @media (max-width: $sw-xs-max) {
                    display: none;
                }
            }
        }
        &-mobile-btn {
            display: none;
            @media (max-width: $sw-xs-max) {
                display: flex;
                align-items: center;
                justify-content: center;
                order: 4;
                width: 100%;
            }
            .button {
                width: 100%;
                max-width: 30rem;
            }
        }
        &-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-shrink: 0;
            position: relative;
            z-index: 1;
            margin-top: 7rem;
            @media (max-width: $sw-md-max) {
                margin-top: 4rem;
            }
            @media (max-width: $sw-xs-max) {
                order: 3;
                flex-direction: row;
                margin-bottom: 3.2rem;
                margin-top: 0;
                padding-top: 6.4rem;
            }
            &:before {
                @media (max-width: $sw-xs-max) {
                    content: " ";
                    position: absolute;
                    bottom: calc(100% - 4.4rem);
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    width: 14.8rem;
                    height: 3.39rem;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-image: url("../images/useful/tails/arrows.svg");
                }
            }
        }
        &-picture {
            width: 44rem;
            position: relative;
            flex-shrink: 0;
            margin-right: 1rem;
            position: relative;
            bottom: 0;
            position: relative;
            z-index: 1;
            @media (max-width: $sw-md-max) {
                width: 38rem;
            }
            @media (max-width: $sw-xs-max) {
                order: 1;
                width: 25rem;
                bottom: 0;
                margin-right: 0;
                margin-bottom: 0;
            }
            img {
                display: block;
                position: absolute;
                margin: auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
            }
            &:after {
                visibility: hidden;
                padding-bottom: 123.1%;
                content: " ";
                display: block;
            }
        }
        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 12rem;
            margin: 0 auto;
            @media (max-width: $sw-xs-max) {
                margin: 0 2rem;
            }
            &:not(:last-child) {
                margin-bottom: 7rem;
                @media (max-width: $sw-xs-max) {
                    margin-bottom: 0;
                }
            }
            &-img {
                width: 9.6rem;
                height: 10.8rem;
                margin-bottom: 8px;
                position: relative;
                @media (max-width: $sw-md-max) {
                    width: 7.2rem;
                    height: 8.2rem;
                }
                img {
                    display: block;
                    position: absolute;
                    margin: auto;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                }
            }
            &-txt {
                text-align: center;
                font-weight: 600;
                font-size: 1.4rem;
                line-height: 1.43em;
                text-align: center;
                color: #FFFFFF;
            }
        }
    }
}

.trader__card__item__count {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $sw-xs-max) {
        width: auto;
    }
    .mystery-box__count__btn {
        flex-shrink: 0;
        width: 2.4rem;
        font-size: 2.4rem;
        color: rgba(#5BACF2, .2);
        transition: color .3s ease;
        &:hover {
            color: rgba(#5BACF2, .6);
        }
        &[disabled] {
            color: rgba(91, 172, 242, 0.2);
            opacity: .5;
        }
    }
    &__val {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;

        font-family: 'Nunito';
        font-style: normal;
        font-weight: 800;
        font-size: 10px;
        line-height: 1.2em;
        color: #FFFFFF;
        @media (max-width: $sw-xs-max) {
            width: 70px;
            flex-grow: initial;
        }
        span {
            text-align: left;
            width: 50%;
            margin-left: 8px;
        }
    }
    input {
        display: inline;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 1.5em;
        color: #FFFFFF;
        width: 70%;
        text-align: right;
        padding: 0;
        outline: none;
        border: none;
        box-shadow: none;
        background-color: transparent;
        &:focus {
            outline: none;
            border: none;
            box-shadow: none;
        }
    }
}


.select-group {
    width: 100%;
    min-width: 16rem;
    position: relative;
    z-index: 10;
    &__btn {
        background: #10202F;
        border-radius: 1.8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 4.8rem;
        padding: 1.2rem 1.6rem;
        width: 100%;
        transform: translateZ(0);
        &:hover {
            span, .icon {
                color: #FCBE41;
            }
        }
        span {
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 1.5em;
            color: #C4C7D1;
            white-space: nowrap;
            display: block;
            transition: color .3s ease;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: left;
            transform: translateZ(0);
        }
        .icon {
            font-size: 6px;
            flex-shrink: 0;
            color: #C4C7D1;
            transition: all .3s ease;
            transform: translateZ(0);
        }
    }
    &__dropdown {
        opacity: 0;
        visibility: hidden;
        transform: translateY(1.5rem);

        position: absolute;
        top: calc(100% + 1px);
        left: 0;
        width: 100%;
        max-height: 420px;
        overflow-y: auto;
        background: #10202F;
        border-radius: 1.8rem;
        transition: all .3s ease;
        &-li {
            &:not(:last-child) {
                border-bottom: 1px solid #080A0C;
            }
        }
        &-btn {
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 1.5em;
            color: #C4C7D1;
            display: block;
            width: 100%;
            text-align: left;
            transition: color .3s ease;
            padding: 1.2rem 1.6rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .icon {
                font-size: 8px;
                color: #FCBE41;
                opacity: 0;
            }
            &:hover {
                .icon, span {
                    color: #FCBE41;
                }
            }
            &.active {
                cursor: initial;
                span {
                    color: #C4C7D1;
                }
                .icon {
                    opacity: 1;
                }
            }
        }
    }

    &.visible {
        .select-group__btn {
            .icon {
                transform: rotate(180deg);
            }
        }
        .select-group__dropdown {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
}


.flipping-h {
    .h-tails__coin:before {
        background-image: url("../images/useful/tails/win-lines.svg");
        
        animation: fadeIn .3s linear forwards 1.5s;
    }
}
.flipping-t {
    .h-tails__coin:before {
        background-image: url("../images/useful/tails/loose-lines.svg");

        animation: fadeIn .3s linear forwards 1.5s;
    }
}


@keyframes flip-h {
    0% {transform: rotateY(0) rotateX(0deg) scale(1)}
    10% {transform: rotateY(45deg) rotateX(calc(1080deg / 3)) scale(1.6)}
    60% {transform: rotateY(-30deg) rotateX(calc(1080deg / 1.5)) scale(2)}
    100% {transform: rotateY(0) rotateX(1080deg) scale(1)}
}

@keyframes flip-h-mob {
    0% {transform: translateY(0) rotateY(0) rotateX(0deg) scale(1)}
    10% {transform: translateY(8rem) rotateY(45deg) rotateX(calc(1080deg / 3)) scale(1.6)}
    60% {transform: translateY(8rem) rotateY(-30deg) rotateX(calc(1080deg / 1.5)) scale(2)}
    100% {transform: translateY(8rem) rotateY(0) rotateX(1080deg) scale(1)}
}

@keyframes flip-h-mob-back {
    0% {transform: translateY(8rem) rotateY(0) rotateX(1080deg) scale(1)}
    100% {transform: translateY(0) rotateY(0) rotateX(1080deg) scale(1)}
}

@keyframes flip-t {
    0% {transform: rotateY(0) rotateX(0deg) scale(1)}
    10% {transform: rotateY(45deg) rotateX(calc(1240deg / 3)) scale(1.6)}
    60% {transform: rotateY(-30deg) rotateX(calc(1240deg / 1.5)) scale(2)}
    100% {transform: rotateY(0) rotateX(1240deg) scale(1)}
}

@keyframes flip-t-mob {
    0% {transform: translateY(0) rotateY(0) rotateX(0deg) scale(1)}
    10% {transform: translateY(8rem) rotateY(45deg) rotateX(calc(1240deg / 3)) scale(1.6)}
    60% {transform: translateY(8rem) rotateY(-30deg) rotateX(calc(1240deg / 1.5)) scale(2)}
    100% {transform: translateY(8rem) rotateY(0) rotateX(1240deg) scale(1)}
}

@keyframes flip-t-mob-back {
    0% {transform: translateY(8rem) rotateY(0) rotateX(1240deg) scale(1)}
    100% {transform: translateY(0) rotateY(0) rotateX(1240deg) scale(1)}
}

@keyframes moveDown {
    0% {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
    100% {
        transform: translateY(25rem);
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes moveUp {
    0% {
        transform: translateY(25rem);
        opacity: 0;
        visibility: hidden;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeIn {
    0% {
        transform: scale(0.6);
        opacity: 0;
        visibility: hidden;
    }
    100% {
        transform: scale(1);
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeIn-mob {
    0% {
        transform: translateY(-25rem) scale(0.6);
        opacity: 0;
        visibility: hidden;
    }
    100% {
        transform: translateY(-25rem) scale(1);
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeOut {
    0% {
        transform: scale(1);
        opacity: 1;
        visibility: visible;
    }
    100% {
        transform: scale(0.6);
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes fadeOut-mob {
    0% {
        transform: translateY(-25rem) scale(1);
        opacity: 1;
        visibility: visible;
    }
    100% {
        transform: translateY(-25rem) scale(0.6);
        opacity: 0;
        visibility: hidden;
    }
}