mixin earn-section(data)
	section.earn-section
		.container
			.earn-section__block
				.section-title
					h2.h2 Share & Earn
				p Invite your friends through our referral system and earn extra tokens! Get 5% from each harvest from the NFT rewards and staking PLUS get 5% from each purchase of NFT egg. Promote your referral link in the social and get more profit!
				.earn-section__row
					ul.share-section__discount__list.h-reset-list
						li
							span.share-section__discount__title Get 5% off
						li
							.share-section__discount__list__item
								+svg('icon-dollar-rounded')
								span NFT egg
						li
							.share-section__discount__list__item
								+svg('icon-dollar-rounded')
								span NFT rewards
						li
							.share-section__discount__list__item
								+svg('icon-dollar-rounded')
								span Staking rewards

					ul.share-section__discount__list.h-reset-list
						li
							span.share-section__discount__title Get 30% off
						li
							.share-section__discount__list__item
								+svg('icon-dollar-rounded')
								span Crafting

					ul.share-section__discount__list.h-reset-list
						li
							span.share-section__discount__title Get 5% off
						li
							.share-section__discount__list__item
								+svg('icon-dollar-rounded')
								span Games

				button.button.button--blue(type="button")
					span Refer friends now!
					