.earn-section {
    margin-bottom: 14rem;
    &__block {
        background-image: url('../../s/images/useful/earn-section/earn-section-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        overflow: hidden;
        border-radius: 2.8rem;
        padding: 6rem 4.4rem;
        @media (max-width: $sw-sm-max) {
            padding: 4rem;
        }
        @media (max-width: $sw-xs-max) {
            padding: 3rem;
        }
        @media (max-width: $sw-xx-max) {
            padding: 2rem;
        }
        .section-title {
            max-width: 100%;
            margin: 0 0 1.6rem 0;
        }
        p {
            font-weight: 600;
            font-size: 2rem;
            line-height: 1.5em;
            color: #C4C7D1;
            width: 100%;
            max-width: 54rem;
            margin-bottom: 4.1rem;
            @media (max-width: $sw-xx-max) {
                margin-bottom: 2rem;
            }
        }
        .share-section__discount {
            &__title {
                @media (max-width: $sw-xx-max) {
                    font-size: 2.4rem;
                }
            }
            &__list {
                column-count: 3;
                column-gap: 0;
                width: 100%;
                max-width: 66rem;
                margin-bottom: 1rem;
                @media (max-width: $sw-sm-max) {
                    max-width: 100%;
                }
                @media (max-width: $sw-xs-max) {
                    column-count: 2;
                }
                @media (max-width: $sw-xx-max) {
                    column-count: 1;
                }
                li {
                    margin-bottom: 2.3rem;
                    @media (max-width: $sw-xx-max) {
                        margin-bottom: 2rem;
                    }
                }
            }
        }
        .button {
            padding: 2.4rem 3.2rem;
            @media (max-width: $sw-xx-max) {
                padding: 2.4rem;
            }
        }
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .share-section__discount__list {
            column-count: 1;
            column-gap: 0;
            width: 25%;
            @media (max-width: $sw-sm-max) {
                width: 33.3333%;
            }
            @media (max-width: $sw-xx-max) {
                width: 50%;
            }
            @media (max-width: 480px) {
                width: 100%;
                padding-right: 0;
            }
            &:not(:last-child) {
                padding-right: 1.6rem;
                @media (max-width: 480px) {
                    padding-right: 0;
                }
            }
        }
    }
}