.header {
    background: rgba(28, 33, 55, .95);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    // -webkit-backdrop-filter: blur(32px);
    // backdrop-filter: blur(32px);
    width: 100%;
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-logo {
            width: 10.8rem;
            height: 8.6rem;
            position: relative;
            flex-shrink: 0;
            margin-right: 4.8rem;
            @media (max-width: 1800px) {
                margin-right: 2.4rem;
            }
            @media (max-width: 479px) {
                width: 10.6rem;
                height: 7.9rem;
                margin-right: 1rem;
            }
            img {
                display: block;
                position: absolute;
                margin: auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
            }
        }
        &-nav {
            flex-grow: 1;
            @media (max-width: $sw-sm-max) {
                display: none;
            }
            &:not(:last-child) {
                margin-right: 11.4rem;
                @media (max-width: 1800px) {
                    margin-right: 2.4rem;
                }
            }
            &-list {
                display: flex;
                align-items: center;
            }
            &-li {
                position: relative;
                &:hover {
                    .header__content-nav-dropdown {
                        opacity: 1;
                        visibility: visible;
                        transform: translate(0, 0);
                    }
                    .header__content-nav-link {
                        .icon {
                            transform: rotate(180deg);
                        }
                    }
                }

            }
            &-dropdown {
                position: absolute;
                white-space: nowrap;
                position: absolute;
                left: 0;
                transform: translate(0, 5px);
                top: calc(100% + 5px);
                opacity: 0;
                visibility: hidden;
                transition: transform .2s ease, opacity .2s ease, visibility .2s ease;
                background-color: #080A0C;
                border: 2px solid rgba(255, 255, 255, 0.2);
                border-radius: 1.2rem;
                padding: 1.2rem 0;
                z-index: 20;
                &__item {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: 100%;
                    padding: 1.2rem 1.6rem;
                    font-weight: 600;
                    font-size: 1.6rem;
                    line-height: 1.5em;
                    color: #FAFCFE;
                    &[disabled] {
                        opacity: 1 !important;
                        color: rgba(255, 255, 255, 0.6) !important;
                    }
                    &:not([disabled]):hover {
                        @media (min-width: $sw-xs-min) {
                            color: #FCBE41;
                        }
                    }
                    .icon {
                        &-crafting,
                        &-earn,
                        &-referal {
                            font-size: 2rem;
                        }
                        &-joistick {
                            font-size: 2.4rem;
                        }
                        &-trophy {
                            font-size: 2.1rem;
                        }
                        &-stacking,
                        &-swap {
                            font-size: 1.8rem;
                        }
                        &-roadmap,
                        &-liquidity {
                            font-size: 2.2rem;
                        }
                        &-capital {
                            font-size: 2rem;
                        }
                    }
                    .header__content-nav-sup {
                        position: relative;
                        top: initial;
                        right: initial;
                        margin-left: 8px;
                        color: #FCBE41;
                    }
                }
                &__icon {
                    width: 2.4rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-shrink: 0;
                    margin-right: 1.6rem;
                }
            }
            &-link {
                display: flex;
                align-items: center;
                padding: 1.2rem;
                position: relative;
                &:not([disabled]):hover {
                    .header__content-nav-txt {
                        color: #5BACF2;
                    }
                    & > .icon {
                        color: #5BACF2;
                        transform: rotate(180deg);
                    }
                }
                &[disabled] {
                    pointer-events: none;
                    .header__content-nav-txt {
                        color: #9f9f9f;
                    }
                }
                & > span + .icon {
                    color: #FAFCFE;
                    transition: color .3s ease, transform .3s ease;
                    margin-left: 8px;
                }
            }
            &-txt {
                color: #FAFCFE;
                font-size: 1.6rem;
                font-weight: 600;
                transition: color .3s ease;
            }
            &-sup {
                display: flex;
                position: absolute;
                top: 0;
                right: -1.2rem;
                background: linear-gradient(93.37deg, #5BACF2 1.22%, #2872B2 100%);
                border-radius: 7px;
                padding: 2px 5px;
                color: #FFFFFF;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 1rem;
                line-height: 1em;
            }
        }
        &-wallet {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            &:not(:last-child) {
                margin-right: 0;
            }

            &-line {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                @media (max-width: $sw-xx-max) {
                    display: none;
                }
                &:not(:last-child) {
                    margin-right: 1.8rem;
                }
                &-img {
                    width: 2.4rem;
                    height: 2.4rem;
                    position: relative;
                    margin-right: 4px;
                    img {
                        display: block;
                        position: absolute;
                        margin: auto;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        max-width: 100%;
                        max-height: 100%;
                        width: auto;
                        height: auto;
                    }
                }
                span {
                    font-weight: 600;
                    font-size: 1.6rem;
                    line-height: 1.5em;
                    color: #FAFCFE;
                }
            }
            &__dropdown {
                position: relative;
                &.is-opened {
                    .icon-dropdown {
                        transform: rotate(0);
                    }
                    .wallet-button {
                        background-color: #080A0C;
                    }
                }
                .wallet-button {
                    width: 100%;
                    border-width: 2px;
                }
            }
            &__box {
                position: absolute;
                min-width: 100%;
                left: 50%;
                top: calc(100% - 1px);
                transform: translate(-50%, 5px);
                background-color: #080A0C;
                border: 2px solid rgba(255, 255, 255, 0.2);
                border-radius: 1.2rem;
                padding: 2.1rem 1.6rem;
                opacity: 0;
                visibility: hidden;
                transition: opacity .3s ease, visibility .3s ease, transform .3s ease;
                .is-opened & {
                    transform: translate(-50%, 0);
                    opacity: 1;
                    visibility: visible;
                }
                .icon {
                    font-size: 2rem;
                    flex-shrink: 0;
                    margin-right: 1.2rem;
                }
            }
            &__link {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                transition: color .3s ease;
                width: 100%;
                font-weight: 800;
                font-size: 1.6rem;
                line-height: 1.5em;
                white-space: nowrap;
                &:not(:last-child) {
                    margin-bottom: 2.4rem;
                }
                &.link--yellow {
                    color: #FCBE41;
                    &:hover {
                        @media (min-width: $sw-xs-min) {
                            color: lighten(#FCBE41, 5%);
                        }
                    }
                }
                &.link--red {
                    color: #E35534;
                    &:hover {
                        @media (min-width: $sw-xs-min) {
                            color: lighten(#E35534, 5%);
                        }
                    }
                }
            }
        }
        &-lang {
            @media (min-width: 1460px) {
                position: absolute;
                top:  0;
                right: 3.2rem;
                bottom: 0;
                margin: 0 auto;
                display: flex;
                align-items: center;
            }
            margin-left: 3.2rem;
            @media (max-width: $sw-sm-max) {
                display: none;
            }
        }
    }
    &-social {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        right: 3.2rem;
        bottom: 0;
        height: 100%;
        margin: auto 0;
        z-index: 10;
        pointer-events: none;
        @media (max-width: $sw-sm-max) {
            display: none;
        }
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            pointer-events: auto;
            
            &:not(:last-child) {
                margin-bottom: 1.6rem;
            }
            .icon {
                width: 2.4rem;
                font-size: 2.4rem;
                color: #41ABE1;
                &:not(:last-child) {
                    margin-bottom: 4px;
                }
            }
            span {
                font-size: 1rem;
                line-height: 1em;
                text-transform: uppercase;
                color: #58A9EF;
                text-align: center;
                // font-family: 'ReadexPro';
                font-family: "Nunito";
                font-weight: 700;
            }
        }
    }
    &-notifications {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        right: 3.2rem;
        bottom: 0;
        height: 100%;
        margin: auto 0;
        z-index: 10;
        width: 33rem;
        @media (max-width: $sw-sm-max) {
            display: none;
        }
        &__content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }
}

.notification-item {
    display: flex;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background: #080A0C;
    border-radius: 1.2rem;
    padding: 1.6rem 2.4rem;
    position: relative;
    width: 100%;
    &:not(:last-child) {
        margin-bottom: 2.4rem;
    }
    &:after {
        position: absolute;
        top: -2px;
        left: -2px;
        bottom: 0;
        width: 30%;
        height: calc(100% + 4px);
        content: " ";
        z-index: 5;
        border-radius: 1.2rem;
    }
    & > .icon {
        display: flex;
        font-size: 2.4rem;
        margin-right: 1.6rem;
        flex-shrink: 0;   
    }
    &__info {
        flex-grow: 1;
        &-ttl {
            font-family: "Nunito";
            font-weight: 800;
            font-size: 1.6rem;
            line-height: 1.5em;
            color: #FFFFFF;
            letter-spacing: -0.1px;
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
        &-txt {
            font-family: Nunito;
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 1.43em;
            color: #FFFFFF;
        }
        &-line {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .notification-item__info-ttl {
                &:not(:last-child) {
                    margin-bottom: 0;
                }
            }
        }
        &-group {
            display: flex;
            align-items: center;
            span {
                font-family: "Nunito";
                font-weight: 800;
                font-size: 1.6rem;
                line-height: 1.5em;
                color: #FCBE41;
            }
            &-img {
                width: 2.4rem;
                height: 2.4rem;
                position: relative;
                margin-left: 4px;
                img {
                    display: block;
                    position: absolute;
                    margin: auto;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                }
            }
        }
    }
    &.notification-item--green {
        &:after {
            background: linear-gradient(90deg, rgba(49, 221, 124, 0.2) 0%, rgba(49, 221, 124, 0) 100%);
        }
        .notification-item__info-ttl {
            color: #31DD7C;
        }

    }
    &.notification-item--red {
        &:after {
            background: linear-gradient(90deg, rgba(252, 49, 84, 0.2) 0%, rgba(252, 49, 84, 0) 100%);
        }
        .notification-item__info-ttl {
            color: #FC3154;
        }
    }
    &.notification-item--orange {
        &:after {
            background: linear-gradient(90deg, rgba(252, 153, 49, 0.2) 0%, rgba(252, 153, 49, 0) 100%);
        }
        .notification-item__info-ttl {
            color: #FC9931;
        }
    }
    &.notification-item--grey {
        &:after {
            background: linear-gradient(90deg, rgba(196, 199, 209, 0.2) 0%, rgba(196, 199, 209, 0) 100%);
        }
    }
}

.wallet-button {
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1.4rem;
    padding: 1.3rem 1.6rem;
    background-color: transparent;
    transition: .3s ease;
    transition-property: background-color, border-color;
    &:hover {
        border-color: #5BACF2;
        background-color: #5BACF2;
    }
    .icon {
        flex-shrink: 0;
        color: #FAFCFE;
    }
    .icon-wallet {
        font-size: 2.2rem;
        margin-right: 1.1rem;
    }
    .icon-dropdown {
        font-size: 6px;
        margin-left: auto;
        transform: rotate(180deg);
        transition: transform .3s ease;
    }
    span {
        // font-family: "FredokaOne";
        font-family: "Nunito";
        font-weight: 900;
        font-size: 16px;
        line-height: 1.5em;
        color: #FAFCFE;
        margin-right: 5px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @media (max-width: $sw-xx-max) {
            margin-right: 0;
        }
    }
    &--filled {
        border-color: transparent;
        background: linear-gradient(93.37deg, #5BACF2 1.22%, #2872B2 100%);
        &:hover {
            border-color: transparent;
            background: linear-gradient(93.37deg, #5BACF2 1.22%, #2872B2 100%);
        }
    }
}