mixin header(data)
	header.header
		.container
			.header__content
				a(href="#").header__content-logo
					picture
						source(media='(min-width: 479px)' srcset='./s/images/useful/logo-new.png')
						source(srcset='./s/images/useful/logo-new.png' type='image/webp')
						img(src='./s/images/useful/logo-new.png' alt='img')
				
				nav.header__content-nav
					.header__content-nav-inner
						ul.header__content-nav-list
							li.header__content-nav-li
								a(href="#").header__content-nav-link
									span.header__content-nav-txt Swap
							li.header__content-nav-li
								a(href="#").header__content-nav-link
									span.header__content-nav-txt NFT
							li.header__content-nav-li
								a(href="#").header__content-nav-link
									span.header__content-nav-txt Farming
							li.header__content-nav-li
								a(href="#").header__content-nav-link
									span.header__content-nav-txt Roadmap
									+svg("icon-menu-down")
								.header__content-nav-dropdown
									a.header__content-nav-dropdown__item(href="javascript:void(0)", disabled)
										.header__content-nav-dropdown__icon
											+svg('icon-crafting')
										span Crafting
										span.header__content-nav-sup soon
									a.header__content-nav-dropdown__item(href="javascript:void(0)")
										.header__content-nav-dropdown__icon
											+svg('icon-joistick')
										span Games
										span.header__content-nav-sup soon
									a.header__content-nav-dropdown__item(href="javascript:void(0)")
										.header__content-nav-dropdown__icon
											+svg('icon-trophy')
										span Achievements
										span.header__content-nav-sup soon
									a.header__content-nav-dropdown__item(href="javascript:void(0)")
										.header__content-nav-dropdown__icon
											+svg('icon-earn')
										span NFT Earn
										span.header__content-nav-sup soon
									a.header__content-nav-dropdown__item(href="javascript:void(0)")
										.header__content-nav-dropdown__icon
											+svg('icon-staking')
										span Staking
										span.header__content-nav-sup soon
									a.header__content-nav-dropdown__item(href="javascript:void(0)")
										.header__content-nav-dropdown__icon
											+svg('icon-roadmap')
										span Roadmap
									a.header__content-nav-dropdown__item(href="javascript:void(0)")
										.header__content-nav-dropdown__icon
											+svg('icon-referal')
										span Referral
									a.header__content-nav-dropdown__item(href="javascript:void(0)")
										.header__content-nav-dropdown__icon
											+svg('icon-swop')
										span Swap
									a.header__content-nav-dropdown__item(href="javascript:void(0)")
										.header__content-nav-dropdown__icon
											+svg('icon-liquidity')
										span Liquidity
									a.header__content-nav-dropdown__item(href="javascript:void(0)")
										.header__content-nav-dropdown__icon
											+svg('icon-capital')
										span NFT Bank

										
										
							li.header__content-nav-li
								a(href="#", disabled="disabled").header__content-nav-link
									span.header__content-nav-txt Games
									span.header__content-nav-sup soon
				.header__content-wallet
					.header__content-wallet-line
						.header__content-wallet-line-img
							img(src="./s/images/useful/pokeball.png" alt="icon")
						span $0.0032
					if data.dropdown
						.header__content-wallet__dropdown.is-opened
							button(type="button").wallet-button
								+svg("icon-wallet")
								span 0x45..544Cd
								+svg("icon-dropdown")
							.header__content-wallet__box
								a.header__content-wallet__link.link--yellow(href="javascript:void(0)")
									+svg('icon-profile')
									span Profile
								a.header__content-wallet__link.link--red(href="javascript:void(0)")
									+svg('icon-exit')
									span Disconnect
					else
						button(type="button").wallet-button
							+svg("icon-wallet")
							//- span Connect wallet
							span Подключить кошелек
				.header__content-lang
					+drop-languages({})
				
	unless data.notifications
		.header-social
			a(href="#")
				+icon-teltegram
				span Chat
			a(href="#")
				+icon-teltegram
				span Новости
			a(href="#")
				+svg("icon-twitter")
			a(href="#")
				+svg("icon-telepuzik")

	if data.notifications
		.header-notifications
			.header-notifications__content
				.notification-item.notification-item--green
					+svg("icon-notification-succuess")
					.notification-item__info
						h6.notification-item__info-ttl You're no good for me
						p.notification-item__info-txt I don't need nobody don't need no one, that's no good for me
				.notification-item.notification-item--red
					+svg("icon-notification-error")
					.notification-item__info
						h6.notification-item__info-ttl You're no good for me
						p.notification-item__info-txt I don't need nobody don't need no one, that's no good for me
				.notification-item.notification-item--orange
					+svg("icon-notification-danger")
					.notification-item__info
						h6.notification-item__info-ttl You're no good for me
						p.notification-item__info-txt I don't need nobody don't need no one, that's no good for me
				.notification-item.notification-item--grey
					+svg("icon-notification-info")
					.notification-item__info
						h6.notification-item__info-ttl You're no good for me
						p.notification-item__info-txt I don't need nobody don't need no one, that's no good for me
				.notification-item.notification-item--green
					.notification-item__info
						.notification-item__info-line
							h6.notification-item__info-ttl Award received
							.notification-item__info-group
								span + 1 000 000
								.notification-item__info-group-img
									img(src="./s/images/useful/pokeball.png" alt="icon")
				.notification-item.notification-item--green
					+svg("icon-notification-copied")
					.notification-item__info
						.notification-item__info-line
							h6.notification-item__info-ttl Token address was successfully copied
								
		

mixin drop-languages(data)
	.drop-custom
		button(type='button').drop-custom__btn
			span.icon-flag
				+svg('icon-flag-en')
			span English
			+svg('icon-drop-arrow')
		.drop-custom__content
			a(href='#').drop-custom__content-link.active
				span.icon-flag
					+svg('icon-flag-en')
				span English
			a(href='#').drop-custom__content-link
				span.icon-flag
					+svg('icon-flag-es')
				span Español

			a(href='#').drop-custom__content-link
				span.icon-flag
					+svg('icon-flag-ch')
				span 中國人

			a(href='#').drop-custom__content-link
				span.icon-flag
					+svg('icon-flag-ru')
				span Русский