.refferal-section {
    padding: 8rem 0 10rem 0;
    @media (max-width: $sw-xx-max) {
        padding: 4rem 0 8rem 0;
    }
    .section-title {
        max-width: 54rem;
        &:not(:last-child) {
            margin-bottom: 4rem;
            @media (max-width: $sw-xx-max) {
                margin-bottom: 2.5rem;
            }
        }
        .h2:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }
    &__info {
        background-image: url('../../s/images/useful/refferal-bank/refferal-bank.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 2.8rem;
        padding: 3rem 2rem;
        min-height: 19rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #FCBE41;
        @media (max-width: $sw-xx-max) {
            padding: 4.5rem 1rem;
            min-height: auto;
        }
        &__price {
            font-family: $fredoka;
            font-size: 6rem;
            line-height: 1.3em;
            margin-bottom: 6px;
            @media (max-width: $sw-xx-max) {
                font-size: 4rem;
            }
        }
        &__equivalent {
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 1.5em;
        }
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &:not(:last-child) {
            margin-bottom: 6rem;
        }
        &-nav {
            display: flex;
            font-size: 0;
            background: linear-gradient(93.37deg, rgba(91, 172, 242, 0.2) 1.22%, rgba(40, 114, 178, 0.2) 100%);
            border-radius: 1.2rem;
            padding: 4px;
            &-btn {
                flex-grow: 1;
                flex-shrink: 0;
                height: 3.2rem;
                background-color: transparent;
                border-radius: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 12px;
                text-align: center;
                font-weight: 700;
                font-size: 1.4rem;
                line-height: 1.1em;
                color: #C4C7D1;
                transition: background-color .3s ease, color .3s ease;
                &:not(:last-child) {
                    margin-right: 4px;
                }
                &.active {
                    cursor: auto;
                    color: #10202F;
                    background: #F0B739;
                }
            }
        }
    }
    &__empty {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10rem 0;
        @media (max-width: $sw-xx-max) {
            padding: 8rem 0;
        }
        .icon {
            font-size: 16.2rem;
            opacity: .2;
        }
    }
}


.changer {
    width: 5.2rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    &-group {
        display: flex;
        align-items: center;
        &:not(:last-child) {
            margin-right: 2.4rem;
        }
    }
    &-title {
        font-weight: 700;
        font-size: 14px;
        color: #C4C7D1;
        flex-shrink: 0;
        margin-right: 8px;
    }
	.switch {
		position: relative;
		display: block;
		width: 3.2rem;
		height: 2.2rem;
	}

	/* Hide default HTML checkbox */
	.switch input {
		display:none;
	}


	/* The slider */
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
        background: linear-gradient(93.37deg, rgba(91, 172, 242, 0.2) 1.22%, rgba(40, 114, 178, 0.2) 100%);
        border-radius: 16px;
		transition: .4s;
		width: 5.2rem;
		height: 3.2rem;
		margin: auto;
	}

	.slider:before {
		position: absolute;
		top: 0;
		left: 4px;
		bottom: 0;
		margin: auto 0;
		content: " ";
		width: 2.4rem;
		height: 2.4rem;
		transition: .4s;
        background: #C4C7D1;
		border: 0.5px solid rgba(0, 0, 0, 0.101987);
		box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05), 0px 1px 1px rgba(0, 0, 0, 0.16), 0px 3px 1px rgba(0, 0, 0, .1);
	}
	//
	input:checked + .slider:before {
		background-color: #FCBE41;
	}

	input:focus + .slider {

	}

	input:checked + .slider:before {
		transform: translateX(20px);

	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
	}

	.slider.round:before {
		border-radius: 50%;
	}
	.fix_ps {
		position: relative;
		left: 3px;
	}
}