mixin refferal-section(data)
	.refferal-section
		.container
			.section-title.section-title--center
				h2.h2 Bank
				p Every NFT in our New Year collection has its own rarity. The better rarity it has - the better and bigger reward you will get if you own one of the NFTS. Here you can see the estimated size of the reward for each rarity.
			.refferal-section__row
				.changer-group
					span.changer-title Staked only
					.changer
						label.switch
							input.switchMe(type='checkbox', checked='')
							span.slider.round

				.refferal-section__row-nav
					button(type='button').refferal-section__row-nav-btn Live
					button(type='button').refferal-section__row-nav-btn.active Finished


			if data.empty
				.refferal-section__empty
					+svg("icon-refferal-stub")
			unless data.empty
				.refferal-section__info
					.refferal-section__info__price
						span 120,12 BPM-USDT LP
					.refferal-section__info__equivalent
						span ~ 120$
				.earn__content
					.earn__content-col
						+item-earn({
							ttl: 'Evolution 1',
							prc: '$10',
							lines: [
								{class: '', img: 'img1', input_val: '175', val: '/175', disabled: true},
								{class: 'earn-item__count__image--disabled', img: 'img2', input_val: '0', val: '/0', disabled: true},
								{class: '', img: 'img3', input_val: '25', val: '/125', disabled: false},
								{class: '', img: 'img4', input_val: '50', val: '/542', disabled: false}
							],
							sell_price: '$2 500',
							sell_btn: 'Sell 250 NFT',
							sell_disabled: false
						})
					.earn__content-col
						+item-earn({
							ttl: 'Evolution 2',
							prc: '$50',
							lines: [
								{class: '', img: 'img5', input_val: '0', val: '/8', disabled: false},
								{class: '', img: 'img6', input_val: '0', val: '/2', disabled: false},
								{class: 'earn-item__count__image--disabled', img: 'img7', input_val: '0', val: '/0', disabled: true},
								{class: '', img: 'img8', input_val: '0', val: '/6', disabled: false}
							],
							sell_price: '$0',
							sell_btn: 'Sell NFT',
							sell_disabled: true
						})
					.earn__content-col
						+item-earn({
							ttl: 'Evolution 3',
							prc: '$999',
							lines: [
								{class: 'earn-item__count__image--disabled', img: 'img9', input_val: '0', val: '/0', disabled: true},
								{class: 'earn-item__count__image--disabled', img: 'img10', input_val: '0', val: '/0', disabled: true},
								{class: 'earn-item__count__image--disabled', img: 'img11', input_val: '0', val: '/0', disabled: true},
								{class: '', img: 'img12', input_val: '0', val: '/1', disabled: false}
							],
							sell_price: '$0',
							sell_btn: 'Sell NFT',
							sell_disabled: true
						})




mixin item-earn(data)
	.earn-item
		.earn-item__img
			img(src="s/images/useful/earn/1.svg" alt="icon")
		.earn-item__info
			.earn-item__info-inner
				.earn-item__info-base
					span.earn-item__info-ttl.ttl--sm!= data.ttl
					.earn-item__info-price
						span!= data.prc
						span.earn-item__info-price__currency /NFT
					span.earn-item__info-sub (~$2.34)
				each line in data.lines
					.earn-item__count
						.earn-item__count__image(class='' + line.class ? line.class : null)
							img(src="s/images/useful/earn/#{line.img}.png", alt="image")
						.earn-item__count__block
							button.earn-item__count__block__btn(type="button", disabled)
								svg(viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
									circle(cx='12' cy='12' r='11.25' stroke='url(#paint0_linear_231_2025121212)' stroke-opacity='0.2' stroke-width='1.5' stroke-linecap='round')
									path(d='M17 11C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13L7 13C6.44771 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11L17 11Z' fill='url(#paint1_linear_231_2025111111)')
									defs
										lineargradient#paint0_linear_231_2025121212(x1='0.229665' y1='1.38462' x2='25.2452' y2='2.85792' gradientUnits='userSpaceOnUse')
											stop(stop-color='#5BACF2')
											stop(offset='1' stop-color='#2872B2')
										lineargradient#paint1_linear_231_2025111111(x1='6.11483' y1='11.1154' x2='17.2727' y2='15.0583' gradientUnits='userSpaceOnUse')
											stop(stop-color='#5BACF2')
											stop(offset='1' stop-color='#2872B2')
							.earn-item__count__block__middle
								.input-wrap
									input(type="text", value=line.input_val)
								span.earn-item__count__val!= line.val
							button.earn-item__count__block__btn(type="button")
								svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
									circle(cx='12' cy='12' r='11.25' stroke='url(#paint0_linear_231_2024)' stroke-opacity='0.2' stroke-width='1.5' stroke-linecap='round')
									path(d='M11 7C11 6.44772 11.4477 6 12 6C12.5523 6 13 6.44772 13 7V17C13 17.5523 12.5523 18 12 18C11.4477 18 11 17.5523 11 17V7Z' fill='url(#paint1_linear_231_2024)')
									path(d='M17 11C17.5523 11 18 11.4477 18 12C18 12.5523 17.5523 13 17 13L7 13C6.44771 13 6 12.5523 6 12C6 11.4477 6.44772 11 7 11L17 11Z' fill='url(#paint2_linear_231_2024)')
									defs
										lineargradient#paint0_linear_231_2024(x1='0.229665' y1='1.38462' x2='25.2452' y2='2.85792' gradientUnits='userSpaceOnUse')
											stop(stop-color='#5BACF2')
											stop(offset='1' stop-color='#2872B2')
										lineargradient#paint1_linear_231_2024(x1='6.11483' y1='6.69231' x2='18.6226' y2='7.42896' gradientUnits='userSpaceOnUse')
											stop(stop-color='#5BACF2')
											stop(offset='1' stop-color='#2872B2')
										lineargradient#paint2_linear_231_2024(x1='6.11483' y1='6.69231' x2='18.6226' y2='7.42896' gradientUnits='userSpaceOnUse')
											stop(stop-color='#5BACF2')
											stop(offset='1' stop-color='#2872B2')
						.earn-item__count__btn
							if line.disabled
								button.button.button--blue(type="button", disabled)
									span All
							else
								button.button.button--blue(type="button")
									span All
		.earn-item__sell
			.earn-item__sell__info
				span.earn-item__sell__title You will get
				span.earn-item__sell__price!= data.sell_price
				span.earn-item__sell__sub (~$48.24)
			.earn-item__sell__action
				if data.sell_disabled
					button.button.button--blue(type="button", disabled)
						span!= data.sell_btn
				else
					button.button.button--blue(type="button")
						span!= data.sell_btn