mixin faq(data)
	section.faq
		.container
			article.faq__content
				.section-title.section-title--center
					h2.h2 Have Questions? #[br] We've got answers!
				.faq__inner
					.faq__box.faq__box--opened
						button.faq__box__trigger(type="button")
							span How can I buy BPM tokens?
							.faq__box__trigger__icon
								+svg('icon-close')
						.faq__box__content
							.faq__box__inner
								p You can simply buy them through our website’s swap page. Or copy the contract of our token and buy it through pancake swap.
					.faq__box.faq__box--opened
						button.faq__box__trigger(type="button")
							span Why do I need these NFTs?
							.faq__box__trigger__icon
								+svg('icon-close')
						.faq__box__content
							.faq__box__inner
								p First of all this is NFTs which you can collect, and through seasons you can collect all of them to get last one — ultra rare. Second — you can stake your NFTs and get USDT as a reward.
					.faq__box.faq__box--opened
						button.faq__box__trigger(type="button")
							span How can I get more BPM-USDT LP tokens?
							.faq__box__trigger__icon
								+svg('icon-close')
						.faq__box__content
							.faq__box__inner
								p There are 4 ways of getting more LP tokens:
								ul.h-reset-list
									li 1) Use our special Liquidity contract and simply buy BPM-USDT tokens.
									li 2) Stake NFTs in the pools and get BPM-USDT as a reward.
									li 3) Stake already existing BPM-USDT LP tokens in auto-compaund pool.
									li 4) Sell us your NFTs through buyback contract.
					.faq__box.faq__box--opened
						button.faq__box__trigger(type="button")
							span You are talking about P2E games, what can we expect?
							.faq__box__trigger__icon
								+svg('icon-close')
						.faq__box__content
							.faq__box__inner
								p First of all, through the season we will create some simple p2e games, where you could earn BPM tokens or NFTs. But for sure, you will need to take risks, you can both earn a lot and lose a lot. Our main goal is to develop a fighting P2E game about our baby Pokemoons.
					.faq__box.faq__box--opened
						button.faq__box__trigger(type="button")
							span Can I earn BPM tokens?
							.faq__box__trigger__icon
								+svg('icon-close')
						.faq__box__content
							.faq__box__inner
								p Yes, you can! Simply go to staking page in our menu, where you can stake your BPM tokens and farm more of them (amount based on the volume of BPM).
					.faq__box.faq__box--opened
						button.faq__box__trigger(type="button")
							span I wanna know more about project, how can I do that?
							.faq__box__trigger__icon
								+svg('icon-close')
						.faq__box__content
							.faq__box__inner
								p Check out our detailed 
									a(href="#") https://ceo-6.gitbook.io/baby-pokemoon.
					.faq__box.faq__box--opened
						button.faq__box__trigger(type="button")
							span I do not need LP tokens, what I can do?
							.faq__box__trigger__icon
								+svg('icon-close')
						.faq__box__content
							.faq__box__inner
								p Simple use our special liquidity contract here (soon), send us tokens, and we will break them and send you tokens. Or you can manually do that on pancake (but with higher fees).
					.faq__box.faq__box--opened
						button.faq__box__trigger(type="button")
							span If I collect all 12 different NFTs, what will I get?
							.faq__box__trigger__icon
								+svg('icon-close')
						.faq__box__content
							.faq__box__inner
								p First of all you will get unique NFT which will approve that you collected everything from this season.
								p Second — for the first who collects the entire collection — there will be limited rewards!
								p.hint *Number of winners and amount of rewards will be announced later, please follow our news channels.
					.faq__box.faq__box--opened
						button.faq__box__trigger(type="button")
							span I came to the website, and everywhere I see only LP tokens, why did you do that?
							.faq__box__trigger__icon
								+svg('icon-close')
						.faq__box__content
							.faq__box__inner
								p We decided to connect everything in our project with our Liquidity = BPM-USDT. Through this way, we can support it really good, every action of the platform will help our liquidity and as a result our price will be more stable and less affected by dumps.