.faq {
    margin-bottom: 14rem;
    @media (max-width: $sw-sm-max) {
        margin-bottom: 10rem;
    }
    @media (max-width: $sw-xx-max) {
        margin-bottom: 8rem;
    }
    &__content {
        width: 100%;
        // max-width: 72.1rem;
        margin: 0 auto;
        .section-title {
            margin-bottom: 5.8rem;
        }
        // &-row {
        //     display: flex;
        //     align-items: center;
        //     justify-content: space-between;
        //     @media (max-width: $sw-sm-max) {
        //         flex-direction: column;
        //         align-items: flex-start;
        //         max-width: 45rem;
        //         margin: 0 auto;
        //     }
        //     &:not(:last-child):first-child {
        //         margin-bottom: 3.7rem;
        //         @media (max-width: $sw-sm-max) {
        //             margin-bottom: 4.8rem;
        //         }
        //         @media (max-width: 480px) {
        //             margin-bottom: 3.2rem;
        //         }
        //     }
        //     &:not(:last-child) {
        //         margin-bottom: 7.2rem;
        //         @media (max-width: $sw-sm-max) {
        //             margin-bottom: 4.8rem;
        //         }
        //         @media (max-width: 480px) {
        //             margin-bottom: 3.2rem;
        //         }
        //     }
        //     &:first-child {
        //         @media (max-width: $sw-sm-max) {
        //             flex-direction: column-reverse;
        //         }
        //         .faq__content-chapter {
        //             &:first-child {
        //                 @media (max-width: $sw-sm-max) {
        //                     margin-bottom: 0;
        //                 }
        //             }
        //             &:last-child {
        //                 @media (max-width: $sw-sm-max) {
        //                     margin-bottom: 4.8rem;
        //                 }
        //                 @media (max-width: 480px) {
        //                     margin-bottom: 2.4rem;
        //                 }
        //             }
        //         }
        //     }
        // }
        // &-chapter {
        //     width: 44.5rem;
        //     @media (max-width: $sw-sm-max) {
        //         width: 100%;
        //     }
        //     &:not(:last-child) {
        //         @media (max-width: $sw-sm-max) {
        //             margin-bottom: 4.8rem;
        //         }
        //         @media (max-width: 480px) {
        //             margin-bottom: 3.2rem;
        //         }
        //     }
        //     .h2 {
        //         text-align: right;
        //         @media (max-width: $sw-sm-max) {
        //             text-align: left;
        //         }
        //     }
        //     a {
        //         color: $primaryYellow;
        //         &:hover {
        //             @media (min-width: $sw-xs-min) {
        //                 color: lighten($primaryYellow, 5%);
        //             }
        //         }
        //     }
        // }
    }
    &__inner {
        column-count: 2;
        column-gap: 3rem;
        @media (max-width: $sw-xs-max) {
            column-count: inherit;
        }
    }
    &__box {
        width: 100%;
        background: #10202F;
        border-radius: 2.4rem;
        padding: 2.8rem 2.4rem;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        vertical-align: top;
        &:not(:last-child) {
            margin-bottom: 4.8rem;
            @media (max-width: $sw-xs-max) {
                margin-bottom: 3rem;
            }
        }
        &__trigger {
            cursor: pointer;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            text-align: left;
            font-family: $fredoka;
            font-size: 3.2rem;
            line-height: 1.25em;
            color: $white;
            position: relative;
            padding-right: 5.6rem;
            transition: color .3s ease;
            @media (max-width: $sw-xs-max) {
                font-size: 2.4rem;
            }
            @media (max-width: $sw-xx-max) {
                font-size: 2.2rem;
            }
            &:hover {
                @media (min-width: $sw-xs-min) {
                    color: #FCBE41;
                }
            }
            &__icon {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #10202F;
                box-shadow: 0px 32px 96px rgba(21, 26, 44, 0.32);
                width: 4rem;
                height: 4rem;
                border-radius: 1.2rem;
                position: absolute;
                top: 50%;
                transform: translateY(-50%) rotate(45deg);
                right: 7px;
                .faq__box--opened & {
                    .icon {
                        transform: rotate(-45deg);
                    }
                }
                .icon {
                    transition: transform .3s ease;
                    transform: rotate(-90deg);
                    font-size: 1.6rem;
                    color: #FCBE41;
                }
            }
        }
        &__content {
            display: none;
            .faq__box--opened & {
                display: block;
            }
            p, li {
                font-weight: 600;
                font-size: 2rem;
                line-height: 1.5em;
                color: #C4C7D1;
                margin-bottom: 0;
                @media (max-width: $sw-xs-max) {
                    font-size: 1.8rem;
                }
                & + p {
                    margin-top: 3rem;
                    @media (max-width: $sw-xs-max) {
                        margin-top: 2rem;
                    }
                }
            }
            ul {
                margin-top: 3rem;
                @media (max-width: $sw-xs-max) {
                    margin-top: 2rem;
                }
            }
            a {
                color: white;
                font-weight: 700;
                text-decoration: none;
                &:hover {
                    color: #FCBE41;
                }
            }
            .hint {
                margin-top: 1.6rem;
                font-weight: 800;
                font-size: 1.6rem;
                line-height: 1.5em;
                color: #C4C7D1;
            }
        }
        &__inner {
            padding-right: 10rem;
            padding-top: 1.6rem;
            @media (max-width: $sw-xs-max) {
                padding-right: 0;
            }
        }
    }
}