html {
	height: 100%;
	font-size: 10px;
}
body {
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100%;
	min-width: 320px;
	font-family: $nunito;
	font-weight: 400;
	// background-color: $mainDark;
	background-color: #0A0507;
	@media (max-width: $sw-sm-max) {
		background-color: $mainDark;
    }
}
img {
	max-width: 100%;
	height: auto;
}