.game-announcement {
    padding: 7rem 0 17.1rem 0;
    background-image: url('../../s/images/useful/game-announcement/game-ann-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    @media (max-width: $sw-sm-max) {
        padding: 7rem 0 10rem 0;
    }
    @media (max-width: $sw-xs-max) {
        padding: 7rem 0 7.5rem 0;
    }
    @media (max-width: $sw-xx-max) {
        padding: 2.6rem 0 7.5rem 0;
    }
    & + section.faq {
        padding-top: 14rem;
        @media (max-width: $sw-xs-max) {
            padding-top: 8rem;
        }
    }
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        opacity: 0.2;
        background: linear-gradient(0deg, rgba(8, 10, 12, 0.94), rgba(8, 10, 12, 0.94));
    }
    &__inner {
        position: relative;
        z-index: 1;
    }
    &__top {
        margin-bottom: 4.8rem;
        text-align: center;
        h1 {
            margin-bottom: 1.6rem;
            // font-family: "FredokaOne";
            font-family: "Nunito";
            font-weight: 900;
            font-size: 6rem;
            line-height: 1.33em;
            color: #FCBE41;
            @media (max-width: $sw-xx-max) {
                text-align: center;
                font-size: 3.2rem;
                margin-bottom: 3.2rem;
                font-weight: normal;
            }
        }
        p {
            font-weight: 600;
            font-size: 2rem;
            line-height: 1.5em;
            color: #C4C7D1;
            margin-bottom: 0;
            width: 100%;
            max-width: 72.6rem;
            margin: 0 auto;
            @media (max-width: $sw-xx-max) {
                text-align: center;
            }
            @media (max-width: $sw-xs-max) {
                max-width: 58.6rem;
            }
        }
    }
    &__info {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-left: -1.6rem;
        margin-right: -1.6rem;
        margin-bottom: 7rem;
        @media (max-width: $sw-xs-max) {
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 2.2rem;
        }
        @media (max-width: $sw-xx-max) {
            margin-bottom: 3rem;
        }
        &__col {
            padding: 0 1.6rem;
            width: calc(100% / 3);
            @media (max-width: $sw-xs-max) {
                width: 50%;
                margin-bottom: 4.8rem;
            }
            @media (max-width: $sw-xx-max) {
                width: 100%;
            }
        }
        &__item {
            width: 100%;
            text-align: center;
            p {
                margin-bottom: 0;
                font-weight: 600;
            }
        }
        &__title {
            display: block;
            width: 100%;
            font-size: 2.4rem;
            line-height: 1.5em;
            color: #FCBE41;
            margin-bottom: 1.6rem;
            font-weight: 700;
        }
    }
    &__timer {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        &__title {
            display: block;
            width: 100%;
            text-align: center;
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 1.5em;
            color: #C4C7D1;
            margin-bottom: 1.2rem;
            @media (max-width: $sw-xs-max) {
                margin-bottom: 1.5rem;
            }
            @media (max-width: $sw-xx-max) {
                margin-bottom: 2.4rem;
            }
        }
        .banner__content-article-timer {
            width: auto;
            margin-bottom: 3.6rem;
            @media (max-width: $sw-xs-max) {
                margin-bottom: 4.8rem;
            }
            @media (max-width: $sw-xx-max) {
                margin-bottom: 2rem;
            }
        }
        .button {
            width: 100%;
            max-width: 35rem;
        }
    }
}