mixin game-announcement(data)
	.game-announcement
		.container
			.game-announcement__inner
				.game-announcement__top
					h1 Future P2E project
					p Rise, Tarnished, and be guided by grace to brandish the power of the Elden Ringand become an Elden Lord in the Lands Between.
				.game-announcement__info
					.game-announcement__info__col
						.game-announcement__info__item
							span.game-announcement__info__title An Epic Drama from
							p A vast world where open fields with a variety of situations and huge dungeons with complex and three-dimensional designs are seamlessly connected.
					.game-announcement__info__col
						.game-announcement__info__item
							span.game-announcement__info__title Create your Own Character
							p In addition to customizing the appearance of your character, you can freely combine the weapons, armor, and magic that you equip. You can develop your character according to your play style, such as increasing your muscle strength to become a strong warrior, or mastering magic.
					.game-announcement__info__col
						.game-announcement__info__item
							span.game-announcement__info__title Unique Online Play
							p In addition to multiplayer, where you can directly connect with other players and travel together, the game supports a unique asynchronous online element that allows you to feel the presence of others.
				.game-announcement__timer
					span.game-announcement__timer__title Comming 1 March, 2022
					.banner__content-article-timer
						.banner__content-article-timer-col
							span.banner__content-article-timer-num 29
							span.banner__content-article-timer-txt Days
						.banner__content-article-timer-col
							span.banner__content-article-timer-num 12
							span.banner__content-article-timer-txt Hours
						.banner__content-article-timer-col
							span.banner__content-article-timer-num 54
							span.banner__content-article-timer-txt Minutes
						.banner__content-article-timer-col
							span.banner__content-article-timer-num 08
							span.banner__content-article-timer-txt Seconds
					button.button.js-open-modal(type="button", data-modal="11")
						+svg('icon-play-rounded')
						span Watch teaser