mixin swap-section(data)
	.swap-section
		.container
			h1 Exchange
			.swap-section__inner
				.swap-box
					.swap-box__top
						.swap-box__top__actions
							button.swap-box__btn(type="button")
								+svg('icon-filter')
							button.swap-box__btn(type="button")
								+svg('icon-reload')
					form.swap-box__body(action="javascript:void(0)")
						.swap-box__exchange
							.swap-box__exchange__side
								.swap-box__exchange__icon
									img(src="s/images/useful/swap/bnb.png", alt="bnb")
								.swap-box__exchange__info
									span.swap-box__exchange__info__title Swap from:
									button.swap-box__exchange__info__btn
										span BNB
										+svg('icon-sm-arr-down')
							.swap-box__exchange__field
								input.form-control(type="text", placeholder="0.0")
						.swap-box__divider
							button.swap-box__btn(type="button")
								+svg('icon-transfer')
						.swap-box__exchange
							.swap-box__exchange__side
								.swap-box__exchange__icon
									.swap-box__exchange__icon__plug
								.swap-box__exchange__info
									span.swap-box__exchange__info__title Swap to:
									button.swap-box__exchange__info__btn
										span Select
										+svg('icon-sm-arr-down')
							.swap-box__exchange__field
								input.form-control(type="text", placeholder="0.0")
						button.button.button--small(type="submit")
							+svg('icon-wallet')
							span Connect wallet
				.swap-box
					.swap-box__top
						.swap-box__top__actions
							button.swap-box__btn(type="button")
								+svg('icon-filter')
							button.swap-box__btn(type="button")
								+svg('icon-reload')
					form.swap-box__body(action="javascript:void(0)")
						.swap-box__balance
							span.swap-box__balance__val Balance: 3.2545
						.swap-box__exchange
							.swap-box__exchange__side
								.swap-box__exchange__icon
									img(src="s/images/useful/swap/bnb.png", alt="bnb")
								.swap-box__exchange__info
									span.swap-box__exchange__info__title Swap from:
									button.swap-box__exchange__info__btn
										span BNB
										+svg('icon-sm-arr-down')
							.swap-box__exchange__field
								input.form-control(type="text", placeholder="0.0")
						.swap-box__divider
							button.swap-box__btn(type="button")
								+svg('icon-transfer')
						.swap-box__exchange
							.swap-box__exchange__side
								.swap-box__exchange__icon
									.swap-box__exchange__icon__plug
								.swap-box__exchange__info
									span.swap-box__exchange__info__title Swap to:
									button.swap-box__exchange__info__btn
										span Select
										+svg('icon-sm-arr-down')
							.swap-box__exchange__field
								input.form-control(type="text", placeholder="0.0")
						.swap-box__price
							span.swap-box__price__title Price
							.swap-box__price__val
								span 0,001599 BNB per NYT
								button.swap-box__price__update(type="button")
									+svg('icon-exchange')
						button.button.button--small(type="submit")
							span Swap!
						.swap-box__info
							.swap-box__info__line
								.swap-box__info__line__title
									span Minimum received
									button(type='button').tooltip-container
										+svg('icon-question')
										span.tooltip-dropdown
											span Every NFT in our New Year collection has its own rarity.
								span.swap-box__info__line__descr 0.000008777551 BTCB
							.swap-box__info__line
								.swap-box__info__line__title
									span Price Impact
									button(type='button').tooltip-container
										+svg('icon-question')
										span.tooltip-dropdown
											span Every NFT in our New Year collection has its own rarity.
								span.swap-box__info__line__descr.swap-box__info__line__descr--yellow 0.04%
							.swap-box__info__line
								.swap-box__info__line__title
									span Trade fee
									button(type='button').tooltip-container
										+svg('icon-question')
										span.tooltip-dropdown
											span Every NFT in our New Year collection has its own rarity.
								span.swap-box__info__line__descr 0.007102 BNB ~ 2.91729 $
							.swap-box__info__line
								.swap-box__info__line__title
									span Fee Return
									button(type='button').tooltip-container
										+svg('icon-question')
										span.tooltip-dropdown
											span Every NFT in our New Year collection has its own rarity.
								span.swap-box__info__line__descr 3.7720621 BSW ~ 2.91729 $
							.swap-box__info__line
								.swap-box__info__line__title
									span Route
									button(type='button').tooltip-container
										+svg('icon-question')
										span.tooltip-dropdown
											span Every NFT in our New Year collection has its own rarity.
								span.swap-box__info__line__descr BUSD > BNN > ETH > USDT