.swap {
    &-section {
        position: relative;
        z-index: 1;
        padding: 7.2rem 0 12.4rem 0;
        position: relative;
        @media (max-width: $sw-xx-max) {
            padding: 7.2rem 0 4rem 0;
        }
        &__inner {
            width: 100%;
            max-width: 73rem;
            margin: 0 auto;
        }
        h1 {
            width: 100%;
            text-align: center;
            margin-bottom: 5.6rem;
            font-size: 6rem;
            line-height: 1.3em;
            color: #FCBE41;
            font-family: $fredoka;
            @media (max-width: $sw-xx-max) {
                font-size: 3.2rem;
                margin-bottom: 3.2rem;
            }
        }
    }
    &-box {
        width: 100%;
        background: #080A0C;
        box-shadow: 0px 40px 80px #000000;
        border-radius: 3.6rem;
        padding: 2.1rem 2.4rem 3.8rem 2.4rem;
        position: relative;
        z-index: 1;
        & + .swap-box {
            margin-top: 7rem;
        }
        &__body {
            display: block;
            width: 100%;
            .button {
                width: 100%;
                margin-top: 3.2rem;
                &:after {
                    display: none;
                }
            }
        }
        &__balance {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-bottom: 1.3rem;
            padding-right: 1.8rem;
            @media (max-width: $sw-xx-max) {
                padding-right: 0;
            }
            &__val {
                font-size: 1rem;
                line-height: 1.2em;
                text-align: right;
                color: #C4C7D1;
                text-transform: uppercase;
                @media (max-width: 575px) {
                    position: relative;
                    bottom: initial;
                    right: initial;
                    display: block;
                    width: 100%;
                    padding-right: 2.4rem;
                    margin-bottom: 5px;
                }
            }
        }
        &__top {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 2rem;
            @media (max-width: 575px) {
                margin-bottom: 1.5rem;
            }
            &__actions {
                flex-shrink: 0;
                margin-left: auto;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-right: -7px;
            }
        }
        &__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            width: 3.2rem;
            height: 3.2rem;
            border-radius: 4px;
            background-color: transparent;
            transition: background-color .3s ease;
            &:hover {
                @media (min-width: $sw-xs-min) {
                    background-color: rgba(255,255,255,.07);
                }
            }
            &:active {
                @media (min-width: $sw-xs-min) {
                    background-color: rgba(255,255,255,.1);
                }
            }
            .icon-filter {
                font-size: 2rem;
                color: #C4C7D1;
            }
            .icon-reload {
                color: #C4C7D1;
                font-size: 2rem;
            }
            .icon-transfer {
                color: #C4C7D1;
                font-size: 1.6rem;
            }
            &:not(:last-child) {
                margin-right: 1.8rem;
            }
        }
        &__title {
            display: block;
            width: 100%;
            font-weight: 600;
            font-size: 2rem;
            line-height: 1.5em;
            color: $black;
            margin-bottom: 4px;
        }
        &__subtitle {
            display: block;
            width: 100%;
            font-size: 1.4rem;
            line-height: 1.7em;
            color: grey;
        }
        &__divider {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 1.2rem 0 1.2rem 8px;
            .icon-arrow,
            .icon-arrow-down {
                font-size: 1.6rem;
                margin: 8px 4px;
                color: #ffffff;
            }
            .icon-arrow {
                transform: rotate(-90deg);
            }
        }
        &__exchange {
            display: flex;
            align-items: center;
            @media (max-width: 575px) {
                flex-direction: column;
                align-items: flex-start;
            }
            &__side {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-right: 3.2rem;
                @media (max-width: 575px) {
                    margin-right: 0;
                }
            }
            &__icon {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                margin-right: 1.6rem;
                &__custom {
                    width: 4.8rem;
                    height: 4.8rem;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #FAFAFC;
                }
                &__plug {
                    width: 4.8rem;
                    height: 4.8rem;
                    border-radius: 50%;
                    background: #10202F;
                    border: 1px dashed #3581c2;
                }
                .icon {
                    font-size: 4.8rem;
                }
            }
            &__info {
                min-width: 9.2rem;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                &__title {
                    font-weight: bold;
                    font-size: 1rem;
                    line-height: 1.2em;
                    text-transform: uppercase;
                    color: #AAA9B0;
                    margin-bottom: 6px;
                }
                &__btn {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    font-weight: bold;
                    font-size: 2.4rem;
                    line-height: 1.5em;
                    color: #FCBE41;
                    cursor: pointer;
                    .icon {
                        flex-shrink: 0;
                        margin-left: 1.2rem;
                        color: $red;
                        font-size: 7px;
                    }
                    &--red {
                        color: red;
                    }
                }
                &__val {
                    font-family: $gopher;
                    font-weight: 600;
                    font-size: 2.4rem;
                    line-height: 1.5em;
                    color: #FFFFFF;
                    text-transform: uppercase;
                }
            }
            &__field {
                flex-grow: 1;
                position: relative;
                @media (max-width: 575px) {
                    width: 100%;
                    margin-top: 1rem;
                }
                .form-control {
                    padding: 0 7.8rem 0 2.4rem;
                }
                .button {
                    position: absolute;
                    right: 6px;
                    top: 50%;
                    transform: translateY(-50%);
                    min-height: auto;
                    height: 4.4rem;
                    padding: 0 5px;
                    border-radius: 1.6rem;
                    width: 6rem;
                    margin-top: 0;
                    span:not(.header__content-nav-sup) {
                        font-size: 1.4rem;
                        line-height: 1em;
                    }
                }
            }
        }
        &__price {
            margin: 2.8rem 0 1.1rem 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 3px;
            &__title {
                font-size: 1rem;
                line-height: 1.2em;
                color: #C4C7D1;
                text-transform: uppercase;
            }
            &__val {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-weight: 700;
                font-size: 1rem;
                line-height: 1.2em;
                color: #C4C7D1;
                text-transform: uppercase;
            }
            &__update {
                width: 1.8rem;
                height: 2.4rem;
                margin-left: 4px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                &:hover {
                    @media (min-width: $sw-xs-min) {
                        .icon-exchange {
                            color: #FCBE41;
                        }
                    }
                }
                .icon-exchange {
                    color: #C4C7D1;
                    font-size: 1.2rem;
                    transition: color .3s ease;
                }
            }
            & + .btn {
                margin-top: 0;
                margin-bottom: 2.4rem;
            }
        }
        &__updated {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: transparent;
            margin-top: 2.4rem;
            margin-bottom: 4rem;
            padding: 2.4rem;
            border: 1px solid #FCBE41;
            border-radius: 1.6rem;
            @media (max-width: 575px) {
                padding: 2rem;
                flex-direction: column;
            }
            &__side {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .icon-danger {
                    flex-shrink: 0;
                    font-size: 2rem;
                    color: #FCBE41;
                    margin-right: 1.4rem;
                }
            }
            &__title {
                font-size: 1.6rem;
                line-height: 1.5em;
                color: #FCBE41;
                font-family: $readex;
            }
            .button {
                width: 12rem;
                margin-top: 0;
                height: 6rem;
                @media (max-width: 575px) {
                    width: 100%;
                    margin-top: 1.5rem;
                }
            }
        }
        &__receive-info {
            margin-bottom: 2.4rem;
            margin-top: 2.4rem;
            p {
                font-size: 1.2rem;
                line-height: 1.3em;
                color: #C4C7D1;
                font-family: $readex;
            }
            b {
                font-weight: 600;
            }
        }
        &__info {
            margin-top: 3.3rem;
            &__line {
                display: flex;
                align-items: center;
                justify-content: space-between;
                @media (max-width: 479px) {
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                }
                & + .swap-box__info__line {
                    margin-top: 1.6rem;
                }
                &__title {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    font-weight: 600;
                    font-size: 1.4rem;
                    line-height: 1.4em;
                    color: #C4C7D1;
                    @media (max-width: 479px) {
                        margin-bottom: 1rem;
                    }
                    .tooltip-container {
                        margin-left: 4px;
                    }
                }
                &__descr {
                    text-align: right;
                    font-weight: 700;
                    font-size: 1.4rem;
                    line-height: 1.4em;
                    color: #C4C7D1;
                    &--yellow {
                        color: #FCBE41;
                    }
                }
            }
        }
    }
}