mixin wrap-unwrap(data)
	.wrap-unwrap
		.container
			.section-title.section-title--center
				h2.h2 Wrap & Unwrap
				p Every NFT in our New Year collection has its own rarity. The better rarity it has - the better and bigger reward you will get if you own one of the NFTS. Here you can see the estimated size of the reward for each rarity.
			.wrap-unwrap__inner
				.wrap-unwrap__tabs
					button.wrap-unwrap__tabs__btn.is-active(type="button")
						span Wrap
					button.wrap-unwrap__tabs__btn(type="button")
						span Unwrap
				.wrap-unwrap__content
					.swap-box
						form.swap-box__body(action="javascript:void(0)")
							.swap-box__balance
								span.swap-box__balance__val Balance: 3.2545
							.swap-box__exchange
								.swap-box__exchange__side
									.swap-box__exchange__icon
										img(src="s/images/useful/swap/bnb.png", alt="bnb")
									.swap-box__exchange__info
										span.swap-box__exchange__info__title Wrap from:
										button.swap-box__exchange__info__btn
											span BNB
											+svg('icon-sm-arr-down')
								.swap-box__exchange__field
									input.form-control(type="text", placeholder="0.0")
									button.button.button--blue(type="button") 
										span Max
							.swap-box__exchange
								.swap-box__exchange__side
									.swap-box__exchange__icon
										img(src="s/images/useful/wrap-unwrap/USDT-BPM.svg", alt="image")
									.swap-box__exchange__info
										span.swap-box__exchange__info__title Swap to:
										.swap-box__exchange__info__btn
											span USDT-BPM LP
								.swap-box__exchange__field
									input.form-control(type="text", placeholder="0.0")
							button.button.button--small(type="submit")
								span Wrap
					.swap-box
						form.swap-box__body(action="javascript:void(0)")
							.swap-box__balance
								span.swap-box__balance__val Balance: 3.2545
							.swap-box__exchange
								.swap-box__exchange__side
									.swap-box__exchange__icon
										img(src="s/images/useful/wrap-unwrap/USDT-BPM2.svg", alt="image")
									.swap-box__exchange__info
										span.swap-box__exchange__info__title Unwrap from:
										.swap-box__exchange__info__btn
											span USDT-BPM LP
								.swap-box__exchange__field
									input.form-control(type="text", placeholder="0.0")
							.swap-box__exchange
								.swap-box__exchange__side
									.swap-box__exchange__icon
										img(src="s/images/useful/wrap-unwrap/BPM.png", alt="BPM")
									.swap-box__exchange__info
										span.swap-box__exchange__info__title Unwrap to:
										.swap-box__exchange__info__btn
											span BNB
								.swap-box__exchange__field
									input.form-control(type="text", placeholder="0.0")
							button.button.button--small(type="submit")
								span Unwrap