.wrap-unwrap {
    padding: 8rem 0 10rem 0;
    @media (max-width: $sw-xx-max) {
        padding: 4rem 0 8rem 0;
    }
    &__inner {
        width: 100%;
        max-width: 73rem;
        margin: 0 auto 10rem auto;
        .swap-box {
            padding: 4rem 2.4rem 3.8rem 2.4rem;
            @media (max-width: $sw-xs-max) {
                padding: 3rem 2.4rem 3.8rem 2.4rem;
            }
            &__exchange {
                & + .swap-box__exchange {
                    margin-top: 4rem;
                    @media (max-width: $sw-xs-max) {
                        margin-top: 3rem;
                    }
                }
                &__side {
                    min-width: 22.7rem;
                    @media (max-width: 575px) {
                        min-width: auto;
                    }
                }
            }
        }
    }
    &__tabs {
        display: flex;
        justify-content: center;
        margin-bottom: 4rem;
        &__btn {
            min-width: 19.3rem;
            height: 5.6rem;
            border-radius: 2rem;
            background-color: transparent;
            transition: background-color .3s ease, color .3s ease;
            font-family: $fredoka;
            font-weight: 400;
            font-size: 2rem;
            line-height: 1em;
            padding: 0 1.5rem;
            text-align: center;
            color: #FCBE41;
            @media (max-width: $sw-xs-max) {
                min-width: 12rem;
                width: auto;
                margin: 0 1rem;
            }
            &.is-active {
                color: $white;
                background-color: #FCBE41;
            }
        }
    }
}